## [:< ##

# name  = zenka-startup.v7
# descr = 'test-link-upgrade' zenka startup configuration used by 'v7' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,.,,.,,,,,,.,,,,,.,.,,,,,,,,.,,,,,,,,,,,,,,..,,...,.,.,...,.,.,...,,,.,,,.,
#FRMB2GHCIXGQSF7Y4NOI3ULLP5USHHDAVTDBYZFAA6NUDEMDWR2ZI2VZH4MWWO3PLHUUO67RPDEHE
#\\\|K57EJWA72PAFPP24MKK4WWLZMSLMDUTJQKDAS63LEPNSIHEBQ5K \ / AMOS7 \ YOURUM ::
#\[7]AN5M4KDHJTEAX4BFTUPSQC3S77QN7G254TMUJEUQRRSF3WIW5KDI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
