## [:< ##

# name  = start.cfg
# descr = 'test-link-upgrade' zenka startup configuration used by 'v7' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,..,...,.,.,.,.,...,,.,,,.,,,.,,.,.,,..,,,,,..,,...,...,..,,.,,,,,.,,.,,,..,
#VFZOOKYWUQI7BOU4IREV376CQCSTRDOM4E5HRMGZO77AAGLI62WECARDSPKXQUJL3RMM5QH65OJDG
#\\\|EULTJ2A5UI3R3G2PX4JNNFYW5E4NL7PH6TECT7KB2CWQXQ3A4RV \ / AMOS7 \ YOURUM ::
#\[7]QRQXEDYOIGM7R2XFPMGQEVN5MBBOADKGHTTLNTS4HNQ5WEON52CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
