## [:< ##

# name  = start.cfg
# descr = 'test-link-upgrade' zenka startup configuration used by 'v7-zenki' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,.,,,,,,...,,.,,,,.,..,,...,..,,,,.,,..,,,,,..,,...,...,.,.,,.,,.,,,.,.,.,.,
#YSMG7EMFFPKDMUDOSOOF55N24LFMYHGKGPZLCFH5EBFBALGCB4TDA4CQV2JLKI4JT2XJIBI4LQCUI
#\\\|7246TAIADV5JE6QQKLVFZQ77AEGTUXEE7QYN4M5TOXC36LKKODW \ / AMOS7 \ YOURUM ::
#\[7]JIRNSAWM4UMKQMV57YOJCH4IW4DXXBI3UKVPP7NYEHUQGFCTZOCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
