
dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,..,...,,,,,...,,.,,,..,...,,..,,,,,,.,,,,,,..,,...,...,...,..,,,,.,,,.,,.,,
#YMM5ZMGLGSOA4AAQCOQETX357PCG7ODYQEV7DSRHLLNN2DP3INO2EMNO3FXCBGRGYQQR3TGQ7ZKEG
#\\\|2SRUYLKII5D2X2BC5HWSCC5EQDWZJL26VZZPQILMX5LGM6AUCZL \ / AMOS7 \ YOURUM ::
#\[7]AS3C6ID2H3MDTDWD6WZJBYM5O23H7MYEWMFPQ7I4QQ4RE6LY7YBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
