
dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,,,,,,.,...,,,.,,..,...,..,,...,..,,...,,,,,..,,...,...,...,.,.,..,,,,,,..,,
#33OYBMBEFKJHBQJTFVBADVQHTK6RQRCC63OJFJOUSWGSX7YJ7AYVY46FKJL3UQPAE2P2V2PNUBU7U
#\\\|JUEQQCHVSMWNFQ5ZYK6HDKCJS4ZBF2GEFEMRFW2PPYULIFUVDIZ \ / AMOS7 \ YOURUM ::
#\[7]7MX5DZW3EX2OM2S6RI4UZQTQPYEZAWC56WXIINOTJ3WUKMKLMUCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
