## [:< ##

# name  = start.cfg
# descr = 'reenc-msg' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox compton
max_subname_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,,,,..,.,.,,,,,,..,,..,..,,...,.,,,.,,,..,,...,...,.,.,.,.,,.,,,.,,,..,
#2RDOG7LEKH4YS6NR7T7WM4LO5VBKXIYIJC5ADKD4ZVOKEQAV5YO7G4EZQGJV4LU6MX3SRQJ4PRGRI
#\\\|2NIJ7EDAV2VMLA3AAPXGFTD5L3FAGOAA35SR3WT2O6ONKKSO36K \ / AMOS7 \ YOURUM ::
#\[7]YE7FF7IYFB4SZDUZ5DBDIJLN5AY2W3QZ2VMYZBKMOSAO5VK3IQAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
