## [:< ##

# name  = start.cfg
# descr = 'kimi-web' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  kimi-web.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<kimi-web.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{kimi-web.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,..,,.,,,,.,.,.,,,.,,,.,.,.,.,.,.,,,,,.,.,,,..,,...,...,...,...,...,,..,,.,,
#T2D72GU7S4VCTGXMMY2H52QW6BXORN4RAVFCMVXT4BJVGRKJUAJSGA6IF2RBK5EUK53EUMVPKPHWK
#\\\|6B4S5JVNTHKV2Z7QJJSQR3XDRNS6H2NZSXF65K4MX7F3TLFDFJZ \ / AMOS7 \ YOURUM ::
#\[7]GOPUAHB5KCU6TO4C2DXU2RBL3Y5JGDEWEKSNNUVMLS4HRLNZ72AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
