## [:< ##

# name  = start.cfg
# descr = 'kimi-web' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  kimi-web.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<kimi-web.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{kimi-web.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,,.,.,.,.,.,,,.,.,,,,..,.,.,...,...,.,,,,.,,..,,...,...,,,,,,,,,,,.,.,.,,,,,
#IAU4WHYIHWRQKABDIDYE3KVVUF6IAIIOCHRHP5EIZODKMHXXWNSVIGWYJIODYKFMEUPW2ONZH342E
#\\\|ZU23GP656DJ532P37CL6W57RYMBQ7BKAUV752QDIQNQRY43X534 \ / AMOS7 \ YOURUM ::
#\[7]YV2FRJLUPPQX6Z24LEWH6QWBPUJMLNG3H2DPTIPDD246Z7ZLHMBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
