## [:< ##

# name  = start.cfg
# descr = 'protocol-7-menu' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 compton
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,.,,,,.,,..,,.,,,,.,,,,,,,.,,,.,,,,,,.,.,..,,...,...,,,.,,..,,,,,.,.,,.,,
#Q7W47GW4ZET65VOJQUJFN6I6KHJORLNELFMYZQH57N7VNBE5NDD32UZAKJFG55DX6RA3F3KRYJUII
#\\\|GL3DBCD5RJAAXQE4HHQXMPHVXHYG6XPTRASEABWVTV7LB6VS2NS \ / AMOS7 \ YOURUM ::
#\[7]BU4RHFN3BGUYXEFO74DXKKKMJVIBDLNYLYLYZDGTTPK5JAGPI2BY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
