## [:< ##

# name  = start.cfg
# descr = 'protocol-7-menu' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 compton
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,..,,.,,,,.,,..,,,.,...,,,,,.,,,...,,.,,..,,...,...,...,.,.,...,.,,,,.,,
#GFMD5RMWDGCX4IAKUP4PS3DVTC5YP2ATXH2LFE64XEQ5G3SOWPTVQ4CXPV2XCM7JAEVVH5UGM3JAK
#\\\|7S5NODQBIZUDCIEKU7AJNOR3MJOSDFXM63EEDBS54H5OVY7NH5I \ / AMOS7 \ YOURUM ::
#\[7]VRNMBTALDBKN34Q57PRLKTIVMUUFQ4NQBPP6WCNPXFBIZTM222BY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
