## [:< ##

# name  = start.cfg
# descr = 'audio' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,,,,,,.,..,,.,,,..,,...,..,,,,.,,..,,.,,.,,,..,,...,...,.,,,.,.,.,,,,..,.,.,
#4GAQBMVQWNN76JKYNZD62S2BDRJKF5ASHFXZ4JY2UGZ42WAFN3WHORU7LGNFD6WCQTTP3TWZJY6XA
#\\\|6PCQB5GEKSXB7HXJGBAX3JIKJDDURK3JCYLFTOFFDFWXTIPAJ6P \ / AMOS7 \ YOURUM ::
#\[7]MHIOZGVVPFIR5VUPLCVX3D67OGUF6HSW2WHWMC34BL4PC2BSAKCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
