## [:< ##

# name  = start.cfg
# descr = 'audio' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,..,,,.,,,.,,..,.,,,..,,,,,,,,,,...,,..,,..,..,,...,...,...,,..,.,,,..,,,,.,
#7QFWDI4KQKWGQY6E3CSDI47PFBKVEDJ7BHERJ3E3S5TWDGPUO5YLENZ2YWYXCHTML4RLQ77UUST6A
#\\\|CMQSQHE7WP6NUOYIJJ5IUK6J72C5KAY454RYLGTDNG22NPQT4DY \ / AMOS7 \ YOURUM ::
#\[7]KT6RLEBT2YVLYFIIEJ7QIZMBQOPKRLIHFCN4TFQ2NBM4IMNMOSBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
