# >:]

# name  = root.spawn_config.local
# descr = defines agent startup for setup 'local'

.: globals :.

  agents.enabled = core log config # file-daemon system ssh udev
                 # xserver openbox compton layout playlist

.: agents :.

  - core

      max_concurrency = 1
      ping.timeout = 3

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]

      : agent-init :
        [base.auth.set_root_key:'<{core.key}>']

      : root-post-init :
        status.post-init = [root.callback.connect_to_core:<instance_id>]
        [root.callback.register_ondemand]

      : startup-failure :
        [root.shutdown:'core-agent startup failure']

  - config

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - log

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - discover

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - system

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - events

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - file-daemon

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - fan-int

      dependencies = core power
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - fs

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:42]

  - ssh

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - udev

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - power

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Device::Gembird
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:33]

  - xserver

      dependencies = core
      max_concurrency = 1
      ping.timeout = 9

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

      : root-post-init :
        [root.callback.get_x11_display]
        status.post-init = 1

  - hide-mouse

      dependencies = xserver
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:1]

  - screenshot

      dependencies = xserver
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:69]

  - unclutter

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - openbox

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

 - compton

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - layout

      dependencies = core xserver openbox
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - dbus

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - notify-osd

      dependencies = core xserver compton dbus
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - osd-logo

      dependencies = core xserver compton
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3 Glib::Event
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - loadsplash

      dependencies = core xserver openbox
      max_subname_concurrency = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3 Glib::Event
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - reenc-msg

      dependencies = core xserver openbox
      max_subname_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - notify

      dependencies = notify-osd
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:4200]

  - media

      dependencies = core xserver openbox

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - browser

      dependencies = core xserver openbox

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3 Glib::Event Gtk3::WebKit2
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - ticker-gtk

      dependencies = core xserver openbox # rss-ticker
      max_subname_concurrency = 1         # ^-- enable rss_updates in ticker-gtk
      inherit_subname = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3 Glib::Event Cairo
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - ticker-sdl

      dependencies = core xserver openbox
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - rss-ticker

      dependencies = core playlist
      max_concurrency = 1
      inherit_subname = 1
      ping.timeout = 42

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - httpd

      dependencies = core

      : root-init :
        start_mode = exec-sic
        max_concurrency = 1
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - web

      dependencies = core

      : root-init :
        start_mode = exec-sic
        max_concurrency = 1
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - download

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:33]


  - playlist

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - weather

      dependencies = core
      spawn.on-demand = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - storchencam

      dependencies = core xserver openbox
      max_concurrency = 1
      ping.timeout = 270

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - pong-game

      dependencies = core xserver openbox
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - pdf2html

      dependencies = core playlist
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = FindBin Glib::Object::Introspection
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:30]

  - image2html

      dependencies = core playlist
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:30]

  - colortoalpha

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:23]

  - povray

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:142]

  - impressive

      dependencies = core playlist xserver openbox
      ping.timeout = 13

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - mpv

      dependencies = core playlist xserver openbox
#     spawn.on-demand  = 1
#     ping.disabled    = 1
#     respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - ffmpeg

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:42]

  - mediainfo

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:64]

  - webcam

      dependencies = core xserver openbox playlist
      ping.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - geoloc

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:13]

  - btrx

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - plnx

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_anum:42]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']


## external program example:

#  - xclock
#      max_concurrency = 5
#      dependencies = xserver
#
#      : root-init :
#        start_mode = exec-external
#        exec_bin = /usr/bin/xclock
#        exec_usr = nailara     # <- supports '<x11-user>' (see ./conf/desktop)

  - moodlight

      max_concurrency = 1
      dependencies = core

      : root-init :
        start_mode = exec-external
        exec_bin = piglow_moodlight.pl
        exec_usr = root

  - dist-upgrade

      ping.disabled  = 1
      max_concurrency = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-external
        exec_bin = debian_dist_upgrade.sh
        exec_usr = root

  - iss

      max_concurrency = 1
      dependencies = xserver openbox osd-logo

      : root-init :
        start_mode = exec-external
        exec_bin = iss
        exec_usr = root
