[Unit]
Description=nailara nroot agent
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/nailara/bin/nailara nroot -na
Restart=always

[Install]
WantedBy=multi-user.target
