[Unit]
Description=nailara root agent
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/nailara root
Restart=always

[Install]
WantedBy=multi-user.target
