[Unit]
Description=protocol-7 nroot agent
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/nailara/bin/protocol-7 nroot -na
Restart=always

[Install]
WantedBy=multi-user.target
