## [:< ##

# name  = start.cfg
# descr = 'X-11' zenka startup configuration used by 'v7' zenka

dependencies   = cube
max_concurrency   = 8
max_subname_concurrency = 1
heartbeat.timeout = 14
restart.min_delay = 0.7
zenka-start.timeout = 42
## [ in case of immediate errors ]
startup-error.retry-count   = 2
startup-error.retry-min-delay = 5

##  optional preferred subname for X-11 group-aware instance resolution  ##
# zenki.X-11.preferred_subname =

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

: v7-post-init :
  [v7.callback.get_x11_display:<instance_id>]
  status.post-init = 1

: startup-error :
  [v7.callback.xorg-error-handler:<instance_id>]

#,,,.,,,.,,,,,,,,,,,.,,,.,,..,,,,,.,,,,,,,..,,..,,...,...,.,,,..,,.,,,,,,,.,.,
#F3D3QERRHGQWQVUJVZG5M2RXGZWW4LE5EDQOZBGX5DN5CAJTTWBA362L227AOCQCV3K5PNHKO3YX4
#\\\|VNWFOHUFHTQPWDSMP3MMWXW6JKBU2IAY6DSDQ4VOJOQGFT66LV4 \ / AMOS7 \ YOURUM ::
#\[7]SRE63H5PFSCFHFYSREJQ4QOINWMKKQ2MPFFDPZHXIIAGFWRGACAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
