## [:< ##

# name  = start.cfg
# descr = 'X-11' zenka startup configuration used by 'v7-zenki' zenka

dependencies   = cube
max_concurrency   = 8
max_subname_concurrency = 1
heartbeat.timeout = 14
restart.min_delay = 0.7
zenka-start.timeout = 42
## [ in case of immediate errors ]
startup-error.retry-count   = 2
startup-error.retry-min-delay = 5

##  optional preferred subname for X-11 group-aware instance resolution  ##
# zenki.X-11.preferred_subname =

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

: v7-post-init :
  [v7-zenki.callback.get_x11_display:<instance_id>]
  status.post-init = 1

: startup-error :
  [v7-zenki.callback.xorg-error-handler:<instance_id>]

#,,.,,.,.,...,,..,.,,,,.,,,..,.,.,...,...,,.,,..,,...,...,...,,,,,,.,,,..,.,,,
#UPOGWDTK633FQ4EUY7OQWVN2OMJV663XTESZKLCJTSGDMCFUGWW3EM32XM23TM2A2RKBELFCG6IWA
#\\\|LCRPAX4UJTW2EMJKFD3X324SHM5QAVZYZ62375KNZ3OJB6SD3RC \ / AMOS7 \ YOURUM ::
#\[7]EXOKVFFCPLF4PCHFMTWPCRW32LT6NLDUMT65WWX4RBDOXMPPXSAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
