## [:< ##

# name  = start.cfg
# descr = 'calc' zenka startup configuration used by 'v7-zenki' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
stdio.multiplex    = yes

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]
  [base.stdio_multiplex.connect]

#,,..,...,,..,,..,...,..,,,..,,,,,.,,,.,.,,,,,..,,...,...,..,,.,,,,,,,,,.,,,.,
#7F7RL2OPBRMF6QCQNXXZHXRVEKZI356TU7DCQLODPT2RHHA62ZX67XYBJQTQH75LVJ4BTEVTTOIB4
#\\\|EW6JXR3B6QGDNXJGBY5DH7R65IO3W2ZN7WXGXKJA3CRY3KKAKHF \ / AMOS7 \ YOURUM ::
#\[7]CPK52RERRJNDBU4SUAE37NCSZLFQWO2XFUUJ5I4XCRXHUVV5XEBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
