## [:< ##

# name  = start.cfg
# descr = 'calc' zenka startup configuration used by 'v7' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
stdio.multiplex    = yes

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]
  [base.stdio_multiplex.connect]

#,,,,,,,.,,.,,...,,..,,,.,,,,,,..,...,,,,,,,.,..,,...,...,,,.,,,,,,,.,..,,,,,,
#5YLDWBN6KOFIXKEVVYWW2VVBVMMBBDKCIU5TI2QQPMERSP6BJ7IPT3THAF72JRYJQFUZJ6ABJGS34
#\\\|JGZUN3AQMPFILSFGDQST3WN4X5YKE6YET7VN6RAC37AHUICHYTI \ / AMOS7 \ YOURUM ::
#\[7]S46EJXSQ754DZDBMIQOED7Z754FT6IJYQF4BAPMWGGVR6HJEHQCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
