## [:< ##

# name  = start.cfg
# descr = 'transport' zenka startup configuration used by 'v7' zenka

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,,,,,.,,...,,,.,..,,,,,,,..,,,,,,..,,..,..,,..,,...,..,,,..,,,,,,,,,.,,,,,,,
#GDVBAIIQIY2CA6BJNFFYFOOXRDY2SK5XDKZXAR2WW5TK2TPGYNHRGEFHG3D6JLF42YQ6L4C2ADONE
#\\\|PUWUAOSFO55YYKAM5H4PIT5VUGHXWDZ3YNTY2AMLCWOPT27I62W \ / AMOS7 \ YOURUM ::
#\[7]MEXTOJ62TLABZILKGXXHMCIY65C5VULWPYC5RQUCC2DZPXAHQIDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
