## [:< ##

# name  = start.cfg
# descr = 'transport' zenka startup configuration used by 'v7-zenki' zenka

start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,..,..,,.,.,.,,,,,.,..,,,.,,,.,,,,.,,,,,...,..,,...,...,,,,,.,.,,.,,..,,.,,,
#VAYXE3MDS7JWGESHLPGNVX3JYZ5BZYDIRJNVZHCD3BBQHPDATTWDB3GMANIR6TJ2Q2VX425KLA6W4
#\\\|S7EA7WXKWZWUVY4DAPJIAGTAMNEOPTP3VI3BV3A2LP7WYETKRUV \ / AMOS7 \ YOURUM ::
#\[7]FNAPFWIYP4NTAV5TR2WBHU2WZGKNZF74KVASFEI66F2OYFGLHCCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
