## [:< ##

# name  = start.cfg
# descr = 'weather' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
start.on-demand = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,,,.,...,..,,..,,,,,,.,,,,..,,.,,.,.,..,,...,...,...,..,,,..,,.,,...,
#BGXUNAAWB6ZZNITDCYIK6U2MMMT34H4663Y7FUZHSJNCSVL5HO7OMQKKNYG5OEIDLODGJLVYNOMUI
#\\\|5BNSFL3SYSFVUMRSJFJ7QB7VRDMCHB4RBOGEDBSFVAA6ILUOOEY \ / AMOS7 \ YOURUM ::
#\[7]WD3GXPAPFQ3ZQTFFKHJXIBTUATUZT2SWRREPBFJFG3U4LLYPO2AY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
