## [:< ##

# name  = start.cfg
# descr = 'coding' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1
restart.min_delay  = 1.3

## heartbeat re-enabled 2026-08-26 [ was disabled before the ondemand ##
## heartbeat/idle-timeout conflict fix, commit 3f386f6de2d ]. 47s     ##
## response-wait matches the established convention already used by   ##
## mpv/tile/window-place/screen-setup/select-region/content/weather/  ##
## external [ default is 17s ] -- coding's self-test / model-switch   ##
## cycles are already fully async so this isn't compensating for a    ##
## blocked event loop, just tolerating real GPU-backend hiccups       ##
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  coding.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<coding.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{coding.key}>']
  [base.zenki.set_ondemand_timeout:4620]

#,,,.,..,,,,.,,..,,..,...,..,,,,,,,,.,.,,,.,.,..,,...,...,...,.,.,.,,,,,,,.,.,
#6WZFCUFCRFIQ2WJTQGOXKXCVF234ZZPMITDKHK7DQWOY2MAFF7QGM7SO4VJA2I72T5RQWYEZER3F6
#\\\|CCYGYCDX7RIP4K6A5B4WQ7MTGS6HFCYFX24W4EISAFWCEE7WYPK \ / AMOS7 \ YOURUM ::
#\[7]ZMGXINEM3OX4GIOEDPAV2NBTYZYJDPNKFWDOSKAIZLQKQSG4NSDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
