## [:< ##

# name  = start.cfg
# descr = 'coding' zenka startup configuration used by 'v7' zenka

dependencies       = cube models
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1
restart.min_delay  = 1.3

: v7-init :
  start_mode = stdin-zenka
  coding.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<coding.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{coding.key}>']
  [base.zenki.set_ondemand_timeout:4620]

#,,,.,...,,,,,..,,..,,.,,,,..,,.,,.,.,,..,,,,,..,,...,...,...,,..,,,,,,.,,..,,
#EKUZQW23X6FNWFOEB6QYQU2KKPNQFG7CIRXEYXYQMCNH7MI3A7UMARKJKJGO7KAB2PBTMMT7GYUCK
#\\\|Y7DR5F2DRBPWPTIYL27ZOW2FJMSVYIMJ2U5HNT2O66DTJMRFRPH \ / AMOS7 \ YOURUM ::
#\[7]3K3AEQ2K4GWEGVWQN4RWEAZPY732RYGOF73URMQLVFXW52HZTEBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
