## [:< ##

# name  = start.cfg
# descr = 'powershell' zenka startup configuration used by 'v7' zenka

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,.,,..,,,,,,,.,,,,,,..,,,..,.,.,...,,,,,,..,.,.,...,...,...,...,,,.,,,.,.,.,
#SSDVO7YZTDNTNI5UBXGOPJU5TC6YUP46K5P7XPZFVME2BVGD2PN7325424ENVNEQGHLKQJ4PRUXSM
#\\\|YLOZKTDI64PS2WB4UITZBINJFC3VDGDDYJ4UNT4LP6U2X2SAK6B \ / AMOS7 \ YOURUM ::
#\[7]DFXUE4Y5AC47NYXYWOFZSUBMF4BBGQTH2S2V272M3WRP5JADPCCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
