## [:< ##

# name  = start.cfg
# descr = 'powershell' zenka startup configuration used by 'v7-zenki' zenka

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  ## idle timeout above one render : invoke-web asks mem-used at render  ##
  ## start and end, a shorter one restarted powershell mid-render        ##
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,,.,,..,,..,,,,.,,,.,..,,,,.,.,,,.,,,,.,,.,.,...,...,,,,,...,,,.,,.,,,.,,
#ZVQIUBHL6YKNNBEPPT65ENAPNJTULRACIXIHYS5J62JEEKJIJP7ZF7BGCW3RSHYSSZMST4UFM53PM
#\\\|X3SIBKTYEPW275PUTTENKBDWIPR7USFQRLJNBJEAFSJLNPWRUMR \ / AMOS7 \ YOURUM ::
#\[7]JXW23C5NCBQ4EFPE37PHCONRZI2TXSIZE2YGN3ZQP52MENCUDICQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
