## [:< ##

# name  = start.cfg
# descr = 'powershell' zenka startup configuration used by 'v7-zenki' zenka

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,..,,,,,.,,,.,,,.,,,,..,,,,,...,,,.,..,,...,.,.,...,..,,...,...,,.,,.,.,..,,
#JQGUGYPBBFTSZGIBTNTE6YMETFECG4FL7OXIJNPYHHWOAFKU25P3ZBUTD2NUZ2OFMP32ZU3YRV744
#\\\|Q7BO6FUPE3XNM6ADE6TLPGKMDPYKDEKAOJT24ZLGPWIKSR7DKB4 \ / AMOS7 \ YOURUM ::
#\[7]SQM7ZP2WZXFJSUHKX3D64CJX3PGWPYHIJJ5CZ5PU36NCO7NCXABQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
