## [:< ##

# name  = start.cfg
# descr = 'jobsite' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,.,,.,.,.,.,...,,..,,.,,.,,,.,,,,,,,,.,,,,.,..,,...,..,,.,.,.,.,..,,.,.,,,,,
#CFAXCWBKWS5PZ6SB2XWE6ACLGSQWGQ4KXPN42XLGQIOSQKVHFMHM6EB6R2CT2ADA3XAM6KYZMJDHQ
#\\\|CM7QKGCTFCT5QGNORNA3BVA57EQVLLS2FS6NP6V2XMJJZZNC7OY \ / AMOS7 \ YOURUM ::
#\[7]3BQOOMZVP2GC74DZWMFVDX4FOOHSSHTGCZ5T6OPWKCLJWAT544AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
