## [:< ##

# name  = start.cfg
# descr = 'jobsite' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,,,,,,.,...,,..,.,.,.,,,,,,,,,.,,.,,,,.,,.,,..,,...,...,..,,,.,,..,,,,,,,,.,
#4P5B25H56MWKKECZGEIBBWCT5STDZH67SREGSTLZAHJHFUCJDNIPZH4VWBBNAWETUGT23JY3IJJHU
#\\\|YYV52G6TJ3TX6GEOYM7HTXLRMGHHUDTGHGGV3N5VJ62YTDAKPQX \ / AMOS7 \ YOURUM ::
#\[7]FQYWUJEGRGFXUZI6RQMCC5ZZQPUNVSIBTH5BL2B5TVWS672ESKBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
