## [:< ##

# name  = start.cfg
# descr = 'jobsite' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,,,,.,.,,..,,..,.,,,,..,,,,,.,,,,..,..,,.,.,..,,...,.,,,,..,,..,..,,,..,.,,,
#RUQIZ2Q6YMLX2WYQXL2VFFYEE7FIXWGLJSVJKG4PNSYKTIUSNG3EPOGXYIJLQQUKTTQHM5YUZQHCU
#\\\|UTAFXMIFTURIM5O7KJE75LH5R32X5FQTRDBTBW6DL2BR4HEXWGN \ / AMOS7 \ YOURUM ::
#\[7]PCGH4QVAWYQBV2GCRLLQLNMGMXAGI5AXMRZS2FJYEWKK3BKQHIBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
