## [:< ##

# name  = fs.cmd.mount
# param = [dev] <mount-point>
# descr = mount the specified device or filesystem

my ( $mount_point, $device ) = reverse split( m| +|, $$call{'args'}, 2 );
return { 'mode' => qw| false |, 'data' => 'expected mount-point parameter' }
    if not defined $mount_point;
$mount_point =~ s|/+$|| if length($mount_point) > 1;

my $bin_mount = qw| /bin/mount |;    ## auto-detect ##

my $status = <[fs.is_mounted]>->($mount_point);

return {
    'mode' => qw| false |,
    'data' => 'specified mount-point does not exist'
    }
    if not defined $device and $status == -1 or !-d $mount_point;

return {
    'mode' => qw| false |,
    'data' => 'specified device does not exist'
    }
    if defined $device and !-e $device;

return { 'mode' => qw| false |, 'data' => 'already mounted' } if $status == 1;

if ( not defined $device ) {
    <[base.log]>->( 1, "mounting '$mount_point'.," );
    if ( system( $bin_mount, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": mounting was not successful ['$mount_point']" );
        return {
            'mode' => qw| false |,
            'data' => 'mounting was not successful'
        };
    }
} else {
    <[base.log]>->( 1, "mounting $device to $mount_point .," );
    if ( system( $bin_mount, $device, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": unable to mount $device to $mount_point" );
        return {
            'mode' => qw| false |,
            'data' => "unable to mount $device to $mount_point"
        };
    }
}

return { 'mode' => qw| true |, 'data' => 'successfully mounted' };

#,,.,,,.,,,.,,,,.,,,.,...,.,.,,,,,.,.,,,.,,.,,..,,...,...,.,.,,.,,,.,,,,,,.,.,
#2L5GKQCELHLUDPPUAUZQ2JT6VS3CYHYDJTA7UYRK7ETIYDQSM4AHPA7UFPFX74GBXOCNJ5562RAWK
#\\\|EJZ3SHZGVE5FSBRIV7JUZGCUEXKWIBGZ7VXE4MMEE2XWNIK4DOH \ / AMOS7 \ YOURUM ::
#\[7]DR7WJ36Y7Z23T6HHT4BPBOWFAJONIRYIX7T6PIMBYGEQZDW3LOCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
