## [:< ##
# name  = plan-9.config
# descr = 9P server configuration

return {
    'port'          => 15640,
    'host'          => '127.0.0.1',
    'max_msize'     => 65536,
    'auth_required' => 0,
};

#,,..,,,.,,,.,,,,,,.,,,,.,...,.,,,.,,,..,,,,.,..,,...,...,.,.,...,...,,,.,,,,,
#4FMHIBWRU7XGYCFUSVMTZGBWHYLVXPJ2HUFSCPZSHQUUWEIZDXWTUS3GK36VURCUWHRWKEVJ6BVJW
#\\\|LACGKOBMXNT7WC4KXEI4J2HQUOE4KH72TFWM7CLWXQH2YR4HKKA \ / AMOS7 \ YOURUM ::
#\[7]O3P7EGFVLT3UO6JF4Z3IXF2HFNXYGZPPM2SW2OCZPYKOUX5LF2CI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
