## [:< ##
# name  = storage.9p.mount
# descr = mount 9P remote filesystem to local path

## [ stub ] connect + attach to 9P authority and return mount point ##

return sub {
    my ($args) = @_;

    my $authority = $args->{'authority'};
    my $path      = $args->{'path'} // '/';

    ## TODO: implement 9P connect + attach + walk to path ##
    ## return local mount point path on success ##

    return undef;
};

# SPDX-License-Identifier: ISC

#,,..,,,,,.,.,...,.,.,,,,,,,.,..,,,,,,,,.,.,.,..,,...,...,.,.,..,,.,.,,,.,,..,
#QMJRUQM4DKYAOSPSLCFTBUNN54OYJ7PWVWZJWZ4KQXXFQQLKXP5GTO3VLU2UJKDLG4GUCWSDPO3S2
#\\\|LAMRY3HSKX45M6FUG75X7B4I744B4KUNDPHHO34CBBJM2E4M3F7 \ / AMOS7 \ YOURUM ::
#\[7]QNXGDAYP2MLEYTHX5VO5WAYBF4XYAP5OH2MQ2B4B5BCC5H2H7IDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
