## [:< ##

# name  = storage.9p.mount
# descr = mount 9P remote filesystem to local path

## [ stub ] connect + attach to 9P authority and return mount point ##

my ($args) = @ARG;

my $authority = $args->{'authority'};
my $path      = $args->{'path'} // '/';

## TODO: implement 9P connect + attach + walk to path ##
## return local mount point path on success ##

return undef;

# SPDX-License-Identifier: ISC

#,,,,,,,.,.,,,..,,,,.,,,.,,,.,..,,,.,,,,.,.,.,.,.,...,...,,,.,..,,..,,,,,,...,
#K3WHI4ZO724WEFLHO7KFUJUCMAOUKNLCRDIGQCES5CQYQWS36B6YYNGFZLKNJ2KIGHNQNWCJU7CPA
#\\\|MXHB7MVYUW5OVOFTOUOYYAIRBTK4BO2WJUGTFKMLIABMB2O6BKE \ / AMOS7 \ YOURUM ::
#\[7]L7EYJXJ755KRUKGJYWN44DB4OFPJY6KPWGRHUGSMRLMBB4O5DSAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
