## [:< ##

# name  = transport.probe.timer
# descr = global timer: walk demoted transports and probe them

my $demoted = <transport.registry>->{'demoted'} // {};
my $now     = <[base.time]>->(4);

for my $dest ( keys %$demoted ) {
    my $types = $demoted->{$dest};
    for my $type ( keys %$types ) {
        my $demote_time = $types->{$type};

        ## only probe if enough time has passed since last probe ##
        my $interval = <transport.cfg.probe_interval> // 30;
        next if $now - $demote_time < $interval;

        ## find the profile and transport entry ##
        my $profile_name = <[transport.profile.match]>
            ->( { 'session' => { 'destination' => $dest } } );
        my $profile = <[transport.profile.load]>->($profile_name);
        next unless defined $profile;

        my $entry;
        for my $t ( @{ $profile->{'transports'} // [] } ) {
            if ( ( $t->{'type'} // '' ) eq $type ) {
                $entry = $t;
                last;
            }
        }
        $entry //= { 'type' => $type, 'endpoint' => $dest };

        <[transport.quality.probe]>->( $dest, $type, $entry );
    }
}

return 1;

#,,,.,.,.,,,.,.,.,,,.,,,,,,.,,,,.,,,,,.,.,,,.,..,,...,...,..,,..,,,.,,.,,,,..,
#X5GKUXYYNPA5ZZYPUFYWOFXAVKPVABVZYV5BU6JCWIPUTFTXEZV55LDUALDLD3UDHYOQK6H2JJNWC
#\\\|UREX65ZUVTFZW74WFYH2Z5XS7GRGICYNWFJD2MEX6CWADYBB4DZ \ / AMOS7 \ YOURUM ::
#\[7]6NGKL4FCOPTGSHNMLOBERZWXWQ4DSADKPPOHUJAR5BMEKFXM2ECQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
