## [:< ##

# name  = start.cfg
# descr = 'storage' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
max_concurrency  = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,,,,,,,..,,,.,,...,..,,..,,..,,,..,,..,..,,...,...,,..,,.,,,,,,.,.,,,.,
#JLK5I22OJ7TLQFYV5IYEFIIAWF5ISPCIRT6EM47N2MHWU5BLKQMS2AL7OOMWP7Y25IHPRBRCC7TRM
#\\\|BN23TF6YQ7ZTANBJGOO3K6BR7J735OXGOY3GCDDAZDK6GONIGZX \ / AMOS7 \ YOURUM ::
#\[7]7WE2AVFLUOO4IIR4N2ZBHEKCBN2P56W4CHB4KYSO47OXH4JMB4AA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
