## [:< ##

# name  = start.cfg
# descr = 'storage' zenka startup configuration used by 'v7' zenka

dependencies  = cube
max_concurrency  = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,...,.,.,.,.,...,.,.,,.,,.,.,...,,,,,..,,...,...,,,.,,..,.,.,,.,,...,
#VMM3EQ5QKC45EUTXOV7PFKQM3GO6NILDJWY5HNKH7DTDL2NQJFHZVMKSC6MD7X3H2RBFBJAOM6QLO
#\\\|FF63DDKXEKANBQ5LA4SLAEJXRARDIPJNG2ZKVGCX6IEJW24FSK3 \ / AMOS7 \ YOURUM ::
#\[7]7HI7WBFVBYY3OBFTI4FW3W7T27BLPLQJF3VMUJMCWDZUPA2XBQDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
