## [:< ##

# name  = start.cfg
# descr = 'ffmpeg' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:42]

#,,,,,.,.,,,,,.,,,.,,,...,,,,,,..,.,,,,..,,.,,..,,...,.,.,...,...,..,,,,.,.,,,
#ZZGEYFHN4DFMCURW4OPH6UQQWPZX7PFSXER4RABNBLAAAHRRKVF3ZPLGA4XFXUCXJE46TFPD5XM6G
#\\\|PPH3G2T336BR7NJJQYHHKXLDD2J5V3MVSE2GORL2L4JIBN6MRTB \ / AMOS7 \ YOURUM ::
#\[7]KWDZTST4AY4DIFEH33UZVHJ2BVCJMKUCPKUAMLYYI7M46P6NEMCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
