## [:< ##

# name  = start.cfg
# descr = 'openvas' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,...,,.,,,,.,.,,,,..,,,.,.,.,,,,,.,.,,.,,.,.,...,...,.,.,..,,.,,,,..,,.,,
#EQGTELLS33YJIRN2AVGRNH2SBCOVJ7HZSR5PVNXNRRUEGXAPA4C3VSK3GP3BAPS22QU63RASVZVJO
#\\\|WXBUHCCOMNMDETLYYGJQCJAPQBIHUHIVLTH27MN2ZXO6ZIPZ2FJ \ / AMOS7 \ YOURUM ::
#\[7]DWA235BPOBT6YAB26MQDND3S753APOXN7LHMECLA36XWFBERREDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
