## [:< ##

# name  = start.cfg
# descr = 'openvas' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,..,,,..,...,.,,,.,.,..,,..,,,,,,..,,...,.,.,...,...,...,...,..,,.,.,.,.,
#IDZWGEEQY2A2MNH5EWXBFXVXCS3NMHWX2TDMGHVTBAO3ITB6RPSJBUOPCNSSL2GVEM7EJN4F3UQ24
#\\\|YI4FAMQLLA25MKRF3ZNTHAB65KFEZBUWUV4QL6O2ULXMUJRYZBR \ / AMOS7 \ YOURUM ::
#\[7]ZF4INTLXWENR6EMP5WYSRBLWBADJVPEERW4E65LMQLAZ66Z44CDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
