## [:< ##

# name  = start.cfg
# descr = 'index' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,.,,,,..,,,.,.,,,.,.,.,.,...,.,.,...,,,,,..,,...,...,,..,,,.,.,,,..,,..,,
#ME2WMD73RIHQIAR74H66L3EYPUGHL2KKQSN32XQWHATA3XF2WPKM7RPAFLGLMRMXRI5C6WZEN3TVG
#\\\|QQ4BX7GR2A4EO7RNZVMMTGTEE36ZJ4OJ3CTCK57KYYLAS2INOOO \ / AMOS7 \ YOURUM ::
#\[7]ZQ7HI44LCUFQMAJYIWUSRVU7ITPWOH5CX3T5MQHTJGV5FNB2ZKAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
