## [:< ##

# name  = start.cfg
# descr = 'index' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,.,,,.,.,.,,..,...,.,.,.,.,,,.,,,,,,,,,,,.,..,,...,...,,,,,,,.,,,,,,,,,,,,,
#22ESUCRPV73XM6G65EWIAEAL66AOYK22QBNVAJKPVDCOJUTMF4VBIV7TVBHTR5MKY5XQXIQVX6D6W
#\\\|TNTZCDE4NIHQJOTEITBQ3KSVTHTWRVR6YPC3R2CP5KKJ6SWMHK5 \ / AMOS7 \ YOURUM ::
#\[7]FY75O3NPRDB45C5T7HU54SJBCXNFARBKMYSJ7JLSL4F34KOKHMDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
