## [:< ##

# name  = start.cfg
# descr = 'image2html' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube content
start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,.,,...,..,,,..,,.,,,,.,.,.,,,,,,.,,..,,..,,..,,...,...,...,.,.,,,,,..,,.,.,
#FJ5TL2OSXUR4WHLUJKRTENSTBPRR5LB7WAP3YIGHVFCEBND7UX6KLS7N6L4E3QGTDGWSGIUHEDCIM
#\\\|UCDWGGMCAZS6567WGXNXV3SJFTTE3P3WGDFG3D6I5XTCURL45V3 \ / AMOS7 \ YOURUM ::
#\[7]2IS7X4CVJ2ZOZEXZ3QZZWBDH65NSDP6DDZ7OFTLXKJ6YKNFEEABA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
