## [:< ##

# name  = start.cfg
# descr = 'image2html' zenka startup configuration used by 'v7' zenka

dependencies  = cube content
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,,.,,,,,..,,,,,,,,.,,..,,.,,,.,,,,.,,..,...,..,,...,...,.,.,..,,,..,...,.,,,
#LPQD4F2ZYS6IEPYDA6BJPPTM6IALI5FNELWQTDNGK5DN6FH4OBBE4HUXKC5OUOQVGRMBNVOOW72FI
#\\\|OIWQECU5RMYWPEH4EIK65KP7B4QGHJS2K7GV2SB55ZFLBXTDQBY \ / AMOS7 \ YOURUM ::
#\[7]HLETYBMFWGJHHTWFBC2ZWYAFPIOR5HG5SWOHHERBL3BGJ5WWY4DQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
