
# name  = events.setup.example
# descr = simple example setup for 'events' agent


.: events :.

    enabled = dist-upgrade

    - dist-upgrade

      : action :
        type      = agent_running
        agent_name = dist-upgrade

    - moodlight

      : action :
        type   = agent_running
        agent_name = moodlight

    - network_example

      : action :
        type    = send_command
        command = some_agent.do something

.: timetable :.

  - dist-upgrade
    at  =  03:47

  - moodlight

    start = 20:05
    end   = 10:05

  - network_example
    at = HH:13:42
