## [:< ##

# name  = start.cfg
# descr = 'start-anim' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox
max_subname_concurrency = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,,,,.,.,...,,..,.,.,.,.,..,,.,.,,..,..,,..,,...,...,..,,,,.,,,.,.,,,,..,
#B7GEMVWJDNIWK2WQIP33NFKSBUDP2LFXDHZZMPDRFM733WHYQDHL3C5O7YLR4RWS3JXRPKCIFL75O
#\\\|DBMBFPTMUY565EFDDDLAD2VJ72IJ6QAINN5J5L7N7C2VQG7JAWA \ / AMOS7 \ YOURUM ::
#\[7]KAJQ4ING3SVGNHHGMXWBT37MQ6KSJNK7G3V72QCXSAKD5MBI64DI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
