## [:< ##

# name  = start.cfg
# descr = 'start-anim' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox
max_subname_concurrency = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,..,,...,,,,,,.,,.,,,...,..,,...,,.,,,.,,..,,...,...,.,,,,.,,,..,.,,,...,
#JQQ4IOOKCJSFDTDIG5FL3H73B25VWMUEF3FETXASNJFMBAL2F6TFURUUINJAOXRTHCKUDGPPQCPQ4
#\\\|MH74IA6H6WTGODQU5ZR3VSTFJ4FLXKL3ZPL4YCVWCG7IUOSERO2 \ / AMOS7 \ YOURUM ::
#\[7]WQAJ4WFMQ2RQ7RF6DVEYHZFH4EXKJIV4TNTBWNNJ4WL5KXK6J4CA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
