## [:< ##

# name  = start.cfg
# descr = 'invoke-web' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  invoke-web.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<invoke-web.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{invoke-web.key}>']
  [base.zenki.set_ondemand_timeout:300]

#,,,.,..,,..,,,.,,..,,,..,...,...,..,,,.,,.,,,..,,...,...,.,,,,.,,,..,,.,,..,,
#BI4NBCJMUBRJWVBNJHRXP7W2MGPOKB5F2SCNRUWISO7T5HXWNQZKQILZGEDASAHAK5OHBGWVSCPQG
#\\\|DV7ZGADTLFKX26AZO5P2VV63LHPZIR4MFR4XDPG37QW2V5S54IC \ / AMOS7 \ YOURUM ::
#\[7]AETQ4J6O4VPBGMBVTOX2G66TU7M32OOLE6TCNXU4M75UQXFAIEAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
