## [:< ##

# name  = start.cfg
# descr = 'invoke-web' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1

## crash keep-children : on status 'error' [ e.g. heartbeat timeout ] v7   ##
## does NOT kill the registered children [ invoke.ai ] -- the next        ##
## instance claims them by name [ v7-zenki.claim-children ]. unclaimed    ##
## kept children are terminated after the grace period. a planned end     ##
## [ terminate \ restart \ idle-term \ drain ] ends them as before       ##
restart.keep_children        = yes
restart.keep_children_grace  = 120

: v7-init :
  start_mode = stdin-zenka
  invoke-web.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<invoke-web.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{invoke-web.key}>']
  [base.zenki.set_ondemand_timeout:300]

#,,.,,,.,,.,.,..,,..,,,,,,.,,,,,,,..,,,,.,,,.,..,,...,..,,.,,,,,,,.,.,.,.,,,.,
#BKQUHKSFOZIEHMPRLA2L7MM7GDQVEZIMAQA4AZ2A5AX3L4DYUH7F2BBIOI25XZUX3FTFCRF2D3T6A
#\\\|7ZVORUZDA6Y5RXZQUQ6CJOCHJESYD3VUDYJUGQAONPAPCARZJEK \ / AMOS7 \ YOURUM ::
#\[7]LPUFBL5LCXNEJWNFLNAWP7V2MBUBBPNTG7H2I6D5G6NWWG2QGGDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
