## [:< ##

# name  = start.cfg
# descr = 'invoke-web' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  invoke-web.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<invoke-web.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{invoke-web.key}>']
  [base.zenki.set_ondemand_timeout:300]

#,,.,,.,,,,,,,,,,,.,,,.,,,,.,,,,,,..,,,.,,..,,..,,...,..,,,..,..,,...,.,.,.,,,
#HA4PSME3CQZ5AVX4DIW4I2GUFH64MRMOVLJSUJVLPYP2MD5KJNP75LQSLULPXUS2G2CYZTB3NBDO2
#\\\|RT3PJGY6T3S6B6CHPC7CKPJ2HP7HPV34RKO352FJOJPKWFLV7XA \ / AMOS7 \ YOURUM ::
#\[7]GTLHZARV3VE75YPUMHXRY3HPVUJOWJFKKRVSFYH2ESAJWPLGNKAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
