## [:< ##

# name  = start.cfg
# descr = 'X-11-pointer' zenka startup configuration used by 'v7' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1]

#,,,.,,,,,,..,...,..,,,..,..,,...,.,,,.,,,..,,..,,...,..,,.,.,,,.,,.,,,..,,.,,
#R7XU4WXQ3YNZ6O4AIC6CYQUZNF64NFHXRQJK2ULY2LHTTVH3W7MYQ4VX4YS2UYTXUYWI7I2VFYJL6
#\\\|LTS5LMME6WJD32VSZCWRCOWUIN2BNOZCMQURW54COHFRPW3T6FI \ / AMOS7 \ YOURUM ::
#\[7]7N6G3JEXCMAME5DCC2ZPC7XAJYXJMAEB5ND4NLJJMBAIS7ALCECA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
