## [:< ##

# name  = start.cfg
# descr = 'X-11-pointer' zenka startup configuration used by 'v7' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1]

#,,,,,...,,.,,.,.,...,,..,,..,,,.,,,.,,.,,,,,,..,,...,...,.,.,,.,,,..,.,.,.,.,
#D4CEXFYYWKF5YBIWXCFWBFU5LQTH2DAY56KIQ55T2BYDXSXMO5YXVISK4V3WBQL3YLA5ZDB6BE5O6
#\\\|LZFDX7RBPPL4W2EXYVD6X63ERDEOVQP4PSD3B6VIGGPIIKHDTHG \ / AMOS7 \ YOURUM ::
#\[7]AB27SGBYVEBDUMZSDXJI4WYRAEQGOH3SN53IJQ47LX6ACJ3J6WDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
