## [:< ##

# name  = start.cfg
# descr = 'X-11-pointer' zenka startup configuration used by 'v7-zenki' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1]

#,,,,,...,.,.,,.,,,.,,.,.,.,,,...,,.,,.,.,,.,,..,,...,...,..,,,..,,.,,,..,,,.,
#Q7RQW6WAZOW7OHKUBDCWN26CUTLVWZG2HXPCS2AI7FRPHS6OGA7E2SX2L5OPQIME57TVFL7GLKLSO
#\\\|HKAOCENHQN4VF2P5DVPQO2GAB3ZW5NQMBUILKBUMM4RVMDLLDMB \ / AMOS7 \ YOURUM ::
#\[7]XGNFFDJULIBETEOXBFJVCPLS52GPL4UZY65MGJCHYRWF6UMHHKBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
