## [:< ##

# name  = start.cfg
# descr = 'source' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,..,,,.,,,..,..,,,.,,,,.,...,,..,,..,..,,...,...,...,...,,..,..,,,,,,
#3RVMCHJEE2TWOPVVGZ5GKHV4YDFRWUEHAMUK444LVLQDXPVOYSVRPZ3WR225CXQSXYOWVKIP67MDA
#\\\|PBBEMUVBI3YW5X3EF4WDXDY5CMP5KBJ6NCYWTTUZDYEEVPZTGJP \ / AMOS7 \ YOURUM ::
#\[7]3TXV7XMMHT4WFTT3UB5TRPFO4NUVSLYTAU3EOAZ2BKBCYDMPRSAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
