## [:< ##

# name  = start.cfg
# descr = 'source' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,..,,,.,,,,,,,.,,,.,,,,.,,,.,,..,,,,,..,,..,,...,...,.,.,,.,,,,.,,,,,..,,
#5DICC4UDMTFNUDPE44THJUCDWAMP6HLQAUZOP7QDRFXY3HVSFHUOX6IXTVA54RAXUZQZQMBBBZFOI
#\\\|34YL7S7FHVBSBKQX7JTRVV5X3PPJEVCBH2SGKGNDF3XU6HD4BXS \ / AMOS7 \ YOURUM ::
#\[7]EXOCXEVXICYWLHB6SET4W27Y2GKVPD6HPK5GQZOZFB777JFUJ2BI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
