## [:< ##

# name  = start.cfg
# descr = 'amos-term' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube-13

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,,,,,.,,,,,.,,..,,,,,...,,,,,,..,.,,,..,,...,...,..,,,,.,.,.,.,,,,..,
#BSL25S6OLM7ENG62KJXMF7TH37HO3OBXREL46GBM6HALTWTKII3YU2QQCO7O4WFOFHQHLYVWPVMV4
#\\\|THUQL4VUHKKHU5R6DFHVQBGADJDMLSBIXD2HA53WXQUES6Q32I5 \ / AMOS7 \ YOURUM ::
#\[7]DCJA75T6NX52LP3NLI4AFLGR7AAQY4XSNMIHR6NSXK6CWVW6SKBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
