## [:< ##

# name  = start.cfg
# descr = 'ncode' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,,.,...,,,,,,,,,,.,,.,,,.,.,.,,,,..,.,.,.,,,.,.,...,...,.,,,...,.,.,..,,,,,,
#GIQ2MFX6TARJV3WKHXHMBHMK6AQMXVQJUQZ2VD4CUSPUEAVWXDPUVHCEBFIWYPDT6LRLY6AYQNHDG
#\\\|SGI6BELJ2WKNK7WCHETESB3VDHWQX22QFRFSFZ7OCS3Q2G6CIIK \ / AMOS7 \ YOURUM ::
#\[7]BY65QGT7SE3B3QXR4QQGTYKF4CRTKVTLOOXWKZNENOH6HNZCDAAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
