## [:< ##

# name  = start.cfg
# descr = 'ncode' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,..,..,,...,,,,,.,.,,,,,,,,,,,,,...,.,,,..,,.,.,...,...,..,,..,,...,...,...,
#CERA2DKJB43I5OE4MKTYY2MASURYQAILTE2DRXAWYCK2QUFS4I4NHZSIWWK6HE4EEUFPPBKMUALHS
#\\\|APR6FGDPWNXN52K5BTJSNFM3DARGF6DA2IXLCBS66JPW43R7RHS \ / AMOS7 \ YOURUM ::
#\[7]J5KP37UCN46HUVWFSBGJZ34NK5GMBYXQUYQVUO47L7ID7YCEHWDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
