## [:< ##

# name  = start.cfg
# descr = 'ext-pkg' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,.,,,..,,,,,,,..,,..,..,,,,,,.,.,...,,.,,..,,...,...,...,..,,,.,,.,.,,,,,
#4X7SBOESQFXTWAFGA4DJ4GT4W3XOVXF6LJY2VOAW2NKP4UIDBWG4NYYYEQATORKVR2IY3H4DQPUGY
#\\\|32LU2UTUDUQEM3EOKE3W4JCPFDSYJTBXISMCWSCLF24KWYXW6G4 \ / AMOS7 \ YOURUM ::
#\[7]B3CPWICY3OICGCPEVUTVWBAXBFXJNBUQIEABKZNIJQWE7TKJYEBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
