## [:< ##

# name  = start.cfg
# descr = 'usage' zenka startup configuration used by 'v7-zenki' zenka

## on-demand : a personal-account quota check has no reason to sit running ##
## all the time -- it starts when something asks and idles out again       ##

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:900]

#,,,.,,,.,..,,.,,,,,,,,,.,...,...,,,.,..,,,.,,..,,...,.,.,.,.,.,,,,,,,...,,..,
#67A6OKGX2HFSYY6IZLNWL3BXOFHZ5DLIY66IU6AE7HVQ6UHVAGGCVIXDGFMXOPA675RCJM3T6TKK6
#\\\|DBBBBRDIORMCIR4J3LG3HZMUMWU6YBMLUQURSPPH4KL45I5KKHN \ / AMOS7 \ YOURUM ::
#\[7]2YAAW4IT5PZE73LKHFH27LVAEYEPXHACQTNNSUAPXC2JP2BEWSDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
