## [:< ##

# name  = start.cfg
# descr = 'usage' zenka startup configuration used by 'v7-zenki' zenka

## on-demand : a personal-account quota check has no reason to sit running ##
## all the time -- it starts when something asks and idles out again       ##

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,.,,..,,..,,..,,,.,,,..,,,,,,..,,.,,...,.,,,..,,...,.,.,..,,,,.,.,,,,,,,,,,,
#OHIVHXIZ6UN27VAVFUVNW6CMP6UW3N37Q7ZVGLLCU3BWU5PY6EJVNTB4THZPNL2EFFFOXQ5IOSN7S
#\\\|MOEMTU6LVVAMA7Z7KQPXWWNZAT7OPKPIY6PO4L6OA2QGLGG6XY4 \ / AMOS7 \ YOURUM ::
#\[7]G3467VR3NSIBFVLDE4JCHLY4HXJ34ZBS5LYJTQTTNOXOGF5YGOCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
