## [:< ##

# name  = start.cfg
# descr = 'impressive' zenka startup configuration used by 'v7' zenka

dependencies = cube content X-11 openbox
heartbeat.timeout = 13

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,..,.,.,,.,,,,,,,..,.,,,.,.,.,.,..,,.,,,..,,...,...,,,.,,,.,,..,,.,,,,.,
#F3KYKS54EUCWNT6BLOH25MG4OLRL26HXCTG4ET55LWZDEGIGZWEVXP3VESKIADD2TDYO6VIUY4GGM
#\\\|DCCK3IAJZ7WZKWTPCVJC5SHOCBEEMU2CA2ZGJNHNYPRHCGY7SMT \ / AMOS7 \ YOURUM ::
#\[7]KU2ADWRANO4YDNGJDM66RB4QPQVGLOSTQPDOZUZJMXI7QVVTFKAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
