## [:< ##

# name  = start.cfg
# descr = 'dbus' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,..,,,,.,...,,,,,...,,,,,,,,,.,,,,,.,,.,,..,,...,...,...,,,.,,,.,.,.,.,.,
#SIV5IHM65RPWVXOOTV7OVCQIZ4OMJIN7WECPZNSLLGO2ITDXTCZVLYLGY2PMQ6EA52PFPXUFFXAVW
#\\\|QGAYSY3SM2CMSXPSH3HX3JXCZQTAUXUAZ3R2HF6RVBFQNKZYSGK \ / AMOS7 \ YOURUM ::
#\[7]LE32TKH22KDL4VWHEFZ73GAYQLG2KVDKPSXXI3YK3VK2I5SI5WBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
