## [:< ##

# name  = start.cfg
# descr = 'reasoning' zenka on-demand startup config

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,,.,,.,,,,.,,...,,.,,,,,,.,.,..,,.,.,,,.,..,,...,...,,..,,,,,,,.,...,.,,,
#XUNZLOCGH3CNKRXUJQRJS6IH3MK4JOJGV44A7AA4M2JWNEP6MCJWW4JWDYDNABPJC32GR4WHFJZ7Y
#\\\|OOBMI3YJEAO7ER7ZNFTSTSYWVGUOT3LRGRHV5H3EF56JHI7PFT7 \ / AMOS7 \ YOURUM ::
#\[7]KRI4FKR3JWM5GUEVPFNCRKHM72OHCWGME5V4S3O37XV675BBNQCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
