## [:< ##

# name  = start.cfg
# descr = 'reasoning' zenka on-demand startup config

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,..,,..,.,,,,,.,.,,,,..,.,.,,.,,.,,,,,.,,.,,..,,...,...,..,,.,.,..,,.,.,,,.,
#7TFHAPP2UFUSTBSO565XJ2FWL2LE676XT2JF6MJ67TFSP5ZZAILD6BY3TWCBB7Q53KYTSRWFZA3YU
#\\\|M7LJGXM7KDSRL24V7FYGBQ43MMLL3U6CEI3YNNS4FA6NCQ5VVLC \ / AMOS7 \ YOURUM ::
#\[7]LLQ6UYSKUCOSR5GJZP3N6JGUUZSBJ7GAVLAW2SX5F26UNULZPYDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
