## [:< ##

# name  = start.cfg
# descr = 'reasoning' zenka on-demand startup config

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,,.,,,.,,,,.,,,,,.,.,.,,,.,.,,,.,,.,,,.,,..,,...,...,.,.,,,,,...,.,,,,,,,
#544ROVL2Q25AF5O5ZFWFS723SW7RI35QHVBHON53WHGRLSIHNPIGIUABNKKVCCONOXULL3KR3E2P2
#\\\|NNLXHZ7LMQQQYERN5WEYAWXDYFROYRQHZ4I3KW5CEXOQP76IIKK \ / AMOS7 \ YOURUM ::
#\[7]QIGNOHFVHTGLKKTBRGVZVQEXORX7CTLGJMLALPJMGSD2PAQYBMCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
