## [:< ##

# name  = start.cfg
# descr = 'users' zenka startup configuration used by 'v7-zenki' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1
stdio.multiplex    = yes

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]
  [base.stdio_multiplex.connect]

#,,,,,,..,.,.,.,.,..,,...,,..,,,.,.,.,,..,..,,..,,...,..,,,.,,...,..,,...,,.,,
#BCSM4234HX35LQNZJ5GTOKMXMQFKIRS4L5ZE4TMZWHKWWCZOXLUD7ZGKBMH62KZNTVDQZAFMIJMVW
#\\\|P7IA4OCD2OKFFLHA2HNBR2KJWSBDNP3KZO7UJJD734TTUJTYE4X \ / AMOS7 \ YOURUM ::
#\[7]PRSQFXUCL4NEUEMQHPAIKDHESRITVWDNRIKZLHDYASIA3Q2LLUAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
