## [:< ##

# name  = start.cfg
# descr = 'users' zenka startup configuration used by 'v7' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1
stdio.multiplex    = yes

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]
  [base.stdio_multiplex.connect]

#,,,.,...,...,,..,,,,,.,,,,,.,.,.,.,.,,,,,...,..,,...,.,.,...,,.,,,.,,,,,,,,,,
#IFIEX3W7NL7SQG2M63OZ2TEPG7IXU4OLDGJGSDXLX4S5GSELJ7Z7UUF3SBGLWGCCAELWG2EB3BOJU
#\\\|NKOS6BMEDZSWSXEADXSI36CWT7LUIOXICPKPSGL7343RGXCNQFH \ / AMOS7 \ YOURUM ::
#\[7]L6VDXDH4GIWFH5IBCAXI3QEVOXWNBLR2UUHOXTEVTPC5ZFRTROAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
