## [:< ##

# name  = start.cfg
# descr = 'users' zenka startup configuration used by 'v7' zenka

dependencies    = cube
start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1
stdio.multiplex    = yes

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]
  [base.stdio_multiplex.connect]

#,,,.,...,,.,,.,.,,.,,,.,,,,,,,.,,.,.,.,.,...,..,,...,..,,...,...,,,.,,,,,,,.,
#JEUG4VCSS5IXRDT7LGSCKRGVHMOJDHYNU3N2SOG74L2LKW6UMMDYZEF72ZRIQ5G67W6KS7X4XPXWQ
#\\\|7QBZSD6VCEJBFUPSLRJLOB6NUCHMGTM2USAXIYJXKQBIOKMR5VQ \ / AMOS7 \ YOURUM ::
#\[7]ETFXAZ4MXU7SZVKF3G4JCE7FCJ6C2JYSEN73MLMDIDU6LSWGEIDI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
