## [:< ##

# name  = start.cfg
# descr = 'nodes' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,,,,,,,..,,,,.,,,.,,,,,..,,,,,,.,,,..,,..,,...,...,...,,,.,..,,.,,,...,
#KDAY3CAFDQHLIAN2XVV2TVYFQ26LTVXI7HVTYVJVCEY7LAP34SJDS4MNKL32PVJGOUBBEBQAILEOK
#\\\|R3BZIX3H5INYBR3DDIRK5UX37BQA3V26MLGA2Z62QDLVNAMYOVM \ / AMOS7 \ YOURUM ::
#\[7]HXEJRJAXHIFWSBDJFGHGIC6LTSZ7S6Z4XCUW3ZWRIBPKFI7SY4CI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
