## [:< ##

# name  = start.cfg
# descr = 'openbox' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,..,,,.,.,,,.,,,,,,,.,.,,..,,,,,..,,,.,,..,,...,...,,..,...,,..,,,.,..,,
#ZO7ZKZTHRKSITMYQUUV5IL3GJYAKY6F6BLEQEB5PHO3I4IVJIPZLJPLEQZANGM42TGFV52I26HLOW
#\\\|Y7LGFTCYLA7ADOZIVNNIRQQOXQZLSVAXWXLXO2NFYOGKYVRPG66 \ / AMOS7 \ YOURUM ::
#\[7]24JHY3AH4RTX74NOZ5SSZHBUR5QCZTCRU6YGYNA5KXYGY3OWE4DA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
