## [:< ##

# name  = start.cfg
# descr = 'openbox' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,..,,...,,.,,.,,,,,,,.,.,.,.,.,.,...,,,.,..,,...,...,,..,.,,,,,.,.,.,,.,,
#FPFGFWWSXQORL324ALDRECRFXRDV2GOJ4IXHP3UJMCDB3BYDTLALSB7PIIGFTVNXPDWQTW3NT32UC
#\\\|S2WLAVZQPGQ2BM25TJVEVDHSZC2RK4ZBUHSZAS66RNYUULAFAN4 \ / AMOS7 \ YOURUM ::
#\[7]GND6IURGTQRCRTUOVNSLH4F3S5EP3A5UAKHMKRMWT5GID6VSXYDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
