## [:< ##

# name  = start.cfg
# descr = 'memory' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,..,,,,,...,..,,,.,,,,,,.,,,,.,,,,.,,..,...,.,.,...,...,...,,,.,...,,..,.,,,
#WS6FPFHI2A5TDND3JZRFGDSIVTQNK56KXQVGJKNTDNTWIJMUN6NGP65JKLMO5COHRZE3OHK3WIQMO
#\\\|PKMJZKUVRE752BAGHVRXUOFZNA2HE4UQWSWF654JCMUVYZNXPIK \ / AMOS7 \ YOURUM ::
#\[7]IFR3PHPAV2NPKASQJY7LZZBOIAX7X3FT23X6N4VCN5UYIHE4HWCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
