## [:< ##

# name  = zenka-startup.v7
# descr = 'udev' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,.,,,,,,..,,.,,,,..,,..,..,,,.,,...,..,,..,,...,...,...,.,,,.,.,,,,,,.,,
#LIQBI2VZVQLMILRXFVVGENBRFJHPAN5ZI7ZUK4BUYZPW46NWBF7EENFEYKH4LMS6MCURFQBB5QYFK
#\\\|KANW4KZLJ5Q5G4Q7OFHIX6XCRSM7DXSID4SLCHWK44UBIFXCUBZ \ / AMOS7 \ YOURUM ::
#\[7]O5MWQUC4CN2DSO5WG6S6AUEKEBJZY5HV3SORQ3SX6R42765VBKDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
