## [:< ##

# name  = start.cfg
# descr = 'udev' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,..,.,.,.,,,.,,,...,..,,..,,,,,,.,,,..,,..,,...,...,,,.,...,.,,,,,.,.,.,
#7LIPKM7GRVSV5BZA36FK4YRN43XM7C2C4EVHP5TIOBE4CHCXJHWVN3AHL3AB7HVU3WWO3BSYE6AH6
#\\\|IH4DFZTEZORZEZGBEALH5LL5J3Q2JNUNGSYI2PMOPCUDR2N2YKB \ / AMOS7 \ YOURUM ::
#\[7]YAZX6TFN6FDRGMPB6HT3TBSYN4XY3OMRJL2IMJ4SBFNW5SJOHECA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
