## [:< ##

# name  = start.cfg
# descr = 'udev' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,...,.,,,,..,,,.,,,.,,..,,,.,.,,,..,,..,,...,...,...,,.,,.,.,.,.,...,
#5U3AR7MUMYSHWVFIAWJP7EGWNSUK5I7RTPXPKBNIE5R4REAVXW6XBQW35FCUI6GVLVRCRLGZVVT6K
#\\\|IXAXX4XWNHGTB5ZSAMHHCOQVRQ56L3TJ5B24NNJWXQ32VRNAC7I \ / AMOS7 \ YOURUM ::
#\[7]Y6XGKVJYRVK2ALRCVBVSNX2JIJNAQQNS3OFLVERWKWQXKW2JYEAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
