## [:< ##

# name  = start.cfg
# descr = 'events' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,.,,.,,,.,,...,.,.,,,,,.,.,,,,,...,.,.,..,,...,...,,,.,..,,,.,,,..,,.,,
#QGKZMXP23LIRAUHMVWYVELQLCH6JWYJFPN44DQRSXQTMIO43V25HVY6FHW6ZHKCJG2DAU2P37OPEC
#\\\|A3KKV4EOPPTIII52IROCARWP4RNDDFRMFYDUWGFJLY6ZSF3CFW6 \ / AMOS7 \ YOURUM ::
#\[7]HMBUAFUHYLCQI47GKW227VOXG2UP3KQIC5LN74VRWYT3GR4L4CDI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
