## [:< ##

# name  = start.cfg
# descr = 'events' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,...,,..,,.,,,,,,,.,,..,,,..,,,,,,,.,..,,...,..,,..,,..,,.,.,..,,,,,,
#ELTB44WX45GPW4JPIMGC7ZZPE4DCGVAQQJBXINL3P2PCOQC3GD2JNYBZT5YV5CZDX32AW5LE3TW7K
#\\\|K5PHKHOTJWRJ777TSHGWMMWYJNPFU5JP2QSTX7SBRFYQVCYEYBH \ / AMOS7 \ YOURUM ::
#\[7]ZSOQJW4F2LC5QSJHSEJAXLHCJ42B44LLFEGQ3QSPS7GBTLKC7IDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
