## [:< ##

# name  = start.cfg
# descr = 'pcycle' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube power
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,..,,.,,,..,,,.,,,..,,,,,.,.,,,,,...,.,.,..,,...,...,.,.,,..,,..,.,,,.,.,
#HXUAFKALUUX3DSITO4P4H2LF2YY7MTNFYHY75LSCKXSYS4XBPQVRGIEEUMRALTHQ2RF4HNBX532R6
#\\\|FXYZ2OMAE47S763P3MZ5FJOWJUT5X6GMKWEF3JLABMBLAPPMALX \ / AMOS7 \ YOURUM ::
#\[7]3G3BAF5QDERYKCYPSKQ36WGZ2O5EOZRTKMQVBI6HNHFOUNYSJUAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
