## [:< ##

# name  = start.cfg
# descr = 'pcycle' zenka startup configuration used by 'v7' zenka

dependencies = cube power
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,.,.,..,,..,,.,.,...,,.,,,,.,,,.,...,..,,...,...,...,...,...,,,,,,,.,
#LETG7JT4FP4SMUPH2DSJ2CVEFBGXE2L7JEZBYCI7US2G45AMC4FHBM4454TMOPRAG5WRCACMCVZM4
#\\\|JONE4TGCZGMDJNPGW4ODJGVH3V7JU3TUXFXIFQ47J6R6IN43XNN \ / AMOS7 \ YOURUM ::
#\[7]S6EKQEZHVU7DHXI5SIQ5JFXOQ4EKEPETLAVMAB5O72WJN6XAFSDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
