## [:< ##

# name  = start.cfg
# descr = 'melt' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:77]

#,,..,.,,,.,.,,..,,,.,,,,,,..,.,.,.,.,,,,,.,.,..,,...,...,.,,,..,,,,.,,.,,,,,,
#YV6OWALRUBZC3BCGTJSV55W6O3IQJYBOVCGPOS5CV5CBCLRZY2LCLLBCREM2Z22AR4JQSLYB47N76
#\\\|4AHQDAUOYSQ5EWKDRYRUTICMME52HF6LYRB7OOAU3IWOFMDXV3H \ / AMOS7 \ YOURUM ::
#\[7]GMZCND4WZ4KGZIYLIDU24OL2RIZ6R7YHRVBLJPWMXAIMXF6W5ICI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
