## [:< ##

# name  = start.cfg
# descr = 'melt' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:77]

#,,,.,,..,,..,,,.,,.,,.,.,,..,..,,,,.,,,.,,..,..,,...,...,..,,,.,,..,,,.,,.,.,
#MWLNPXQ725O3LWPCKP54HM3AJLMYPEDZGU75TMFDK5QXA7B7SQLGGD53FZQPJWYPIC5JWY5XHU7WC
#\\\|EEWJ4XH7BLEOKG3CJXO53W6C5ZLJ57MQINIQP2S3X2TERWB42YF \ / AMOS7 \ YOURUM ::
#\[7]RFJZYNGEMIZH4S3QSUYH4D4UEED6DTKXSSVZGGF2WMI4ICUSU4CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
