## [:< ##

# name  = start.cfg
# descr = sys-deps zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:64]

#,,,,,,,.,,..,,.,,,,,,.,,,,..,..,,,,.,...,,.,,..,,...,...,.,.,,,,,...,,,.,,.,,
#DMPTRGIY4PAZ6RKSSI7527XNCTXCD3GHEZN3E7IA6XJACG4HQSEJ7RFX2GDIWZFCNI5WFTKTGVPCA
#\\\|HFNMH2TNPMPGAWMNP27WQ2V4GDKO2X5GFOINFT3IXODFZC5DDIJ \ / AMOS7 \ YOURUM ::
#\[7]JWB5GXHBVUEGJPA3UQ4DN6FNT6SBTEGNYNMSN2SWMNK7BEQSXKCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
