## [:< ##

# name  = start.cfg
# descr = sys-deps zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:64]

#,,,,,..,,,,,,.,,,,..,,,.,,.,,.,,,.,.,,.,,.,,,..,,...,...,..,,.,,,,.,,,,.,..,,
#4DQPKHEZY4ACVNAJLZUI3I5H6XVFSUBPAS5BZUACRLM4SE6CROQ6TDMMZRRU2PD3YQVTA3ZWIVPWA
#\\\|ABREQ454VSXNXZPL4SQKBO6DHN6YNAXXNH2FBTZ2VIFYNMSJL44 \ / AMOS7 \ YOURUM ::
#\[7]VGSVDDE2FRP72BTDHZ5BWSZP6IKLLMTQUO3WQ5THWTR6MC5XNEAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
