## [:< ##

# name  = start.cfg
# descr = sys-deps zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:64]

#,,..,,,.,,..,,,,,.,.,...,,,.,.,.,..,,.,.,.,.,..,,...,...,..,,.,,,...,..,,...,
#PF7YWSHDVH2NLOJOV2ZV5RDZ7PJ2EEYRG3A4VSKYREPYDVHQIAKWUNTLW6XG63WLGM535RJZOMPZO
#\\\|UBRFIQQRMWYTQW45NNCEV5NK6RJK3SESLRMANJH5AMTUJ7LGWVY \ / AMOS7 \ YOURUM ::
#\[7]MN4WKFSRED7MGXQMHRXOR4NGKROO7PDZ2VNKFZU3CSLTA7EPVACI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
