
temperatures : Temperaturen
cloudiness   : Bewölkung
humidity     : Luftfeuchtigkeit
pressure     : Luftdruck
updating     : Wetterdaten werden aktualisiert...
loading      : Wetter wird geladen...
current      : Aktuelle Bedingungen
source       : Quelle
title        : Wetter in
today        : Heute
wind         : Wind
morning      : Vormittags
day          : Tagsüber
evening      : Abends
night        : Nachts
