
temperatures : Températures
cloudiness   : Nuages
humidity     : Humidité de l'air
pressure     : Pression
updating     : Actualisation de la météo...
loading      : Chargement de la météo...
current      : Conditions actuelles
source       : Source
title        : La météo à
today        : Aujourd' hui
wind         : Vent
morning      : Dans la matinée
day          : Pendant la journée
evening      : Le soir
night        : Pendant la nuit
