
temperatures : температури
cloudiness   : облачение
humidity     : влага
pressure     : налягане
updating     : актуализация на метеорологични данни...
loading      : зареждане на времето...
current      : настоящите условия
source       : Източник
title        : Времето в
today        : днес
wind         : вятър
morning      : сутрин
day          : деня
evening      : вечер
night        : нощ
