
temperatures : temperatures
cloudiness   : cloudiness
humidity     : humidity
pressure     : pressure
updating     : updating weather data...
loading      : loading weather...
current      : current conditions
source       : Source
title        : Weather in
today        : today
wind         : wind
morning      : morning
day          : day
evening      : evening
night        : night
