
temperatures : Temperaturen
cloudiness   : Bew&#246;lkung
humidity     : Luftfeuchtigkeit
pressure     : Luftdruck
updating     : Wetterdaten werden aktualisiert...
loading      : Wetter wird geladen...
current      : Aktuelle Bedingungen
source       : Quelle
title        : Wetter in
today        : Heute
wind         : Wind
morning      : Vormittags
day          : Tags&uuml;ber
evening      : Abends
night        : Nachts
