## [:< ##

# name  = start.cfg
# descr = 'httpd' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

: v7-init :
  start_mode = stdin-zenka
  max_concurrency = 1
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,..,.,,,,,,,.,,,,,.,...,..,,,,,,,..,,..,..,,...,...,,,,,,,,,...,...,.,,,
#327QFHNIAXA5NVTGT76WOUWSER55DRDJB644NFM3Q2ICZ5IEUYNHVLAQ2Q2NJHCJOAPXRL3PBYXFG
#\\\|V3HFE4STHJZEA6YH3U756F3IJZDNHHXTIN3FONKFPAPRTBHU6WO \ / AMOS7 \ YOURUM ::
#\[7]LL5VC3S5OUGWF26SDEOTKNW76OKBERTOJKS54DZJJTB7ECFEPYAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
