## [:< ##

# name  = start.cfg
# descr = 'notify' zenka startup configuration used by 'v7-zenki' zenka

dependencies = dunst   ## [dunst|notify-osd] ##
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,,,.,...,.,.,.,.,,.,,..,,.,.,,.,,,..,..,,..,,...,..,,,.,,.,.,,,,,.,,,,..,
#GR6JL7YLRYRT3772XM446DWC65VD7PHM7U4MNOAP56T3VUCFNGFCCNWBIHT77DLDNUSLES7XGPFPA
#\\\|HXG5X3IQDDW2UV4Z3SDYOYOYOKW73M475RLV5GD6DYR4F3TABJP \ / AMOS7 \ YOURUM ::
#\[7]YCKZTAGLQMGFM25556IZ47FAMILTORJS7RH4NYLLOJ77VI3O5UAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
