## [:< ##

# name  = start.cfg
# descr = 'notify' zenka startup configuration used by 'v7' zenka

dependencies = dunst   ## [dunst|notify-osd] ##
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,.,,,,.,,.,,..,,.,.,.,,,.,,,,..,,.,,.,,,.,.,..,,...,..,,.,,,.,.,,..,...,,..,
#46F2WI3P3LWBR4KKYI52TEHOFSOUKC4NWLX3B4VIKAVMSJQJHA65E7HVIYUHVVK2AJ55UCNPKB7MA
#\\\|IXILA36PQTZ4WUTEO6Y3IUJWIKOVCGCDJVL6CAA5H6P22DQRQBN \ / AMOS7 \ YOURUM ::
#\[7]NM5VY6SZU4IQ6IDOR5OPDTCBAYI7H7BDXHBNDN6ATTOV4FIESYAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
