## [:< ##

# name  = start.cfg
# descr = 'notify' zenka startup configuration used by 'v7' zenka

dependencies = notify-osd
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,.,,,.,,..,,,.,...,..,,...,,,.,.,.,,,.,,.,,..,,...,...,..,,,,.,,,,,,,.,...,
#MLU6WYWMYGTUI5E7IHD4V3KMONC7MH2SQ3MUAGWF3GHZF2TWPOLCXUKWPKPWDBZMJU5WQDVICQILY
#\\\|CIORQRTT4NQYQ5CRWQ3BQ3PRFUTOA5GIPFV2SS62U5RPQS3SWFA \ / AMOS7 \ YOURUM ::
#\[7]TCNIWIWRXVCWJ2OKOJG43JSKZS77SOC2IFJ2WTLLMEQEMLALDMAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
