## [:< ##

# name  = start.cfg
# descr = 'fs' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:42]

#,,..,,.,,...,.,.,,.,,,.,,.,,,..,,..,,,.,,,..,..,,...,...,.,.,,.,,.,,,,,.,.,,,
#ITOZZKRA7XMM7YXUL4CJ7WP2UT6OIAVSUTPKRPRCLJRJ6DHAKWQYAXP27P63RSLNRJP3EI7HN6LI6
#\\\|LZ7L2Y4BV2G2BJTXDQTVJGU2EEDTWEXM4GODJNZIKUHKLOEJLXD \ / AMOS7 \ YOURUM ::
#\[7]GPX6BUYOTZF6C22KKWEA25OT7PIDPWD4HLQIAK3TUT5EB2JLJADY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
