## [:< ##

# name  = start.cfg
# descr = 'fs' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:42]

#,,,,,,..,.,.,.,,,,,.,,.,,,.,,,,.,,.,,,,.,..,,..,,...,...,,.,,,,.,..,,.,,,.,,,
#BCMX4VZTT73AF45P7WB6PYZ4ZLY6Y6ZEXMUGXW7MDZMTM6UBF4DLBVN3KHXP7NMHKVORRBIPDM73O
#\\\|XP2CMB7GEMAFUURVB7IH3A73IR4FGLUXA2PEMCKBIQFADWHQDQS \ / AMOS7 \ YOURUM ::
#\[7]SGQ3XBLHFMOO3KWV4LPMJGASE5SN3EAGU4TXSJPURD35ZQ57GCBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
