## [:< ##

# name  = zenka-startup.v7
# descr = 'fs' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:42]

#,,,.,..,,,,.,,,,,...,..,,,,,,...,,.,,.,.,,.,,..,,...,...,.,.,,,,,,.,,.,.,,,.,
#YMEI4VPBZITAAZUGNHHXJ5ULVU4AGQJPK3QXZO2TRBNWF4GB6EZRDF6A5IW5DV2UORZ5KRFRGXPIE
#\\\|P7N2PXJNVJX4DHVGD252WBIPW7A57JQC2MI7KOU6FZZNSNFXULY \ / AMOS7 \ YOURUM ::
#\[7]QQ5ED3P6KWXS2MLYXD6SOHQ6DH6L3VLTZVTCOC2JKRKFOQDWI2AQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
