## [:< ##

# name  = zenka-startup.v7
# descr = 'context' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,.,...,.,.,,.,,,..,...,,.,,,,.,,,.,.,,,..,,...,..,,..,,,,,,...,..,,...,
#QQ63PN53IZ6DKIPN2ERB74JG4BTLYC5WMTDXHQLUOI4SVF63M7P3DPVI3F7PL2FZS66XLASB5SKEC
#\\\|NVXYMQT5YVBD3MABMFPOVTFGUUADXCEYT3WIVPBOXGHYRRB5AS3 \ / AMOS7 \ YOURUM ::
#\[7]M7BK5TSUECHPDVOZYY6YMETPG3CAHXMO622M3K5XL3Y2GB3U3WBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
