## [:< ##

# name  = start.cfg
# descr = 'context' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,,..,.,,,,.,,.,,,.,,,...,,,.,.,,,,,.,..,,...,...,...,,,.,,..,.,.,,,,,
#VBF2BTLNFS2PAW2GQ6P44E7BD3PRWKHRS5DWTE6SMMIF4X62SR7XHSWRA2XQXMFVPARYKVMUGBHG4
#\\\|GHQRHX7DC5VEFOLTNQ6J5JLK3VDJXKM4PVUVXM6UOON4BM7XTTE \ / AMOS7 \ YOURUM ::
#\[7]YHUW5FXJAD4NIWK7CTQUAGL5JHWQIPUQKNFWE6MFM24PQ5O62GCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
