## [:< ##

# name  = start.cfg
# descr = 'context' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,,,,.,,.,,,..,,,.,,.,,,,..,,..,.,.,,,,,..,,...,...,.,.,..,,,.,,.,,,..,,
#3773COV42U6OSZL7OB6P7PTIIQ6QY2IKRZMVFSFBDKFUTVBK6UDKEIWHQMZOTKYOHWKDZFDWNFZMW
#\\\|H44WXQQVDINECEATE7PN6ZYAGG4N3ZASC34S5FWRQJF2Z7LN7ZL \ / AMOS7 \ YOURUM ::
#\[7]H4BEBQAULIYW3JICG5GVQZJJ2HTP6WZ4UBQI4H3JNGW6JHBLE6AA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
