## [:< ##

# name  = start.cfg
# descr = 'p7-log' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency    = 1
heartbeat.timeout  = 77

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,,,...,,,.,,.,,...,,..,.,,,...,..,,,.,,..,,...,...,,.,,.,.,,,,,..,,,,.,
#FTRIEU22QLKPAMWMJDQCJ62ZI74WGXKJVUWPLY32GLP4RLPC5M3PB3MLCYJE6S4BBRELFOZAOP6EW
#\\\|ENIYHS2W3GURZ3M2OT7CZHX56YRS6S74S3TYZ3U55GM54EH3HY7 \ / AMOS7 \ YOURUM ::
#\[7]5YZWQRU4T3NM3DFVTKZ473WX2B3RLB7M73SISZLN5PAHYXTMGYAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
