## [:< ##

# name  = start.cfg
# descr = 'p7-log' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency    = 1
heartbeat.timeout  = 77

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,,,.,.,,,,,,,...,...,.,,,..,,..,,.,,,..,,...,.,.,,..,,..,,..,,..,,..,
#EHUUJ4YCFOSHKOP73QUSZZFHCG3MBIZLNCBYLLMAPCK5E3LQONJITX3OHXA27K6Y7PAYKLQLHDPPQ
#\\\|3ZA5W4BUJZZGMKGN6WJL6CS2G2KS6Z652HD3TAE3OGS7MLP2IEH \ / AMOS7 \ YOURUM ::
#\[7]EXK3IOH3433HHHCLP4V3E6NS2KA64BRGWUF42HSUUC5RWD3NEADA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
