## >:] ##

# name  = rules-set-up.example
# descr = example rules for udev zenka  [ mkfs.xfs /dev/sd-N -L assigned-name ]

.: patterns :.

    - example_usb_stick

        : inserted :

          ACTION        = add
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name

        : removed :

          ACTION        = remove
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name


.: actions :.

    - example_usb_stick

        : inserted :
          net.cmd = notify.message EXAMPLE USB STICK INSERTED!\n :: <DEVNAME> ::

        : removed :
          net.cmd = notify.message EXAMPLE USB STICK REMOVED!\n :: <DEVNAME> ::

#,...,...,.,,,..,,.,.,,.,,,,.,,,,,,.,,,,.,.,.,,,,,..,,,..,,.,,,,,,,..,.,.,,..,
#QAD6IW4XYSA47VULC4KVZJL6LZHZARJVUHKCPD53V6IVLNEPOFUL5HEO4WDTAUKPFT5J3O6YBUDD6
#\\\|YWWJTBLE24G4JE7IQW3NIALKZOT5HWH5T5IYTMAVSMEWLGM6AOF \ / AMOS7 \ YOURUM ::
#\[7]KRVKDHZ4RSPYUXAX4R26EIMXN46ZF4POAIX3ZWT7OFJWERROOGBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
