## >:] ##

# name  = rules-set-up.example
# descr = example rules for udev zenka  [ mkfs.xfs /dev/sd-N -L assigned-name ]

.: patterns :.

    - example_usb_stick

        : inserted :

          ACTION        = add
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name

        : removed :

          ACTION        = remove
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name


.: actions :.

    - example_usb_stick

        : inserted :
          net.cmd = notify.message EXAMPLE USB STICK INSERTED!\n :: <DEVNAME> ::

        : removed :
          net.cmd = notify.message EXAMPLE USB STICK REMOVED!\n :: <DEVNAME> ::

#,,,,,,.,,..,,,..,.,.,.,.,...,...,,..,..,,,.,,.,.,...,...,...,..,,.,,,.,,,,..,
#BZ522AC3D4OO7ZJSB45NNDOJTDJUAJBSV3T646GRNYKXDWWAYO27FIA6YPDPA7G2LDSJIL2K3WGHM
#\\\|MANDGRWXBZYS3BVC7MPKRFHC7WHUJPWKJZXSIQKWRRTCZOLR54Q \ / AMOS7 \ YOURUM ::
#\[7]N34DHCPKAKEDF5XSRS5ZY4MYOP73U3MXIJZOXLMO35HXCAT5EKAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
