# >:]

# name  = rule-setup.example
# descr = example rules for udev zenka  [ mkfs.xfs /dev/sd-N -L assigned-name ]

.: patterns :.

    - example_usb_stick

        : inserted :

          ACTION        = add
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name

        : removed :

          ACTION        = remove
          ID_BUS        = usb
          ID_USB_DRIVER = usb-storage
          DEVTYPE       = disk
          SUBSYSTEM     = block
          ID_FS_USAGE   = filesystem
          ID_FS_TYPE    = xfs
          ID_FS_LABEL   = assigned-name


.: actions :.

    - example_usb_stick

        : inserted :
          net.cmd = notify.message EXAMPLE USB STICK INSERTED!\n :: <DEVNAME> ::

        : removed :
          net.cmd = notify.message EXAMPLE USB STICK REMOVED!\n :: <DEVNAME> ::
