## [:< ##

# name  = start.cfg
# descr = 'dunst' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 dbus
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,...,...,,..,,.,,.,,,,,.,,.,,,.,,...,.,,,..,,...,...,,.,,...,,..,,.,,,,,,
#GZ7OTXUELCUDPSPE25TEWPSLTVPR7RQSO7UINO6Q777KM3GN7QS2EAOWP2LBLJ2F7PVXOIAWVCR7U
#\\\|MCW34EGBBMW52NBCJYZDJBAU3JCFGA5J32TU2ME3ERDG3W55VAR \ / AMOS7 \ YOURUM ::
#\[7]MMKEETINNIO4V52JGU3I7P532EVUK7TOJ27FQPVTE3KM63ALY2CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
