## [:< ##

# name  = start.cfg
# descr = 'dunst' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 dbus
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,.,.,.,.,.,.,.,..,,..,,,,,,.,.,,.,,,,.,..,,...,.,.,..,,,,,,..,,..,,,,,,
#5WYXUNSKLZ3CPBFI74TX52P6QBHL7GMQPVSNDYCF46SI2IYEVMWT4I55OHGIIUWE65YG45GRTRT4A
#\\\|OJMFFCUNV3R5TSKFKSTCO72BCVPZDB5F2B3VC3YCX7DDWYYBHXR \ / AMOS7 \ YOURUM ::
#\[7]R5CJ2YSYG6PNL4RL53JECBBUBYYEFFEE3QFTSFDJ44U3EVIKSUAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
