## [:< ##

# name  = start.cfg
# descr = 'channels' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
start.on-demand = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,...,,,.,,,.,.,,,...,,..,,..,.,.,...,.,.,..,,...,...,.,,,...,...,,,,,.,,,
#MIZVZ6NHEDWASI6M3JJMZG5IMH55GDTST3GEI3FE63AX2KU3CZNGAMYOWHFU4IQA3RUQK2CKS6SG6
#\\\|BPCVIY3UERROER2KKPAMVZBRNIETNZ5RGZ43YCRE2MPWLS3YCHK \ / AMOS7 \ YOURUM ::
#\[7]2BFGO5JNM5SLCAQKYT4UTNK736MJUCTMLTEDLUIAABZFCCFGTOBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
