## [:< ##

# name  = start.cfg
# descr = 'channels' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,.,,.,,,,..,..,,,.,,..,,,..,...,..,,,.,,..,,...,...,.,.,.,.,.,.,.,,,,,,,
#IZMBAUACMXGBPIQS5JT6JJIZU4VUCXZLZQ7EA3QY2I377ZEMZSUUDAWXVRHTMAKWGMXPVW5LLOM7E
#\\\|RAL5E42SPTFEO3UYLFXKBNVRN33PVNSITG6EJUCYLLUWWB55NTN \ / AMOS7 \ YOURUM ::
#\[7]GULYWPQO4FPT7LUOG5DU2RUWVE7BOFRREQIJGH6Z2ZM4Y7OJJMDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
