## [:< ##

# name  = start.cfg
# descr = 'channels' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,,,.,.,,.,,,.,,,,,,..,,.,.,.,,,,,,,...,..,,...,...,.,.,..,,,..,,.,,.,,,
#4YUPA4U6K7O6R3FIFCQ5OS2BBLX3ZU4SSD5673L5ETPGZITHOKDEJNIMFBVUO7LAB43K2JVDZ4T6A
#\\\|EBW5WSBKYOSXDTQT6XGNOG2HATGU7Z6BYKC3SCCFORY6WUG4UDL \ / AMOS7 \ YOURUM ::
#\[7]OXSBVVM5F7LNYGCAD7PT6XOIOQXRSZXTQ4MUH2IIF5PW4O6F6CAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
