## [:< ##

# name  = start.cfg
# descr = 'zenki' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

# sandbox \ prototype zenka : not registered on-demand [ set back to 1 to re-enable ]
start.on-demand = 0
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,.,,..,,.,,,,,,...,,,.,,..,,..,,.,,,..,..,,...,...,...,...,...,..,,,,,,
#EVUQYYV5VNDNCWH5L54UGHVM4LXGSJBJNLCM6IYGF7WG7JUDKMKEGJ4T5BMLOB2PNTJXFMB65I3FS
#\\\|M22XLIXAATZPW4LE6EYN73IPJX2S7VO3TLMY3632D2L5DU763ER \ / AMOS7 \ YOURUM ::
#\[7]UW55L42DTV6QXVB77YSEA6LGILDJ47MBHDAX5ADMNK7XZJQ6TGBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
