## [:< ##

# name  = start.cfg
# descr = 'zenki' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,...,...,,..,,,.,...,...,,,,,,,,,,.,,..,,...,...,...,...,,.,,,..,..,,
#7D2HCSKFY55L4RS62JWJF6BBADPIU32OSFYFCVV4AYMRF52WCAYFCIML3X67IQZK5QO4S3MN2PTXE
#\\\|4ILRE6IZ2KQG5TKMXBH2NDZ4F7L3HK2ZTF65LYQDDGTCIAO4NQA \ / AMOS7 \ YOURUM ::
#\[7]SWPZTS2LCTCSO5NY2TEIM4SVFQZ73S32MLKRMT5DMSF2TUGXNSDI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
