# >:]

# name  = nroot.spawn_config.local
# descr = defines agent startup for setup 'local'

.: globals :.

  agents.enabled = core log # file-daemon system ssh udev
                 # xserver openbox compton layout playlist

.: agents :.

## config data imported from './cfg/agents/<agent_name>/agent-startup.nroot' ###
#

## external program example:

#  - xclock
#      max_concurrency = 5
#      dependencies = xserver
#
#      : nroot-init :
#        start_mode = exec-external
#        exec_bin = /usr/bin/xclock
#        exec_usr = nailara     # <- supports '<x11-user>' (see ./conf/desktop)

  - moodlight

      max_concurrency = 1
      dependencies = core

      : nroot-init :
        start_mode = exec-external
        exec_bin = piglow_moodlight.pl
        exec_usr = nroot

  - dist-upgrade

      ping.disabled  = 1
      max_concurrency = 1
      respawn.disabled = 1

      : nroot-init :
        start_mode = exec-external
        exec_bin = debian_dist_upgrade.sh
        exec_usr = nroot
