# >:]

# name  = spawn-config.example
# descr = defines minimal example ['nroot'] agent startup configuration
# note  = ... most of what was here is now in the agent subdirectories ...


.: globals :.

  agents.enabled = core log  #  <- add additional agent names for autostart mode

 # agents.disabled =         #  <- use this option for start permission override

.: agents :.


#
## config data being imported from 'agents/<agent_name>/agent-startup.nroot' ###
#

### external program examples ##

  - moodlight

      max_concurrency = 1
      dependencies = core

      : nroot-init :
        start_mode = exec-external
        exec_bin = piglow_moodlight.pl
        exec_usr = root       # <- supports '<x11-user>' [ see ./cfg/x11-vars ]

  - dist-upgrade

      ping.disabled  = 1
      max_concurrency = 1
      respawn.disabled = 1

      : nroot-init :
        start_mode = exec-external
        exec_bin = debian_dist_upgrade.sh # [ ./bin/dependencies/.., ]
        exec_usr = root
