## [:< ##

# name  = start.cfg
# descr = 'httpsd' zenka startup configuration used by 'v7' zenka

dependencies = cube

: v7-init :
  start_mode = stdin-zenka
  max_concurrency = 1
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,,,,,..,.,.,.,,,,..,,.,,,..,...,,,.,..,,..,,...,...,..,,,,,,.,.,.,,,,,.,
#TCSVI4GRKW3WINUW7OYHH36AGNSUJIHM6DUPDBH3ERD6VGPDWNRKDV2S7IQQVVNB6HMATTZYD4J5Q
#\\\|URUUW3MBPUCSNMJEZDDBMVQFZOGLNE5MZPZJUSZ5A6V3HTH5IGR \ / AMOS7 \ YOURUM ::
#\[7]CR5MJBB3B3V7KO237XC2J4VF27SRZFDFJA2YX4PZHJHH2O7YIYAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
