## [:< ##

# name  = start.cfg
# descr = 'httpsd' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

: v7-init :
  start_mode = stdin-zenka
  max_concurrency = 1
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,,,.,,.,,.,,,.,.,...,,.,,.,.,,.,,.,,,..,,...,...,...,.,,,.,,,.,.,,,,,
#5AXSF2WZJDTPIUHKWYYVLAXXONYGAYKCI5GZVXMDHQLFC62Y5V6OHXJFW452ICZURO5K3CTP7RUNW
#\\\|4CWVV53EHCBO57WUCKOGNLYW5QUCK4ZWP6HCC5LXHD2SZCDYSIS \ / AMOS7 \ YOURUM ::
#\[7]UN3Q2HQ5NN7XIDKKNKIDQ6H6RIYML4QUAIODPBUSKKOZJ63NDMBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
