## [:< ##

# name  = start.cfg
# descr = 'povray' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:142]

#,,,,,,,,,,..,.,.,.,.,,..,,..,.,.,.,,,,.,,..,,..,,...,..,,,,,,,,.,,..,,..,..,,
#6DQUO7RC6DDYF6Q5QT2JROX7MVWZUYYUIQ3NRLLWWOYWXLPK5UYM6OX3VVA7BDRX7ODEIIA53XVYW
#\\\|KGDVMRMOLHFXCVG23SKAUJ3EUWXOTKZ2HIRT75NTI3YNRVA22Y2 \ / AMOS7 \ YOURUM ::
#\[7]J3VIEBG3BUGASBA3RSWDQ7P7RO557CYXZG6KCSGEJLNSEQ2NVQBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
