## [:< ##

# name  = zenka-startup.v7
# descr = 'povray' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:142]

#,,,,,..,,,,,,...,,..,.,.,.,.,,,,,,.,,,..,.,,,..,,...,...,,..,.,.,,,.,.,,,,.,,
#2ZEE4HTJV5R6WNBOFCAOU4NGYTN2BGTIGRKYCGV3WWPTLLKK3MZIYD5JGC52K2P5XNL7WGPXOUS6S
#\\\|BKBGK5HTKAWNR7IL5D2QVAWN2CKEQQSJ4ZFMRMWHIVHPBODJ57L \ / AMOS7 \ YOURUM ::
#\[7]NIGDIZL74EZ7AJKFBECQVQOFDPVPRKV77DYBZLDFXQKE2M5UXKAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
