## [:< ##

# name  = start.cfg
# descr = 'povray' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:142]

#,,.,,.,.,,,,,..,,..,,.,,,.,.,..,,.,.,..,,,.,,..,,...,...,,..,..,,.,,,,..,..,,
#23ZWC6ROWTIDNIRIO5Q7Q3HHPNL2SX5GXG7WEB3QITUXL5HUI5U6ZCTXRUKSVAHTZ22JTULYXBVNQ
#\\\|6FKD3UOZWF7A2D7XGFO473CXQ4AFBCIGFK6OVNE7FEBJBL2S2EL \ / AMOS7 \ YOURUM ::
#\[7]2JGAFRD2YHOBSDQQOKR3LCVLVT6TWBR7U347BXMQRYJV3TWQ2QCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
