
# name  = events.setup.example
# descr = simple example setup for 'events' agent


.: events :.

    enabled = dist-upgrade

    - dist-upgrade

      : action :
        type      = agent_running
        agent_name = dist-upgrade

    - moodlight

      : action :
        type   = agent_running
        agent_name = moodlight

.: timetable :.

  - dist-upgrade
    at  =  03:00

  - moodlight

    start = 21:00
    end   = 10:00
