
# name  = events.setup.example
# descr = simple example setup for 'events' agent


.: events :.

    # enabled = moodlight

    - moodlight

      : action :
        type   = agent_running
        agent_name = moodlight

.: timetable :.

  - moodlight

    start = 21:00
    end   = 10:00
