# >:]

# name  = root.spawn_config.local
# descr = defines agent startup for setup 'local'

.: globals :.

  agents.enabled = core config log # system ssh udev
                 # xserver openbox compton layout playlist

.: agents :.

  - core

      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]

      : agent-init :
        [base.auth.set_root_key:'<{core.key}>']

      : root-post-init :
        status.post-init = [root.callback.connect_to_core:<instance_id>]
        [root.callback.register_ondemand]

      : startup-failure :
        [root.shutdown:'core-agent startup failure']

  - config

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - log

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - system

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - fs

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:42]

  - ssh

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - udev

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - xserver

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - hide-mouse

      dependencies = xserver
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:1]

  - unclutter

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - openbox

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

 - compton

      dependencies = core xserver
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - layout

      dependencies = core xserver openbox
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - notify-osd

      dependencies = core xserver openbox compton
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']


  - notify

      dependencies = notify-osd
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:33]

  - browser

      dependencies = core xserver openbox

      : root-init :
        start_mode = exec-sic
        command_line_modules = Gtk3 Gtk3::WebKit
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - ticker

      dependencies = core xserver openbox

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - rss-ticker

      dependencies = core ticker
      ping.timeout = 42

      : root-init :
        start_mode = exec-sic
        max_concurrency = 1
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - httpd

      dependencies = core

      : root-init :
        start_mode = exec-sic
        max_concurrency = 1
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - download

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:33]


  - playlist

      dependencies = core
      max_concurrency = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - weather

      dependencies = core
      spawn.on-demand = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - pdf2html

      dependencies = core playlist
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:30]

  - image2html

      dependencies = core playlist
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:30]

  - impressive

      dependencies = core playlist xserver openbox

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - mpv

      dependencies = core playlist xserver openbox

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']

  - ffmpeg

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:42]

  - mediainfo

      dependencies = core
      spawn.on-demand  = 1
      ping.disabled    = 1
      respawn.disabled = 1

      : root-init :
        start_mode = exec-sic
        core.key = [base.rnd_chars_noblock_hex:64]
        [root.callback.setup_agent_key:<instance_id>,'<agent_name>',<core.key>]

      : agent-init :
        [base.auth.set_agent_key:'<{core.key}>']
        [base.agents.set_ondemand_timeout:64]
