## [:< ##

# name  = start.cfg
# descr = 'system' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,.,.,,..,...,.,.,,,,,..,,,.,,.,,,.,,,..,,...,...,...,...,...,...,,,.,
#KMAI6TUNZGMFQWKGXHMBLARESUUODWVEHZCNUVW6PE6LCBAEOHTTDP2EV2L3Q2RIJIWPRT2PRE37U
#\\\|7IKWMTJE4RZ2Y75PTM3GW44PI3QOOZCEPUNLXGOSV2P64WMWJBO \ / AMOS7 \ YOURUM ::
#\[7]GZ2JTNWUPY6HVTOAEMUCGHLRPWEYV47FSGUQ3QUBJLF52P6YVYCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
