## [:< ##

# name  = start.cfg
# descr = 'system' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,.,.,.,.,..,,,,,,,,,,..,,.,.,...,...,..,,...,..,,...,.,,,.,.,...,,,.,
#FAPUOI4WNOIDNN4QYQ24RIMPSWQC3ZE3EQADP2GDA4J7VXOC5NUQ6V2QPGB6MEKB2BK2VQANAB7WG
#\\\|3FBBMYYN3GO462U2CLW233ES4WYIXH4IZZAHVHNQY5KNN3D6DIW \ / AMOS7 \ YOURUM ::
#\[7]FNVGOLZIGJCVQJOD67OMDVWVGM7IQUBZSNU4O3IXRF2CEIS7MWDI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
