## [:< ##

# name  = start.cfg
# descr = 'screen-setup' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,..,,.,,,.,.,,..,.,,,.,.,.,.,,.,,...,.,.,..,,...,...,,..,.,,,.,.,..,,..,,
#J56PUACGJIWMR5RSL7IHHPTN5PRR47ABO3TYTUTWXOSNNYA5TWHFNZWOXP7WEETN3I676UKO2CZHM
#\\\|VAB5HBUAERPVE3CNTTQCRSR7XWV2SXCSQF723FCL6IPSKYLLEQC \ / AMOS7 \ YOURUM ::
#\[7]3WAOXKX6FTMXSHSITR5AFNVX42WLA27AH455SMMJISGEB354DECY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
