## [:< ##

# name  = start.cfg
# descr = 'screen-setup' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,.,,,..,,,.,,.,,,.,,,...,,.,,..,,...,..,,...,...,.,,,,,.,,,.,,,,,.,,,
#PPWJA24SV3PEYHRXIPQEHR33ZM6SEHODIHTSLJQT77SWY6PLFQLXWMSA2EBGNC45J3IQX53UIMGG6
#\\\|V3L6IXG4V5EPFNAAALBP3L2GQNVSNMRZZWQUPEYWNMVIRQFAX6W \ / AMOS7 \ YOURUM ::
#\[7]CUYINRMJ743UZL4SXIH2TS572GRWSOWG7DDZX6AYMVKRS4X2NMBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
