## [:< ##

# name  = start.cfg
# descr = 'screen-setup' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,..,.,.,...,...,,.,,.,,,,,,,...,,.,,,,,,..,,...,..,,,,.,..,,,,.,.,.,.,.,
#KPPW6OHKTDENMXUQHEDMFCNNTL5IJDPTZKFKDJHOFPCHZF66DLBVFRVIYCK3YYBUOIHQBHXFWRNQU
#\\\|KECMMYMZX3O6GJ2KWFGS3MTN2K2BPRC7SSL4PC5KDX3TFYSFLM3 \ / AMOS7 \ YOURUM ::
#\[7]GOAPCG7HXHORSGVCTVRC66S3TOYGM2EPGBZZ6ZTDZU6DD42YOECQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
