## [:< ##

# name  = start.cfg
# descr = 'cred-mesh' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,,,,,,,,,,,,..,,.,.,,..,.,.,...,,,,,..,,..,,...,..,,,,.,...,.,,,,,,,.,,,
#FS3SS5POLIJES274GOLD5IBPMPK3LYLXDAALVIG25N7GPQLKTSD4QLBFK3MHE4KAV2CDFQX4FDVPW
#\\\|PBCCH74RF5S5ASHZMKYACPRQ2XHP3WYMWOJU7KBTZPYVHZEXBBM \ / AMOS7 \ YOURUM ::
#\[7]FOS452YGZSZZGNOLNVFCJZVPLP7CBDG6WL32J5YEEK73Z6M6K6AQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
