## [:< ##

# name  = start.cfg
# descr = 'cred-mesh' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
env_override_allowed = PROTOCOL_7_VAR
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,,,.,,,.,,,.,.,...,.,,,,,.,,..,.,.,.,,,..,,...,...,...,,,,,,..,,,.,...,
#6HSXA46EGITHTPLMUCESQEXCNZ2C5YQMIN2NQ6M34G7MTHUWD4XWTHSR24JWXQOFUXZLXWXCAMMQS
#\\\|KQLBGEMTNORM2V4SPPZXF3NWKMGCVQIUJ6Z7OWTQJ4ICM37M65H \ / AMOS7 \ YOURUM ::
#\[7]Q4PBK4FSTBGHO2BDPPOVZ6LCOBSD5IKCIABADH5FNFIRI6R5OYBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
