## [:< ##

# name  = zenka-startup.v7
# descr = 'cred-mesh' zenka startup configuration used by 'v7' zenka

dependencies = cube
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,.,,,,,.,,,...,,,,,.,,,...,.,,,..,,,.,,..,,...,...,,,.,,,.,,,.,..,,,,.,
#THXYBHRCSSRYH7IDWY33CKJNDUHSP37OIGRYSDRNSXGGIGSRVB2XCQGXCCG24GBOKSFWDSFZ4PWJI
#\\\|MQ2ACPNOGMNXEHU2OFWZDNQFBWWPJMHJSVS5GNAJWXRELOFNDTX \ / AMOS7 \ YOURUM ::
#\[7]DC3JESYODH2YGIHR7VUJGPRUP4ZH4Z6W2ZMCEQL2ILLIIKWOYWBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
