## [:< ##

# name  = start.cfg
# descr = 'web' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
start.on-demand = 1
max_concurrency = 1
routing_mode = contact-oldest

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,...,..,,...,...,,,,,,..,,.,,.,,,,,.,...,..,,...,...,..,,,.,,.,,,.,,,,..,
#XBWQDDZW3GPT7364D6TNXXM5SSHTYMATXXUCUUIMVYPZ64N3Z665WDS5ZZI7L6HPI2ARYUSH7WWRO
#\\\|SKJRRJQBPTVGUEMEHSMY5ZYKTP2T34CSYHFLXNASJWS4XPZPWUC \ / AMOS7 \ YOURUM ::
#\[7]DNNYZ75ZU6EHGUUE5OYZ6BVM4JRE43Y4L67J4SOI5KVEANUYPIAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
