## [:< ##

# name  = start.cfg
# descr = 'web' zenka startup configuration used by 'v7' zenka

dependencies = cube
start.on-demand = 1
max_concurrency = 1
routing_mode = contact-oldest

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,...,,..,,,,,,,,,.,,,...,.,.,,,,,,,,,..,,...,...,,.,,,..,.,,,,,.,.,,,
#W5ODAKZFPOEPEI27NJE6IRTDKVLOMVSDM4D7QDFRKEHYMVWC3SMTPPNHNWZBXPDUI4ZPCMQ4JBCT6
#\\\|AVLRDZ5TVXS6SWA6635UJD4D6QRA7VC6677YQ4JGDURZUXFIDRF \ / AMOS7 \ YOURUM ::
#\[7]3SLM4UICJQBW45U6JDOKXUP5TYNPZ57IZOPISKGCJQD4U37J4IDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
