## [:< ##

# name  = start.cfg
# descr = 'mediainfo' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:64]

#,,,,,...,,.,,...,.,,,.,,,.,.,.,,,,,.,,..,...,..,,...,..,,...,.,,,,,.,..,,,..,
#5QIDFEETSDUIVVJCMUNAGN6HFWNGMGBFUJGWDG2D7A2A3CCVM3VIEW7ZQWTGPS7NDVH3FQO5JVXZO
#\\\|ZARN3Y2H6ZPSM3TDVO2VXDCJHGBGZXN2LXRWFYTS45NATMAKWCB \ / AMOS7 \ YOURUM ::
#\[7]H7VLJ3ONM73D5JUF46YYHN33HWNPY3LGX4YHHQEFB77GOGY2KSCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
