## [:< ##

# name  = start.cfg
# descr = 'mediainfo' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:64]

#,,,.,,..,,,,,.,,,...,.,.,,.,,,.,,,,,,,,.,,,.,..,,...,...,...,...,.,.,.,.,,.,,
#FNO4SZFQDNHZA5CWOVEWRRLTGEBDT6OZADL74LJG7UGONB3PD52EYXDQZPLYMGNP7IEYK5NC4QJDM
#\\\|VAM57P35EZS45UDXVJR6WKBKFS5VVZOVV4MVECUTLV5C5A5EDEL \ / AMOS7 \ YOURUM ::
#\[7]S4TPRQTZVFTFKNOKNL3KUNEI2TRWBOB5EOBWLN6UNUMILZ7EQ2AY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
