## [:< ##

# name  = zenka-startup.v7
# descr = 'radio' zenka startup configuration used by 'v7' zenka

dependencies = cube httpd
max_concurrency = 1

radio.jingle.min_track_seconds = 90
radio.keep_library.path = /var/protocol-7/radio/keep-library
radio.stream.path = /radio/stream
radio.audio.stream_url   = http://127.0.0.1/radio/stream
radio.audio.start_volume = 70

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,,,,.,,.,.,.,.,.,,,...,,,,,,,,,.,,,,,.,..,,...,..,,.,.,,..,,..,.,,,.,.,
#A4BJWDSXWQ545M3OQH5BYTMP26E6GO5ECEXDLDE6JSMHGF6H42OPRSIJPVULDIM7XZ2AOCA33YP7G
#\\\|VTRQ7T7C5RVALJOCY4JQGGFV5K7XSR53G55U2TNPCJ6ANB6J4SY \ / AMOS7 \ YOURUM ::
#\[7]LJH7Z4BELMSSVD7CC45DKKYFD4F343QPHGHKIASMXUXMQJX4OMDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
