## [:< ##

# name  = start.cfg
# descr = 'radio' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube httpd
max_concurrency = 1

radio.jingle.min_track_seconds = 90
radio.jingle.max_duration_seconds = 45
radio.keep_library.path = /var/protocol-7/radio/keep-library
radio.stream.path = /radio/stream
radio.audio.stream_url   = http://127.0.0.1/radio/stream
radio.audio.start_volume = 70

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,.,.,,,,..,.,.,,..,,,,,,.,,.,.,,,.,.,,,..,,...,.,.,...,...,,.,,...,,,.,
#LCVYLGNVWCOD3ZC6JRNLBQTCQQGXDPQEQIM6ZGULVFBT2SZL4A4QXS5G2SZQN4ZXEHJTTR7FKM5NO
#\\\|JAF3EPTB2K7X5YCOZLGSPCCT4KQB5K2XENINMUWXHQZVIIA3JTD \ / AMOS7 \ YOURUM ::
#\[7]2ZWOGCJDYUHN2RF5INMC6HKYXEXW73N527DVPCRUTIMCALFEOMCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
