## [:< ##

# name  = start.cfg
# descr = 'radio' zenka startup configuration used by 'v7' zenka

dependencies = cube httpd
max_concurrency = 1

radio.jingle.min_track_seconds = 90
radio.keep_library.path = /var/protocol-7/radio/keep-library
radio.stream.path = /radio/stream
radio.audio.stream_url   = http://127.0.0.1/radio/stream
radio.audio.start_volume = 70

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,.,,,,,.,,.,,..,,..,,,.,,,,.,,..,,,.,..,,...,..,,..,,,.,,.,.,..,,,,,,
#MEVYA33SZQDY7OW46TJFMJVDT7CEZKZPXMVJSPT7RKJXPZ2TDVXIOB5JN3CPB2VHKM45FGJN4MSVI
#\\\|PAFONUTC35XY4L4S5KJHRVDVEEBKJGVMGXB7TQVIY7QTHFO7JDM \ / AMOS7 \ YOURUM ::
#\[7]D6SDDC5H5T6KGKRZ7WNZN5OMMMQZDSBOVLKRCBF6Z457DHW7BYAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
