## [:< ##

# name  = start.cfg
# descr = 'nessus' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,...,,.,,,.,,.,.,.,.,,,.,.,,,..,,,,,,,,,,.,.,...,...,,.,,..,,,,,,,..,,..,
#5X6KLWZ3RBPQZXLQZD64RAIHCGLI6TD5RLPMNO2WWPMZD3D64YLRQGMY6S6RUDE7ICMMMR7THNPXW
#\\\|2UHN4QD4J27NUXKXVV3ASIP3QKORIYOQVGEVH5XAXSIRL5LSICO \ / AMOS7 \ YOURUM ::
#\[7]BAYYALAOBGYKVW7QZOY3K6CLZSAZDWVTNCYPH23J5VO7D7E36EAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
