## [:< ##

# name  = start.cfg
# descr = 'nessus' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,,.,...,,.,,,.,,,..,.,,,,,.,..,,,,,,.,.,,,,,.,.,...,...,,,.,,,.,,,.,..,,.,,,
#BITDHNPMLGZ2MZPBUSTSTO2RAYPLTNRXADWZLJIHABKQ7P6RQUCK4A2RGLSVCUJR2QQLZFPNVB75I
#\\\|IVS4M76VCWXRLY7JI6YB5OIEOO4IFCA6GWYQLYNZ4FJ7MYJZ2XP \ / AMOS7 \ YOURUM ::
#\[7]5ZOH3JXNLITT5JL5QMB6ATIL7JN3XJIT22IVC36ELHTKPK7YFGDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
