## [:< ##

# name  = start.cfg
# descr = 'plnx' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']


## external program example:

#

#,,.,,,..,.,,,.,.,,,,,.,.,.,,,,,.,...,.,,,...,..,,...,...,..,,.,.,,.,,,..,,,.,
#6GL54WRMXKI3P7WRRYYZWTUDVIZFJWWDHMR563OUKCL2QXCJWVZWPIHXSNGMJOKOFG46SFBHDD6CG
#\\\|KBAUYUCZ6LGUXAKXYI4XZE7A2IIN5S2YT3Z2OQQ4AIDZOIEECWF \ / AMOS7 \ YOURUM ::
#\[7]6SPFDM5645E6JBJOQ6ZFAHYMQVPG6HQCGZ5NH2ZZNABOCAZMX6BA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
