## [:< ##

# name  = start.cfg
# descr = 'plnx' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']


## external program example:

#

#,,..,,,.,,.,,,,.,,..,,..,,,.,.,,,.,.,.,.,,,,,..,,...,...,...,.,.,,.,,..,,,.,,
#KUSTPGIA7VMGYUOVPZVKGBCBAIIOMGTVDQBYMMF4IHCCPG6STRT3JUKUW2FJHCIVMO3AONBVKG2FO
#\\\|CNPPOH7BXLPNON6UW2ONZV5WHY7WKP6QCBYBWGC6ZJ5HNTB5HL2 \ / AMOS7 \ YOURUM ::
#\[7]6GI6UXLQ4CREVYLZTFVUCC7CGX5IGZ4MOFEPRY6O5HB4MTTQL2BY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
