## [:< ##

# name  = start.cfg
# descr = 'cube' zenka start-up configuration used by 'v7' zenka

max_concurrency   = 1
heartbeat.timeout = 13

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]

: zenka-init :
  [base.auth.set_v7_key:'<{cube.key}>']

: v7-post-init :
  status.post-init = [v7.callback.connect_to_cube:<instance_id>]
  [v7.callback.register_ondemand]

: startup-error :
  [v7.teardown:'start of cube zenka not successful']

#,,.,,,.,,...,,,.,,,,,.,,,,.,,.,.,,,,,..,,,..,..,,...,...,..,,...,...,,,,,..,,
#KB42NKEK2DEUO6BVRKPML4QDWC76NHC4F7TJZT3ABCKVMAGWJEZHBHUUGFDXM3P6RFSULYLAHNZ5W
#\\\|PMWFLJLYB46IRDAW43D3EVW7WBW6FP4BXUU3NZOUKPH542MGJR4 \ / AMOS7 \ YOURUM ::
#\[7]57CMBNP6UKTDWUEWSP2NDANGEPDMWOBXAYSSRAVETFDSGKSYFCBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
