## [:< ##

# name  = start.cfg
# descr = 'git' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,...,...,...,.,,,.,,,,.,,.,,,.,.,.,,,,,.,..,,...,...,.,.,.,.,.,.,,.,,,.,,
#KETGHMUVT25IP5CU44WIKT5CKTSDL4EUNPIAUSU42COK5DZ2HFAZ35XSE67XRJPW37JVGPC7KBOMC
#\\\|JSPVD2G3D42B4SQQNFLZQD6QZYJGSF4BNN552RK25L5HQT6FG3A \ / AMOS7 \ YOURUM ::
#\[7]WJRM4VL5DIV3JGBZWLTBQH7L6W4XVBHD3SRMINCANSP5WYAFKKDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
