## [:< ##

# name  = start.cfg
# descr = 'git' zenka startup configuration used by 'v7' zenka

dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,,,.,.,.,..,,..,,.,.,..,,...,,,.,,..,..,,...,...,,,,,,,.,,,.,.,.,,..,
#PJRTPS6H2X3U4H37LDDHSXL2TRGBNXHY645ALSBMJSM746TM32SDL7B74FWDIESMFLOSMH5IWXLVO
#\\\|AJLPYOSNYF6NAUHICEIPDWYSIKCNFWBLZREUTLFE3UTS6U3GC5G \ / AMOS7 \ YOURUM ::
#\[7]HSTSUVYP6XLL4VWQFX6RTDWPLE5DGQCFWKOBQ3W4Q4WZ2U5NR2DY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
