## [:< ##

# name  = start.cfg
# descr = 'site-yaml' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,.,.,...,..,,,,,,.,.,,.,,,,.,,.,,..,,,..,..,,...,...,,..,...,,.,,,.,,..,,
#QS65MRWBT4HGPTE73TCU775ULVKTUYJTLF7KVTV6N72TAVKAR7SNI3NAZEI6E5R7ECNFKPKWAUCOG
#\\\|YB7NQ77VAMSWRAAOXB4ZMXPTYQZXOQT4EOZCAVNI7MTLL226OTA \ / AMOS7 \ YOURUM ::
#\[7]5JU2L32K4P7J7XNIU3IKQHWQ6ZWF3P3WOVE6SMCFDMUIW4SIMUBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
