## [:< ##

# name  = start.cfg
# descr = 'site-yaml' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 247

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,,.,,,.,,,.,.,,,,.,,,,,,,.,,,,.,,,.,..,,.,.,..,,...,..,,..,,..,,,.,,,..,.,.,
#HU7DVN46CNAJGMTU2FTFJVLUJPZAJBRUNKCKKKH4G5CGF6VS7GJNO42ILJX6RKOWCKWGYWYCPE7C2
#\\\|QA57VIUFZ6KEZPGYWDIQFZZR6FKYRV6P2PFGYP5CS36JAIJBYWT \ / AMOS7 \ YOURUM ::
#\[7]3PUZJKG3D2UFRLWZGLC5JHGDCL45EGVTMYRFMU47DQND6KX3Y2CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
