## [:< ##

# name  = start.cfg
# descr = 'site-yaml' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 247

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,,,,,.,.,,.,,...,...,,.,,,.,,.,,,,,.,...,..,,...,...,.,.,.,,,,..,..,,.,,,
#6XSALDWPRYBHJIQJG44LVGSP4Z3IH4IXSAGQHIBZ5SPNZET7XDKXU5DYOVY4K7S4BPSVQRRFJISXY
#\\\|IBJN7I4EU7LRYZYNPNKD3U3CUA4UM24PGOWNK7LZQ6LBAZIG4DL \ / AMOS7 \ YOURUM ::
#\[7]ZDOJ2IHTGONWQ3G4T2YAYVG6JPMXT57D7GZUNQ57ZCURXOGJYCBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
