## [:< ##

# name  = start.cfg
# descr = 'index-mem' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,,..,...,.,,,.,,,..,,...,,..,.,.,..,,,,.,..,,...,...,,..,.,,,.,.,,,.,..,,
#7QUSOPD2FDD6DU3EZ52G43Q3X4BFTWHTKFS7O5CZQFIXSLRH3YWPIBRUJ4X6AQ2SPPNFAI4XFQJ56
#\\\|3WUB7MUHGIYFASG2CFY5EBHMLH7JILGUZJWFXBBUOE5JO3UDRMH \ / AMOS7 \ YOURUM ::
#\[7]UDLRCAXYWYS3R33EYMWH4LHTYUDLKJD2KWHFD7RHGSBLPTE6PMDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
