## [:< ##

# name  = start.cfg
# descr = 'index-mem' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,.,,..,,.,,,..,,,.,...,..,,,.,,,.,,,,.,..,,..,,...,...,..,,...,,.,,...,.,.,
#SRDGG2FNNRI7HDTKINUF7PFGF7P3JS26B74W7ZKTOF6PYXPGYXXYQBKPAOC5KHLGFVBRNMTB63WCI
#\\\|OKXIRTLBSX2E2ON7YUFORRPW745VEUVDMXJ7EDZOSVTAAZN6B5A \ / AMOS7 \ YOURUM ::
#\[7]MYHQVL2WUD37VIPRESZ6FID3W2ARKCSOVJ7H5GQD5UCENWGRSQCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
