## >:] ##

# name  = tile-group-setup.default
# descr = example tile group configuration

.: screen :.

  # underscan = 0
  ## and/or
  # underscan.left   = 24
  # underscan.top    = 48
  # underscan.right  = 21
  # underscan.bottom = 44

.: tile-groups :.

  - video

    : mpv[single] :

      fade   = 1
      left   = 4%
      top    = 7%
      width  = 92%
      height = 85%

    : ticker-sdl :

        fade   = 1
        get_opacity = 1
        stop_zenki  = rss-ticker ticker-sdl
        start_zenki = rss-ticker

        left   = 0
        top    = 92%
        width  = 100%
        height = 8%

  - all

      : web-browser[allleft] :

        fade   = 1
        prepare_cmd = web-browser.hide_bg_window
        left   = 0
        top    = 0
        width  = 28%
        height = 92%

      : mpv[alltopnoshadow] :

        fade   = 1
        left   = 28%
        top    = 0
        width  = 44%
        height = 46.5%

      : mpv[allbottomnoshadow] :

        fade   = 1
        left   = 28%
        top    = 46%
        width  = 44%
        height = 46%

      : web-browser[allright] :

        fade   = 1
        prepare_cmd = web-browser.hide_bg_window
        left   = 72%
        top    = 0
        width  = 28%
        height = 92%

    : ticker-sdl :

        fade   = 1
        get_opacity = 1
        stop_zenki  = rss-ticker ticker-sdl
        start_zenki = rss-ticker

        left   = 0
        top    = 92%
        width  = 100%
        height = 8%

  - first

      : web-browser[firsttop] :

        fade   = 1
        prepare_cmd = web-browser.hide_bg_window
        left   = 0
        top    = 0
        width  = 100%
        height = 92%

    : ticker-sdl :

        fade   = 1
        get_opacity = 1
        stop_zenki  = rss-ticker ticker-sdl
        start_zenki = rss-ticker

        left   = 0
        top    = 92%
        width  = 100%
        height = 8%

  - second

      : mpv[secondtop] :

        fade   = 1
        left   = 0
        top    = 0
        width  = 100%
        height = 92%

    : ticker-sdl :

        fade   = 1
        get_opacity = 1
        stop_zenki  = rss-ticker ticker-sdl
        start_zenki = rss-ticker

        left   = 0
        top    = 92%
        width  = 100%
        height = 8%

  - web-browser

      : web-browser[main] :

        fade   = 1
        prepare_cmd  = web-browser.hide_bg_window
        left   = 0%
        top    = 0%
        width  = 100%
        height = 100%

  - fourth

    : ticker-sdl :

        fade   = 1
        get_opacity = 1
        stop_zenki  = rss-ticker ticker-sdl
        start_zenki = rss-ticker

        left   = 0%
        top    = 92%
        width  = 100%
        height = 8%

#,,..,.,,,.,,,,,.,,.,,,.,,,,.,,..,,,,,,.,,,.,,.,.,...,.,.,,,,,,.,,..,,,,.,,..,
#BUJ3S5PIEK3VPTCRGXFY42CTTKVTSHBRDHX7EHIQ2IXKX6S4OVEZ7XS7TQI6EQPXEFQ3PRB5HAACO
#\\\|Z3EOJKXOWQS6TB7PY4Q7L46CPHDJHBZLJWPNQW4E22D5Y7VTIVO \ / AMOS7 \ YOURUM ::
#\[7]TRCM2K744B6AGW54BI7RCNCOPVZIZ7L6YBAFGQFRVXAZWGEAKOBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
