## [:< ##

# name  = start.cfg
# descr = 'proxy' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,...,,,.,..,,.,.,,,,,..,,..,,,.,,...,,..,..,,...,...,...,.,.,.,,,..,,.,.,
#WTU2WLPZQNV5XX2XF2QQHECBKOULIEBV3NIITR4TFDPRDZQFAVEH57NFOGPTY6LIEGXFTK4JJVJEM
#\\\|P2KJBORO7SWTWV2VKEMLATZTMACVYU6QQ6J3CCEUY6LT4LWBKNJ \ / AMOS7 \ YOURUM ::
#\[7]KX3WOTB6UPET6PHQ6SMKFLUD7N6Y7RIFG6UH7JS2JGRUTKIY24DA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
