## [:< ##

# name  = start.cfg
# descr = 'proxy' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1
env_override_allowed = PROTOCOL_7_VAR

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,..,,.,.,,..,..,,..,,,,,,,,.,...,,..,..,,...,...,.,.,,,,,,.,,,..,,.,,
#52RGFF2HCBOVOSVOCXNWH64XVOXLGTQ267IULUGT3ZGERHIXIDISPH4EYIUZPLOPJNXQ2KERCTBOC
#\\\|QNLH7TLQKJLCEFPIZOGTU37UIZZGH6SMDVIXGCAUEUXKKYKJVKA \ / AMOS7 \ YOURUM ::
#\[7]QODWI6BK5XHW3KDYD2YCWALXJ7FJN2FOMALI4FP2MXPPK3TKE2CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
