<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta http-equiv="refresh" content="2">
        <title>:: [MSG_STRING] ::</title>
        <style>
            html { height:100%;margin:0 }
            body { height:100%;margin:0 }
            .txt { color: #AAA; font-size: 13pt;
                   font-weight:bold; font-family:sans-serif }
            .progress_border    {
                border: 3px solid #AAA;
                background: #FFF;
            }
            .progress_completed {
                width: [COMPLETED_PERCENT]%;
                border-width: 0;
                background: #CCC;
            }
        </style>
    </head>
    <body>
        <div style="display:table; width:100%; height:100%; #position:relative; overflow:hidden;">
            <div style=" #position:absolute; #top:50%; display:table-cell; vertical-align:middle;">
                <div style=" #position:relative; #top:-50%; width:100%; text-align:center">
                    <table align="center"><tr><td>
                        <span class="txt">[MSG_STRING]</span>
                    </td></tr><tr><td>
                        <div class="progress_border">
                            <div class="progress_completed"">&nbsp;</div>
                        </div>
                    </td></tr></table>
                </div>
            </div>
        </div>
    </body>
</html>
