## >:] ##

# name  = config.ssh.example
# descr = example ssh link configuration (fill out with your own parameters)

.: globals :.

connections.autostart = 1
connections.reconnect = 1
connections.timeout   = 7

.: profiles :.

- test

  : link1 :
    ssh.addr              = # host.name.or.ip
    ssh.port              = 22
    ssh.user              = # remote-ssh-user
    ssh.keyfile           = # /full/path/to/your/ssh_key_file
    ssh.hostkey.md5       = # host-key-md5sum ( see ./bin/ssh.hash_hostkey )
    ssh.hostkey.sha1      = # host-key-md5sum ( see ./bin/ssh.hash_hostkey )
    nailara.remote.addr   = 127.0.0.1
    nailara.remote.port   = 57
    nailara.remote.user   = # remote-nailara-user (create with ./bin/mk.usr)
    nailara.remote.pass   = # remote-nailara-pass
    nailara.local.addr    = 127.0.0.1
    nailara.local.port    = 57
    nailara.local.user    = # local-nailara-user (create with ./bin/mk.usr)
    nailara.local.pass    = # local-nailara-pass

# - : link2 :


# - test2

# - : link1 :
#   ssh.addr ...
#   ...

#,,,.,..,,..,,,..,,,.,,..,,..,,.,,..,,,..,,.,,.,.,...,...,.,,,.,,,,,.,...,.,,,
#D6D2NMWG3OWXOA6PFZPF7HAYRBS6MA6QKR4DL3MBZKZ6BZSOIJWZHMPYTPXK7XAJE7TINIU5ZQQUW
#\\\|UV4XSFARHZD4NGGYENYFCYW4HWSXLHHGHJUQTMY2EIUERMIIC2R \ / AMOS7 \ YOURUM ::
#\[7]SHSGKH3QTXTHMVJXUPVTFUOZIE4TONFGXNZO6DXKUEZ5PS4JQGAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
