## [:< ##

# name  = config.ssh.example
# descr = example ssh link configuration [ fill out with your own parameters ]

.: globals :.

connections.autostart = 5  ## true ##
connections.reconnect = 5  ## true ##
connections.timeout   = 7  ##[ in seconds ]##

.: profiles :.

- example_1

  : link1 :
    ssh.addr              = # host.name.or.ip
    ssh.port              = 22
    ssh.user              = # remote-ssh-user
    ssh.keyfile           = # /full/path/to/your/ssh_key_file
    ssh.hostkey.elf       = # host-key-elf7sum [ see ./bin/ssh.hash-hostkey ]
    ssh.hostkey.bmw       = # host-key-bmw-sum [ see ./bin/ssh.hash-hostkey ]
    proto-7.remote.addr   = 127.0.0.1
    proto-7.remote.port   = 42 ##[  loopback addr port at remote end  ]##
    proto-7.remote.user   = # remote-proto-7-user [ create with ./bin/mk.usr ]
    proto-7.remote.pass   = # remote-proto-7-pass
    proto-7.local.addr    = 127.0.0.1
    proto-7.local.port    = 42 ##[  loopback addr port at local end  ]##
    proto-7.local.user    = # local-proto-7-user [ create with ./bin/mk.usr ]
    proto-7.local.pass    = # local-proto-7-pass

# - : link2 :


# - example_2

# - : link1 :
#   ssh.addr ...
#   ...

#,,,,,.,,,..,,..,,..,,,,,,.,,,,..,,,,,.,.,...,.,.,...,...,...,.,.,...,...,.,,,
#5RFUEVXEZVWEUMJNE7LMICRBLJXKKU4EJY7MCNGVRFNORAKPH6QJ7K6HOK2L467U2AQDDIE6RPAWK
#\\\|UCIQM2FS2FLWW3AUK64V2OX4LCX6ZKXDAQJYG6QAT2KUIBOAT5I \ / AMOS7 \ YOURUM ::
#\[7]HM3VDYTAGCHKKMCFLWMBQ57CMGWMNZLBMNQZDGH5GWULJ7IPNEAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
