## [:< ##

# name  = config.ssh.example
# descr = example ssh link configuration [ fill out with your own parameters ]

.: globals :.

connections.autostart = 5  ## true ##
connections.reconnect = 5  ## true ##
connections.timeout   = 7  ##[ in seconds ]##

.: profiles :.

- example_1

  : link1 :
    ssh.addr              = # host.name.or.ip
    ssh.port              = 22
    ssh.user              = # remote-ssh-user
    ssh.keyfile           = # /full/path/to/your/ssh_key_file
    ssh.hostkey.elf       = # host-key-elf7sum [ see ./bin/ssh.hash-hostkey ]
    ssh.hostkey.bmw       = # host-key-bmw-sum [ see ./bin/ssh.hash-hostkey ]
    proto-7.remote.addr   = 127.0.0.1
    proto-7.remote.port   = 42 ##[  loopback addr port at remote end  ]##
    proto-7.remote.user   = # remote-proto-7-user [ create with ./bin/mk.usr ]
    proto-7.remote.pass   = # remote-proto-7-pass
    proto-7.local.addr    = 127.0.0.1
    proto-7.local.port    = 42 ##[  loopback addr port at local end  ]##
    proto-7.local.user    = # local-proto-7-user [ create with ./bin/mk.usr ]
    proto-7.local.pass    = # local-proto-7-pass

# - : link2 :


# - example_2

# - : link1 :
#   ssh.addr ...
#   ...

#,,,,,.,,,..,,..,,..,,,,,,.,,,,..,,,,,.,.,...,.,.,...,...,.,.,..,,,.,,,,,,.,.,
#2X2TVH27HRCDXXFKKWNJ6WTHWZPZ62P5TFIYWTABJBTPISD2GVOICV5QVLZOSZZRJCLBBGPJ3Q6NS
#\\\|SCWWPFVLZSP6MILNO5OS7AQXNAS3HI366CR6ACWQALKP4ZZPZN7 \ / AMOS7 \ YOURUM ::
#\[7]N43OYRBGY2TRIY7PLM2QBO7F4OSU3TJUTABZSYNWC4PVLOJ662BQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
