## [:< ##

# name  = start.cfg
# descr = 'download' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,..,,,.,,,,,.,.,,,,,,,,,.,,,,..,.,.,,,,,..,,..,,...,...,,.,,,..,.,,,.,,,..,,
#DVQ5EXGQPOKHPHNINK6CV4U4HT6DAKOBVRTXBT2QFCY7KLAERNG3VQBOIZGP56H5DL4OQ6QN3ETLI
#\\\|KEW3RCSLPTM4SFSAZCK3WJTXHBPPMUJF6WRSZRGLOSWSCFNRPFV \ / AMOS7 \ YOURUM ::
#\[7]5DQO2RPQCHGXEBPHTZA6CGEXBEFXBLXJ77HZPQNGFS6NR2JVIQAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
