## [:< ##

# name  = start.cfg
# descr = 'download' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,..,,..,,,.,,,.,.,.,,,,,.,,,...,.,,,,.,,,,,,..,,...,..,,...,,,,,,,.,.,,,.,.,
#3B7UMP2LJ2N4AMUABZX5SWNRH2MLZXXA5VCX4RGYWKOOV6MNXWJDKWNDDV5LMZC3SFQOVSGJILBAG
#\\\|LKVUJQULERPTJWEXNRGRYNNB7ZZABH5E674NGYSFVZ3NEFVHC6P \ / AMOS7 \ YOURUM ::
#\[7]3XHKN5NKWRSUACVFNK2A5PRYLU3UXSNUP4KMXP2GTSFOVDY2C2CA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
