## [:< ##

# name  = start.cfg
# descr = 'window-place' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,,,,,.,,...,.,.,..,,,,,,.,,,.,,,,,,,,..,.,.,...,...,.,,,,.,,,,.,.,.,.,.,
#DWM5C4W5SNCHVT5WLMEJBS2UYBAK4LZLIZ4BW6D5MVYLYYYSR3QTYP4MNB73K25P2LODZ6KDQS7XG
#\\\|WHFISRR43JJFKXCYU3ARYOP6BSGUIWQ7C2DCSD5ES2GRXSIXVLW \ / AMOS7 \ YOURUM ::
#\[7]YMR7PHUCGFXDTSXB5UFVW5FZIAKBQTF6OJEORLN25RGCL2BHPSAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
