## [:< ##

# name  = start.cfg
# descr = 'window-place' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,..,,..,,,.,...,,,,,,,.,..,,...,,..,.,.,.,.,...,...,..,,,.,,,,,,,..,,,.,
#F2PTTM6MO7FEJEYW53Q3JWJJVSSXIGU3FI563W2QQX5UGG6XZUCF7JXVIPREFNY7NDLSBJQYF7PKS
#\\\|Y3QP4EPUGNBBWYR2YFCIU34AILFKJ5YYKJ4BPBNUWGN4AY2D6L4 \ / AMOS7 \ YOURUM ::
#\[7]E2KF5C37YO7BPHMT3J7RMQOMJNWNIBLF2BMTYKL46UES6QZXXECI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
