## [:< ##

# name  = start.cfg
# descr = 'window-place' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,...,,,,,..,,,,,,...,...,,,.,,.,,..,,.,.,...,...,.,,,...,.,.,,.,,.,,,
#SCVY5AET2ZDGW6X5YKDLJAPN6NDZDLB3HSTGUG7ZHQ7LBPU2YJKVXBZUTYBNRQM4AQRU7DXDQJ5UU
#\\\|A55RPEPOMIWMD72GUSLOIX3S4NLAXRHQ7J3GP3REEUHZPKCVXQA \ / AMOS7 \ YOURUM ::
#\[7]HS6AZTPTRW2BYXFGOSOI22TRH6LL6YWQTKXK3A7HD7G4WZ2IX6DI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
