## [:< ##

# name  = start.cfg
# descr = 'universal' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,...,..,,,,,,,.,,.,.,.,,,.,.,...,...,..,,..,,...,...,.,.,,,.,...,,.,,,..,
#ZTXRQUOBWA3SCHYFBN4P52DVAZZVTLFGYPY6QOZRAJRERX6W5LFCOYR3E6IM22PWXW7CC7SBB5AHK
#\\\|5SXZQNE4UEVW3JAIJC5XL2DT7HQZKWXSYFNOYMHN6XTBLCQ2XQW \ / AMOS7 \ YOURUM ::
#\[7]2WFAYJCNAJFLUWO34ASJSBBTCPJFVDOKITREGOJP5UOHCBFMQMDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
