## [:< ##

# name  = zenka-startup.v7
# descr = 'universal' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,...,,,.,..,,,,.,.,.,.,.,,.,,,..,.,.,,..,..,,...,...,..,,.,,,,,,,,.,,,,.,
#O6DORNZMURVQ4JQVJAEOUODPLI4FBE4JYWOTHXJ6JKB27HYKLDX52STAI3NV7MDIPQIN2WU5BLS4K
#\\\|WDBYJSYFSSI46RVRFTHXOMF6Q35EPZGWMDU6V5WEP3X4R5WIFS4 \ / AMOS7 \ YOURUM ::
#\[7]MV3WUNLREAKZNG6HKCQIDZTSPE5BIVA3VFZVYCZNWX6GOYG2G4DI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
