## [:< ##

# name  = start.cfg
# descr = 'discover' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,,,.,.,,,,,,..,,.,,...,,,,,,.,,.,.,..,,..,,...,...,..,,.,,,.,,,.,.,,.,,
#2HE4CIDZB3P5MHVKZ4M6KJBWLKPW53ULDNFRMIKNVJ7NSEOHRD3S5SY6KA26M2M623DYVUCBQS7XY
#\\\|FI53NLMJ2ZSAQHLZ4N5TGW6LR5JZYPEJMW2BY224NGDDZ6FZOL2 \ / AMOS7 \ YOURUM ::
#\[7]2VVII5UN5FS7GV2XHPFBLLWM2NZSIWWPOJ64OZNBVLNG6QDOYYCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
