## [:< ##

# name  = start.cfg
# descr = 'discover' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,,,,.,,,,.,...,..,,,..,,,.,,..,.,,,,,,,..,,...,...,.,.,.,.,...,.,,,,.,,
#R374FD65JCZOJOP5IZK7YH4Q5KKZ7C3Y4NT23LD6FWXNMQNZCBSLS24ZE5EX4I6BR5NYMWYZPY76Q
#\\\|7UGY4D3BD6CNIETFFECDN37XZS3KLMWUQNXZVHTN4WYW2XDXNUO \ / AMOS7 \ YOURUM ::
#\[7]FA447F26QL4TUEZQC5NFRKF2XSJHWZWTYOHRJXP5DGUWJLRUMODQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
