## [:< ##

# name  = start.cfg
# descr = 'amos-term' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube cube-13

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,,,.,.,.,,,,.,,...,,,.,.,.,.,,,,.,,.,,,..,,...,...,.,,,,..,.,,,,..,,.,,
#IF3GEBCMSL4V5OSNC5HCKUJ67TYNBJNAGK5EZK63LIWE3DM2OQGGCOFFEWKFTVZ2XBIN23M3XWYS6
#\\\|4DERIAN5B5PPD3QQRZLOFW5FGTWISB3H4J3BSYP7IYEJRVYK7HO \ / AMOS7 \ YOURUM ::
#\[7]QIYVJPMMWGYVZZCT6VJD2ZJWXU6PKSAZ7SEAEIMLCBVKKGT3D2DQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
