## [:< ##

# name  = start.cfg
# descr = 'amos-term' zenka startup configuration used by 'v7' zenka

dependencies = cube cube-13

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,..,,,.,,,,.,,,.,...,.,,,,.,,,..,.,,,..,,...,..,,..,,...,,,.,...,,,,,
#PR3BNBWKP56AQOS2PNCJRPVJGXIIW6MU3HTY6VLFJICMNDBRQDLCMOZDK2JDYO4P5UV3XPYRKLQZ6
#\\\|FVWWNX4XCC6NMQYTUSAFJSZE5MUHE6PTTEA5VCGPK3DN7XQXY7E \ / AMOS7 \ YOURUM ::
#\[7]TJI7OTEKG3UNZKKVCKJYFRSME6DZZPNYUNWSXVUI77ORJ3TSASAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
