## [:< ##

# name  = start.cfg
# descr = 'invoke' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 60
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  invoke.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<invoke.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{invoke.key}>']
  [base.zenki.set_ondemand_timeout:300]

#,,.,,.,.,.,,,..,,,,,,,..,,..,.,.,,,,,,,.,.,,,..,,...,...,,..,,,.,..,,,.,,.,,,
#7554YG6RC6CVI3OKPNIXVK2B5ONPRIB6CZQ6GLZEVWRZYJHN4SR67OPGPYGG7SGVZRN3EWQ3IKABC
#\\\|Y36W5A6I42P5HA6MLL7IWMUO23LZBOWA2XY244HKEWXNOVUVJPD \ / AMOS7 \ YOURUM ::
#\[7]SDVJUBOC6KDK47AAIBTC5B7JBTU24HJZGDMNHXK7PWUO4D4VAGCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
