## [:< ##

# name  = start.cfg
# descr = 'invoke' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 60
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  invoke.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<invoke.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{invoke.key}>']
  [base.zenki.set_ondemand_timeout:300]

#,,,,,,,,,,.,,.,,,.,,,,..,,,.,..,,.,,,.,.,..,,..,,...,...,.,.,,..,,.,,.,,,..,,
#YTOUV46F43BV6K2TZN6QH4JXYKX6NYYCDGFJWBIIUGOBZ3PAQP6S5LUZQF4P2JOUSCHHDVM3ZLRXO
#\\\|LBNX32NBCOELDRQYPZ7FDJOE4QL6GXXYCOTLMQMOHU5OQODZXLL \ / AMOS7 \ YOURUM ::
#\[7]24YFKYRFH3PXBLLJFVCWWKX4UVCVX4WOBHQ7HR4URYB2LK65PQBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
