## [:< ##

# name  = start.cfg
# descr = 'mpv' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox
exempt-dependency.by-subname.0.regex = ^audio(?:-\d+)?$
exempt-dependency.by-subname.0.deps  = X-11 openbox
  start.on-demand    = 1
#  restart.disabled   = 1
#  heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,,.,,..,,..,,.,.,...,.,,,,.,,.,,,..,,..,,...,...,..,,...,..,,..,,,,,,
#IPSYVVC2RKDFE32SR4CBMQIUPYISSRXI65OKLUX5N73VW7G5XSEKC25LFCZX4GWYMARHTLSQQFPIC
#\\\|R2Y4SIZTSRT6D75BLQOPY5RKT2ALEVI222BISAGURBQ5PQCHGGI \ / AMOS7 \ YOURUM ::
#\[7]VCWEPSLXAZ3NBBNBED2M234V527HFBI7QQ7N26AIGWMYM6EHQKCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
