## [:< ##

# name  = start.cfg
# descr = 'mpv' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox
exempt-dependency.by-subname.0.regex = ^audio(?:-\d+)?$
exempt-dependency.by-subname.0.deps  = X-11 openbox
  start.on-demand    = 1
  heartbeat.timeout  = 47
#  restart.disabled   = 1
#  heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,.,..,,,.,,.,.,.,.,...,...,,.,,.,.,,.,,..,,...,..,,.,.,.,,,.,.,...,...,
#J3LEWWE6WVW4UZPEB5DALNBS75NATZBVAOHUJXQKYIKJVSG7TSBZ4OJBXDYJJMVBF3BW3ESTD47MS
#\\\|YQK4L7TOTUMDEAAFBJBU3FU5YK3FVVRJ5F4KIQ2RUYSF3HW6LZR \ / AMOS7 \ YOURUM ::
#\[7]LXVAMAWUY5PGQC4WNLIDXUUWFIP77BQ5YQS6J6GTLGBOQ26TF6AQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
