<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <meta http-equiv="refresh" content="1">
        <title>:: [MSG_STRING] ::</title>
        <style>
            html { height:100%;margin:0 }
            body { height:100%;margin:0 }
            .txt { color: #AAA; font-size: 13pt;
                   font-weight:bold; font-family:sans-serif }
        </style>
    </head>
    <body bgcolor="[BG_COLOR]">
        <div style="display:table; width:100%; height:100%; #position:relative; overflow:hidden;">
            <div style=" #position:absolute; #top:50%; display:table-cell; vertical-align:middle;">
                <div style=" #position:relative; #top:-50%; width:100%; text-align:center">
                    <table align="center"><tr><td>
                        <span class="txt">[MSG_STRING]</span>
                    </td></tr><tr><td>
                        <img width="100%" height="4px" src="../gfx/busy.2K.gif">
                    </td></tr></table>
                </div>
            </div>
        </div>
    </body>
</html>
