## [:< ##

# name  = start.cfg
# descr = 'remote-cam' zenka startup configuration used by 'v7' zenka

dependencies  = cube X-11 openbox content
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,.,.,.,,,,,,.,,...,,.,,,,.,..,,..,,,..,..,,...,...,..,,,,.,..,,...,.,.,
#TSWIC24N7ERGZFE6VKCL662KVKXYR2S72QJYN7I4EEWBVWFOBTDWOCBMX2UUVGICZJBCMUH5CIP6W
#\\\|CFU3OC43QE27MVYORK5MFS4GYA7QTQVES72JC2AAAMBDO2EMCXN \ / AMOS7 \ YOURUM ::
#\[7]GA32U66XUCFWX2HNZCUQJG5KPCPVK7PDUZKXDML4AOJY4ODS26AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
