## [:< ##

# name  = start.cfg
# descr = 'ticker' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 compton ## openbox rss-ticker
max_subname_concurrency = 1      ##         ^-- enable rss_updates in ticker
inherit_subname = 1
## [ in case of immediate errors [ font.size = 0 ] ]
startup-error.retry-count   = 3
startup-error.retry-min-delay = 1.2

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 Cairo
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,,,.,.,,,.,.,,,.,.,,,.,,..,.,.,,,,,,..,..,,...,...,,.,,..,,.,,,,,,,.,.,
#TRLHXA5RJTYH5PSUTTCI3CEKFRKW5PAFDGK7WT5LNFEPRYWZZH5M7WGRO7VCQPPPLD7L6BN3LWNX4
#\\\|FHAF4WUJ2M6QNZQDKGPUO25IGQIPE36H35VIXFVZO76R7RIH4EH \ / AMOS7 \ YOURUM ::
#\[7]M5W6TG752NL6FGDAEIAPWY3GTUOEGXIGQDFWECIOJ6XCHHRHZEDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
