## [:< ##

# name  = start.cfg
# descr = 'ticker' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 compton ## openbox rss-ticker
max_subname_concurrency = 1      ##         ^-- enable rss_updates in ticker
inherit_subname = 1
## [ in case of immediate errors [ font.size = 0 ] ]
startup-error.retry-count   = 3
startup-error.retry-min-delay = 1.2

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 Cairo
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,,,,..,.,.,..,,,,.,..,,..,,,..,.,.,,..,..,,...,...,...,..,,,,.,.,,,,.,,
#J5LMZUEKIUKEDMXYZCIX3VISIFCZV35BQCAYYZBNSJTZJFMUSBN437XJIORYUPJWHDTFYEKGBCEQ6
#\\\|7JB6KEBL3CE37FBV4WYS35ZMZ5MBA2AEF5FVRWTXJ3LPXBFYJ4D \ / AMOS7 \ YOURUM ::
#\[7]TOP4BKND7B6Z3UIOGXCRVU6UYVC6WMUMVMSR6ZULJOT3BOTKR6DY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
