## [:< ##

# name  = start.cfg
# descr = 'rss-ticker' zenka startup configuration used by 'v7' zenka

dependencies = cube content
max_concurrency   = 1
inherit_subname   = 1
heartbeat.timeout = 42

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,,,,,,,,,.,,,,,.,,,.,.,..,,,,,,..,,.,.,..,,...,...,...,.,.,,,,,,.,,,.,,
#QIJP2EJRJ2FUXMLQ2MP2QI5ZIJBUOL6XNOPLSG6HT4I7BN6TG2NAVH4QPUU5BZDQNCNU7VVX2G5GQ
#\\\|DROQGT2RPP2GOUVQR3JYR6I5NCURTIC6BP3TD3CMC52WVHC4L46 \ / AMOS7 \ YOURUM ::
#\[7]T3FFIEBL36XXQ4DTTC7PVX7YLV4HYPZTXL2IRK6II3XM74WSN2BY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
