## [:< ##

# name  = start.cfg
# descr = 'rss-ticker' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube content
max_concurrency   = 1
inherit_subname   = 1
heartbeat.timeout = 42

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,..,,.,.,.,,,,..,,,.,,.,,..,,,..,,.,,..,,..,,...,..,,,,,,,.,,..,,.,,,,.,,
#CQICJTCYFZHC57KX37PYEJLV4FECDDTSVC3VIODZOY2NCBAH7XUHR77DJAHC2GHUN6VL73MWNKD3G
#\\\|QYXKWOFT3ZSTM7EHLNWQCLZOODJDD4VJ7KMJMLB3W5PYO2PLFBP \ / AMOS7 \ YOURUM ::
#\[7]BXDZK4VH3P54EQ7JPVAXT3T2NZLHCPOA4QXQSYYNRQKPOFMI7KDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
