[Unit]
Description=[AMOS7] PROTOCOL 7 [ v7-zenka ]
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/protocol-7/bin/Protocol-7 v7 -c -v
Restart=always

[Install]
WantedBy=multi-user.target

#,,,.,,.,,,..,,,,,...,,,,,.,,,.,,,,..,..,,,,,,..,,...,...,,..,,,.,.,,,.,,,,..,
#WPGJP7KB6LVK6A6RPMWVUSTWUJACBXQWJ5A52X66KMQ7WT2LDTJ6TNOB5QW2FEPRLH63XPZ475QC4
#\\\|J5AYNEFXF5XTSPYN6VXZ3K63EHJPJW4T53P4KOXTNJ2C6YLHPRK \ / AMOS7 \ YOURUM ::
#\[7]GQRQY4R4EFZ2VXWSKB2IOOA5QFGG6225MFPCXOPULKCUCC2YYKCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
