[Unit]
Description=AMOS PROTOCOL 7 [ v7 zenka ]
After=network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/local/protocol-7/bin/protocol-7 v7 -nc
Restart=always

[Install]
WantedBy=multi-user.target
