## [:< ##

# name  = start.cfg
# descr = 'plan-9' zenka startup configuration used by 'v7' zenka

dependencies  = cube
max_concurrency  = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,...,,..,.,,,,,,,...,,..,,..,,.,,...,,..,..,,...,...,...,,,.,,.,,.,.,,,,,
#2DZW6INYVYAN4ICYBARDGO76IAZHXODTRFL56ZTKNVTV77VFXV4KYLW3MCQ4AHOI4CMMBSQOMAKDO
#\\\|3VHUKV6G3N3DJK5KAOH3KJIY4HDMI4NE3MVOI4QAXW62QMHGXOH \ / AMOS7 \ YOURUM ::
#\[7]DNX4WRKPTMLILLSD6HW5FURKE6CFIYTF6WPNWXQKGJHVDFPNY6AA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
