## [:< ##

# name  = start.cfg
# descr = 'plan-9' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
max_concurrency  = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,.,.,.,.,,,,,,,.,.,,..,..,,,,,,..,,..,,..,,...,...,..,,...,.,.,.,.,,,.,
#IZGD763ROVP3MBPFFRLYH3HVTN56TE2HGZI3AGMYP54TGVJNTYJHM3PRN74NTCLH6VCKOIWT43ONA
#\\\|PIYNF6AEL2XSVBWQRUX4LLZDDDJY4FCMR2AJQRK2425X2AWQDK2 \ / AMOS7 \ YOURUM ::
#\[7]QT5CATT3A6D2QZAKQFOSX3WV5IJ2CQFU2Q5LSCMIJPU472RX44BI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
