## [:< ##

# name  = start.cfg
# descr = 'plan-9' zenka startup configuration used by 'v7' zenka

dependencies  = cube
max_concurrency  = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

# PLACEHOLDER_FOR_AMOS7_SIGNATURE_LINE_1
# PLACEHOLDER_FOR_AMOS7_SIGNATURE_LINE_2
# PLACEHOLDER_FOR_AMOS7_SIGNATURE_LINE_3
# PLACEHOLDER_FOR_AMOS7_SIGNATURE_LINE_4

#,,..,...,...,,,.,,,,,..,,.,.,,,.,.,,,..,,...,..,,...,...,.,.,,..,.,.,..,,,.,,
#B62LZN7R22WWOV73QCXAAG4JU55LR36ICROS74GMYRC76EU762OE3DL3Z43ROBEHLJO63CN6WNWFM
#\\\|S46AOB4QEAQXEX2TYPUFBFX2BFL3WBVP5WE2PIOD6YEQR4NANXL \ / AMOS7 \ YOURUM ::
#\[7]37KPOMLDNK52MIVBUOCH3CUN2JL6PFFLKQHCXBJFPT3GNWWNT2CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
