## [:< ##

# name  = start.cfg
# descr = 'geoloc' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:13]

#,,,.,,..,..,,.,.,,,.,,.,,,.,,..,,..,,...,...,..,,...,..,,...,,,.,.,,,,.,,,,.,
#6WPOSZQTEOXQ5746KMZVXQVWSHAJ4L77QQCBP6RMPPEHO5A7IPHUYFNVG5FNVB253WJCTFF62MWWY
#\\\|Q63TR3QBPHWESZYLRYF2F5UIFV4VGWLHZSVOONQD7AK5MJRKIFC \ / AMOS7 \ YOURUM ::
#\[7]RFEPVAS5WXENQMJIJCDKJNOCNO3UQHQBOETMU4ILOX5ZSPP3GOBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
