## [:< ##

# name  = start.cfg
# descr = 'geoloc' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:13]

#,,,,,,..,,.,,,..,...,,..,,.,,.,,,,.,,,.,,.,.,..,,...,..,,.,,,,..,.,,,.,.,..,,
#TEEBQJYNTHL64K7DKSPBFJNLRHBMDXTGVACVGB6VLWQC3QUPHTUB3TCYGRZ76YPRGEMD7J45RPLEY
#\\\|R3NRF445NRR2JNXXXCPIBUX6ZBZAO34YEJ5HARO6R7NVTVEXLJT \ / AMOS7 \ YOURUM ::
#\[7]UARW4WKH4RR2WW6UZGAWRVEW5IDQH5BGL4CULRJY4YRWEOSZDUCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
