## [:< ##

# name  = start.cfg
# descr = 'select-region' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,...,,.,,,..,,.,,,,.,..,,..,,,.,,.,,,.,.,..,,...,...,,.,,,.,,,,,,,,,,,..,
#DZ743CAN67AL577TROV5EQDHP3IR7OEVOGJEC37BE32OCTMUGDBWIFRD7PD4VTVNTJK46UEWD2IG4
#\\\|CQGVMXF27O6XOGB445PE4YFWVTRWGMF4ESP6NN4KQZRDDOIYNZ7 \ / AMOS7 \ YOURUM ::
#\[7]PTKGQRNCHLYBTSNMI5MQVUUPS52A26NLM4ZUUVHB6NY7PT27N6DY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
