## [:< ##

# name  = start.cfg
# descr = 'select-region' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,,,...,.,,,...,.,,,.,,,,.,,..,,,.,,.,.,..,,...,...,..,,..,,,,,,.,.,...,
#SASMSGDC3R2KUFJNFBPSVKYYEIDP2R2ICTO6YMFXJQ74D7VDA2K7Y2FUDPKGLNJ5YTFFN44ASLHTU
#\\\|LOLKVJMOUZFXLV3OFSBTTCUNNK2OLKB6NMVCNOKODUM4VS6IM7T \ / AMOS7 \ YOURUM ::
#\[7]K2TQZ2WHXDNCZ7ZZHWAFO3IE5GURV733XD2IPU6OIHU3ZUCPYGCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
