## [:< ##

# name  = start.cfg
# descr = 'select-region' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
  start.on-demand = 1
  max_concurrency = 1
  heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 ##init##
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,.,,,,..,,,,,.,,,,..,,..,,..,,.,,,.,,..,,...,.,.,..,,.,.,..,,,,,,...,
#BHGNV6XM26OSS7Y7KG7PHGSBIBNDSMQ264GI7XMWM3QLT6YASRYCHCFADLYQMUW6RJJ5IJX5Z74HA
#\\\|Y6JL4ZFABLXX42HOZOBAHHEQE5KV55LODUM2YYP6PXYK2IXHDWC \ / AMOS7 \ YOURUM ::
#\[7]BO2YVWU2ZDRF3B54FPCFRWWBQ6ML3FLCSGYZ2CSEY3Y3Q5IVF6BA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
