## [:< ##

# name  = start.cfg
# descr = 'power' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Device::Gembird
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,.,,.,,,.,.,.,.,,.,,,,,,,,.,,..,,,.,..,,,,.,..,,...,...,,,.,,.,,,..,.,.,.,.,
#TSOQ36B6HCZ45VFMX7N5QX2NAK4CPZQYFW4A6KWVROKV2GP6H7OIJO4PF6CU3GQZ5DFRAGQFGZB4U
#\\\|RIUYVHH7OTOTNKBFLQNTABDEPH4GVJXGF3RWWFR56RZVUJ2LPEQ \ / AMOS7 \ YOURUM ::
#\[7]3WYUIPMTQ3TZ5SEDDM6TNBQIXYJPNPLMUXIC2FRB2WLDWH43KEAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
