## [:< ##

# name  = start.cfg
# descr = 'power' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Device::Gembird
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,,,,,,.,.,,,..,,,,,,.,,,..,,..,,,.,,..,,.,.,..,,...,...,,.,,,..,,..,..,,,.,,
#O27XQSFCVEOUF4VZ5BE52PUOBF33MO4YFQOM6OF2AQAAYUENBBAOLHAFX4OUPEZCBD5LCUESBSB4C
#\\\|DYEDGGEVP7XER2SBBC6VHLRE4B6HME6LWQHFTNIHU5DTGL3YAUB \ / AMOS7 \ YOURUM ::
#\[7]LZHPIHNJU3KFMCM3VNRLOB4BSP6WQAM6HTXGBWLTLLQRCWQVA2CA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
