## [:< ##

# name  = start.cfg
# descr = 'web-browser' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 Gtk3::WebKit2
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  cfg.ephemeral = 1

  web-browser.window.profile          = automatic
  web-browser.window.profile-fallback = center-right
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,..,...,..,,.,.,...,,,,,...,.,.,...,.,.,..,,...,...,,.,,,,,,,.,,,,.,..,,
#SAMOUAAXKSRY4W6EEOHALIC5WEDDNPBWFJCIY5KSUWCZWHOVGSLWSRXKIZDZKRAXFHFWBXXDMSJC2
#\\\|EQPB3SHQLGTGHXDWMG26COMJV2KPKB7XBEQ3MENIOLMWGST4SU3 \ / AMOS7 \ YOURUM ::
#\[7]CSP7OSYLTJQ5AAGIITRLCHRA25UTJJ33Q2KXTTE3MY3364HJNGCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
