## [:< ##

# name  = start.cfg
# descr = 'web-browser' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 Gtk3::WebKit2
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  cfg.ephemeral = 1

  web-browser.window.profile          = automatic
  web-browser.window.profile-fallback = center-right
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,.,,,...,..,,,,,,..,,...,,.,,..,,..,,..,,...,..,,...,,.,,..,,,,.,.,,,
#ZF6ABZK2DDHEYR5CK26YDQ5IBMHEVOIVI3DOF7TW2DGREVVS3SPTIHIV37UC65VRUI2QBK6KGUBPK
#\\\|VY2QOYXGV5QDDOMP6NPSGJLIV7HRLRLVKOSWGRAPKZGRWUCOQP7 \ / AMOS7 \ YOURUM ::
#\[7]3UQ2KGD25TVLURJT3TM7QLZJRBLNUVMVVMKBO3MH6SATCHAAP6BQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
