## [:< ##

# name  = zenka-startup.v7
# descr = 'web-browser' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3 Gtk3::WebKit2
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  cfg.ephemeral = 1

  web-browser.window.profile          = automatic
  web-browser.window.profile-fallback = center-right
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,..,,.,,,,.,..,,,..,.,.,,.,,.,.,.,,,,,.,..,,...,...,...,,,.,,.,,.,.,,,,,
#F42QGY5QMXEPNWPHG7N4JGD2XJD7R4RRJCAHP2EWVYHBTQYYQYQRMQAQHSOLVLCSDJTXYYYYWT2BE
#\\\|N4REIRLRJVGVMEMTLHTMLE75UHAVXDEL2ZFFBTVZQQH746UL4PF \ / AMOS7 \ YOURUM ::
#\[7]I33274SNQG66YIEMO5KGOFVS3DFWT6J7UQJNIC6NFHLQAMZ764BQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
