## [:< ##

# name  = start.cfg
# descr = 'forensics' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,,,,,.,,.,,,,,,,...,,..,,,,,..,,..,,,.,,,,.,..,,...,...,..,,..,,,.,,...,,..,
#VMFCAPXPB5CAPXALFMEK7SCPXMVEOQ4V34EDXNVL7CKQ3SLMSODZT6GVXGRZGGBJVJKPLR2MEMU5E
#\\\|BIFPFKNJQTSOIHNPMHJWCNWKOP5UB7FARMZS5R5QNRX3RKDMBKK \ / AMOS7 \ YOURUM ::
#\[7]E33HFADIOMTTRSWRIA6JZ6NTS62742XARXNR4X4EHUPWWAB5TWCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
