## [:< ##

# name  = start.cfg
# descr = 'forensics' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,.,,,,,.,.,,,.,,,,.,,.,.,,,.,,.,,.,,,,.,,..,,...,...,..,,,..,...,...,,,.,
#OBPOJV3BXWQSF3GLSIHW5P6AJTKQNV7HUIVWSLT7LCFPTRWBP2FNATJ474UOPPXB35OSUUXBDKY4I
#\\\|4AREUPWWOOIJKETHGVDSIF3YIQIUGIEGDOCF27EGTH7IZ363NPR \ / AMOS7 \ YOURUM ::
#\[7]PUIFGRNAGUYGM3KDPFNMTSF2MXYYPKTYC43UYKW4ZUDJN4A4U2BA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
