## [:< ##

# name  = start.cfg
# descr = 'forensics' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,,..,,..,...,...,..,,,,.,.,,,...,...,.,.,..,,...,...,.,,,...,,..,.,,,,,.,
#HXLCMA2GBYA2TLGMHCEYTSVNJTZUVUR67VFMG3CZE4DNM4LVF4UITRXZM7UW2SUINS5T3GZZDAZ7Y
#\\\|X43K7NEST36HZQPEIKYTIJ6DMBZXTR3MMQFBZFH6ZRVSYS6YYBO \ / AMOS7 \ YOURUM ::
#\[7]NKNG5VGXVEFDVAMSETKTXMETSIVRYM3NZ3B5UYISEUP4WMHE3QCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
