## [:< ##

# name  = start.cfg
# descr = 'c-trade' zenka startup configuration used by 'v7' zenka

dependencies = cube plnx
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,,,.,,,...,,,.,,.,,.,,,,.,,,,.,..,,,.,,..,,...,.,,,..,,,,,,,,.,.,.,.,,,
#OFYMQBAGDQPRUFYKLUC6K5HLHR2LE2ZCZVUABZY3HCKXACKH4HS4YLWD3RX7WYH2EYXACY5DLHS4E
#\\\|VROS7RG77VHIQYGDL3YULSYE6FFA4CEK4KZO3YQTOJFYIJ2OQN7 \ / AMOS7 \ YOURUM ::
#\[7]DSQI6AXMIDLUNARMSUJIT6PYDQZYYRYPTC3DOXOATWMAMHATIKCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
