## [:< ##

# name  = start.cfg
# descr = 'c-trade' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube plnx
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,,.,,,,,,.,.,.,,,.,.,,,,,,,.,,,,,,,,,..,,...,...,,,.,..,,...,,..,,..,
#QLIPTFTLMP52M4OSVEIGZDJGEAS2WXZCAFN6WWWH7J42XUNZF5NS7CTCWVHPC5GNEVKKHC4H4NSXK
#\\\|7WL5VR32OZCT62XC5RP5E75NA6C7XHEQAFPKI5HOVV2TI2WV7GE \ / AMOS7 \ YOURUM ::
#\[7]EHHY5I4EPP2F6WGXSGSN5H4POIRETAGRWETA7HFV3X5JBYACGEBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
