## [:< ##

# name  = start.cfg
# descr = 'letsencr' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:780]

#,,,,,,,.,..,,,,,,...,,..,..,,,..,,,.,..,,,,,,..,,...,..,,...,...,.,,,,.,,..,,
#M5N4B4GYFT6BKDQ5UDHR7CWVXAX5HYZYXLDTDYIKXIEL4P75ZOU7ON7FJLPTHPXKSADG6RM3DAMBW
#\\\|CVOI5LHO7IHARIW6HIPMXXAGMFPZNMA2DMNP7ZS3E2BD2PYGJ6L \ / AMOS7 \ YOURUM ::
#\[7]LRJNXDUM3R4IOTPVCTXILXJCBW2O4KRGYZV7C2RPKHR2M7ZMQ4DA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
