## [:< ##

# name  = start.cfg
# descr = 'letsencr' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 45

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:780]

#,,,,,,,,,..,,..,,...,..,,,.,,.,,,.,.,,.,,.,.,..,,...,...,.,,,,.,,.,.,,,.,..,,
#XOOXFQFVE6OONCOX2W6PXBH6ZAVTHLKGJWVE2MJXJQPFMQ33WVEO5QTKCBDAW2K7SMWBIRBH66YU4
#\\\|A4WAJZD66M2AK5PYXSFS7MOAFC42D3PJSHW42WMVOT2UPB3VS3I \ / AMOS7 \ YOURUM ::
#\[7]VT3726U5ETAWKLVYUB3NEVCM3UQBWP5VYP4FAEJBZHFIZ3RUICCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
