## [:< ##

# name  = start.cfg
# descr = 'letsencr' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 45

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:780]

#,,,.,.,,,,..,..,,,,.,...,.,,,.,.,,,.,,,.,,..,..,,...,...,.,.,,,,,.,,,,,,,..,,
#R7LFLJAIPESJIIRUT7UMTO47CQ5HVB5YNEO7CV3JWI4ELSZAEDUIJLTVR3Y3VZNFNARGWQNY7QUY4
#\\\|DF36S5TQZJOU3IJIX2WNRRPUQUQXOMBZWRPETSHZMA7OETSAIAB \ / AMOS7 \ YOURUM ::
#\[7]ULEQW5MAEM4BS7MSZFDCD46MMWZ6GASEVBFMNWWFBQEG6TLRAUBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
