## [:< ##

# name  = start.cfg
# descr = 'opencv' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:120]

#,,,,,..,,,,,,...,,..,.,.,.,.,,,,,,.,,,..,.,,,..,,...,...,,..,.,.,,,.,.,,,,.,,

#,,.,,...,..,,,..,,,,,...,.,.,..,,..,,,.,,.,,,..,,...,...,...,...,,..,,,,,.,.,
#6RG3FG7FHCG3GFTJRVTC4PIDMX3TZC2X3ZZK3IW67S7F7GY3URSWFTNRRLN7HH6X5DEYKFT24OE5O
#\\\|QWG7QKHK7HEFJ6AGNV2OUDNXCHR4P2TYHRTKVELCR2UH4F7UQPR \ / AMOS7 \ YOURUM ::
#\[7]I4DSLMGJHB4CL5RSLWK7L7QOEWE4W3BF5KZUMOXREICNP7RNJ4AA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
