## [:< ##

# name  = start.cfg
# descr = 'opencv' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:120]

#,,,,,..,,,,,,...,,..,.,.,.,.,,,,,,.,,,..,.,,,..,,...,...,,..,.,.,,,.,.,,,,.,,

#,,,.,,,,,.,.,.,,,.,,,,.,,.,.,,,.,...,.,.,,,.,..,,...,..,,..,,..,,,.,,..,,,,.,
#G64M3USH3VGO37Q6Y2NHRD56RNJY7TJQETANRGZEWLWIELSSKNX4AQAUJOFZTMA25U3X5RVWRFZCU
#\\\|7W44YTJ6LZYKFLCPVET4MNHVLIRAME5WX5A6ZELA2C6EWLTEV3M \ / AMOS7 \ YOURUM ::
#\[7]3A2DV2ZNFCQZLJ2JJ3UK72LCI63E3ACRIJUJ2OXIKIDYLVWQ2ABI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
