## [:< ##

# name  = start.cfg
# descr = 'opencv' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:120]

#,,..,.,,,...,,.,,.,.,.,,,,..,.,,,,..,,.,,,,.,..,,...,...,.,,,,..,,..,,,,,.,,,
#E5K6OGZGL2LDDKXAWPYV7XQNN6OVZ4FOAHYKEUONAZP55Q5WIDI63Y2KQXNVTKO4JTBSASCIZEK3A
#\\\|ON4RMG4EIA7A34B7CVX5UL2RZRCDMK5GJLKRZSMDBB5TMOSD723 \ / AMOS7 \ YOURUM ::
#\[7]AZPCC36Q74OSA6ZLDFEREIIEYHENH4IZVJTBA266A47OM34GYEDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
