## [:< ##

# name  = start.cfg
# descr = 'models' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  models.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<models.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{models.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,,..,,,.,.,,,...,..,,,.,,,.,,...,.,.,,.,,..,,...,...,.,,,,..,...,,,.,,,,,
#IFMNPPAYAJZXENAPCMWVORAWLPUCWSDW4K2WQ4W7DEAPMOE4PR5CUT63REKUKNZZ57JEGM6M36OJU
#\\\|DIJSD5GLPHBUXSHLWZY53GCTLMQ7VUWMWGEUJSXS2NRXIHF6OIV \ / AMOS7 \ YOURUM ::
#\[7]ZQAQZZS26JYGJPCHANETAPNM2VHRU2VE4B4OL2KT57BEV2W6DCBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
