## [:< ##

# name  = start.cfg
# descr = 'models' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  models.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<models.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{models.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,,.,.,,,.,.,,.,,..,,,,,,..,,,,,,.,.,.,,,,,,,..,,...,..,,...,.,,,.,.,,,,,,,,,
#GCMYPRZT4K25Y7JLYQDZWZ73SLM43YMHIBWCTUPI4YKXA27MCH2V6VP37OHIDG2G7HHDOTYHMSWFG
#\\\|7N57GQKCYDGXUCQ555XTL7OCZXJH3QP75EBCOYLZUO6HKOKT5NK \ / AMOS7 \ YOURUM ::
#\[7]ZAQL3N2PEKDQVFB5KKIXVDKQILANTORXTNJPXLEZAUDCJGHFSABI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
