## [:< ##

# name  = zenka-startup.v7
# descr = 'models' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  models.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<models.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{models.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,,..,,.,,..,,,..,,,.,...,.,.,,.,,,..,.,.,..,,...,...,,.,,..,,,,,,,.,,..,,
#C2NKY4OUXHLUDYC4REUCZ2J5CTAWMK7EYHT6FXQRQ47RRIQO26TIDD25NGJ5RXDDDNMWAQ75IK5HK
#\\\|YWQIPD73ABG23PPHQNZD5DN4LGEYF3KUEJPMAJ7PJD233OFHG7W \ / AMOS7 \ YOURUM ::
#\[7]VRY4O7RUHZP5NDLOKZLS3TO3WFKKKMQ2E2XZYHIAR7WYFFXFXUBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
