## [:< ##

# name  = start.cfg
# descr = 'external' zenka start-up configuration used by 'v7' zenka

dependencies = cube nodes discover
start.on-demand = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,...,.,.,,..,.,,,..,,,..,,,.,...,,..,..,,..,,...,...,.,.,,.,,,..,...,..,,
#SC2Z4CUN22WJ3E2WPZHYSQLPQVHYUJLFNI3TVAU7D3JMCQ2X767JJTEBEMRHCEWHQJJIB7ZUWE2VS
#\\\|36ULSWZPNB4DLRJECZK2AHEMUTCPIM5H53D4GVFIHI4E2ZUAKSK \ / AMOS7 \ YOURUM ::
#\[7]BEP7ZGO7Y3PGLH6EPYYQXEAODLHCEHXT3DF3ZNZWHSW2XGWYWCCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
