## [:< ##

# name  = start.cfg
# descr = 'external' zenka start-up configuration used by 'v7' zenka

dependencies = cube nodes discover
start.on-demand = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,,,,,.,,,,.,...,.,.,..,,..,,...,,,,,,,.,..,,...,...,..,,,.,,.,.,,,.,..,,
#APK6V2M5XWF6QKXOI4I2V5XL7GDEO5VLDEI2LWNPHOZVH4NITJVIQZWKQIQNV54RKBZHLYIIMB7LA
#\\\|XH2YPZUTVFXPVYTUWXU44R3ODVGYTXHBJFRAPSW3G35L5PRLZOW \ / AMOS7 \ YOURUM ::
#\[7]BUUH7KAPOMNNM76RQAKG6NQHM7Q7KKCSLEBJTEV4KV3C7HZFS6AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
