## [:< ##

# name  = start.cfg
# descr = 'os-pkg' zenka startup configuration used by 'v7' zenka

max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,,,.,,..,,.,,..,,...,,,,,...,.,,,.,,,..,,...,...,,.,,..,,,.,,,..,,..,
#IGZMWDNUMB45QWPAJUSJP3LVQ5XNOG7NBLQIWYBHNT4SWBRBE54EANVW6CDHR5S466GSZO6BFHAVE
#\\\|PMX47KZ66P2PDDXCLS3BKTN2USPY6VAFXWDWFQNDL7HINSPFHBH \ / AMOS7 \ YOURUM ::
#\[7]6XGSMY4CUKXYGSS36RVK2NTWQNVXBFT44L2TLWRSXOWKHO4NN4CQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
