## [:< ##

# name  = start.cfg
# descr = 'os-pkg' zenka startup configuration used by 'v7-zenki' zenka

max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,...,.,.,..,,,,,,...,...,,,.,..,,...,..,,..,,...,...,.,.,,.,,,.,,..,,...,
#XJ7WZJSM2TTX4H35WYCD3FGMHEAREMZZQ5D35XW3JKWGLSDPRBU3J5RBGVY6S7XEHTWCMFOUANRV2
#\\\|MARBCYGLTWGHYEEEMWHUQ5OCTT5WMBPLS375VUF4LY2KV5GHFC3 \ / AMOS7 \ YOURUM ::
#\[7]N5KR262DT6S6UHQIF5F7RYX3YYZJTDUQJMQSYDGIHJW7WDHR76DI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
