## [:< ##

# name  = start.cfg
# descr = 'content' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1
start.on-demand = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,.,,..,,...,...,..,,,,,,.,.,,.,,.,,,,,,,..,,...,...,,,.,,,,,,..,.,,,.,,,
#X6RN3SHS3G4J7LA5QNAZTXY7UZARZVWN5RM4LOVM3KMGEJZWKQDOPKRYCZS72CYILKM4GHRYVESYY
#\\\|5NRDPRASSWKK2UUQ65VQWXCBPT7FYHXYUAGC5S7EWWR3UA4MJ3X \ / AMOS7 \ YOURUM ::
#\[7]QRCMXAXCWRLXP3ZUOHGDGZGVIHOCP5DBUJW2NR3MKZGBHWYVQ4BI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
