## [:< ##

# name  = start.cfg
# descr = 'content' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1
start.on-demand = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,,..,.,,,.,,,..,,,,.,,.,,,.,,..,,,,,,,.,,..,,...,...,..,,,,.,...,,,.,.,,,
#NFTVVCJMZX7BAVPIU45TIMIDAZR7AVTYNNQXQJ762KG2IRJMXBPAVNK7VLIY7CVG4GFT7UFEW5UXE
#\\\|POEJTJCPMD5O3H4CFUEGQ75Q5GGQ7RUP4OHGFSKMZJQBLETOYT3 \ / AMOS7 \ YOURUM ::
#\[7]BPGDJJ6T6KJX3JN7E4UOG3WOW47S5R66OKGTTWY37K3BVGXKOADQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
