## [:< ##

# name  = start.cfg
# descr = 'tile' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 # openbox set-up
start.on-demand = 1
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,,.,,.,,,..,,,.,.,.,...,...,.,,,,,.,,,.,..,,...,...,..,,..,,,..,,..,,.,,
#EW53TCZKXM7SOEE3ZGXTOJGVFR26JAIQZLPKOZG6EOXQDAPCTBTZD6Q5RBMTAZ52ZITRALFT3UI46
#\\\|SKJEKXCO345GPLNVSWNZVKNBILSTHJBHHLZVIZ4UNZXOUHPATQW \ / AMOS7 \ YOURUM ::
#\[7]4JSLBY4VPGCN3MELM7MMTO7D4XAACLDUSGM7BHMPSICU73NNSQAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
