## [:< ##

# name  = start.cfg
# descr = 'tile' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 # openbox set-up
start.on-demand = 1
max_concurrency = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,.,.,,,.,.,,,.,.,,,.,..,,...,,.,,...,,,,,..,,...,...,..,,.,.,,.,,,,,,.,,,
#U3S5DHVLNBC4MPNC2WHRPHBSJLFBXDDR2KDGQYM6FGL6PW4NOWU4PTCRYFVN657AIRPQLNBWVIL22
#\\\|ZQ6XFM7FIRGBI4N3CVTO4BTB4WRAR7SRX2Z5N7JLV5LQFCA4J34 \ / AMOS7 \ YOURUM ::
#\[7]ABRFWUBNUKHD3ETREIWWIR3A4HMVMKTRUQMM2BZ6ZSVJQXASQIAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
