## [:< ##

# name  = start.cfg
# descr = 'tile' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 # openbox set-up
start.on-demand = 1
max_concurrency = 1
heartbeat.timeout = 47

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,...,.,.,,.,,.,,,..,,.,,,.,.,.,.,..,,,,,,..,,...,..,,.,.,.,,,.,.,,,,,,..,
#UWS33QAASOVFIXI35GTWL6PAWVCLVBYVVXG3QJQP4NCHLZ43XRC5N2KPKLSB4QGWJ4M4USJMIECLS
#\\\|PA2ASXUE5JGLOYFSWI7KPD2QBLYBNJHP4C5VZYFOXQRD6IUV26C \ / AMOS7 \ YOURUM ::
#\[7]O2Q3PDJQYQZTBNRO47NB3PXONVTBPJRIKDV545P473HPTBNGBMDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
