## [:< ##

# name  = start.cfg
# descr = 'acquire' zenka startup configuration used by 'v7' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,.,.,,,,,..,,...,.,,,,,.,..,,.,.,,.,,..,,..,,...,..,,,,.,,..,.,.,,.,,..,,
#6JOJP4C3TTB52MIWQC7OGGOBMWT4WL5UEKA4E2OACLOOBJ4RWB2M5JZTQNLUYR455MISLIHQSBCOA
#\\\|2K2BBWB3FGDMTRTZXM7MJ4LK4RKJFVUMZBWF63HQODDWK35JEGE \ / AMOS7 \ YOURUM ::
#\[7]VW2S2YOHH7RRLICXODFNJAHU5JYP37Z7V6AATUGAPOPROVO3OCDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
