## [:< ##

# name  = start.cfg
# descr = 'acquire' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,..,,.,,,..,...,..,,,.,,.,,,.,,,,..,.,,,..,,...,...,.,,,,..,,,.,,..,,.,,
#CG6JHEVNMZJPEZQE3OJ3TU6JGWSFYAIKHS55KQTMZLQEXFXC3Q3ID7R2OOB4QKIMWRTHR4SCVNK6Y
#\\\|TOJZTHUCDDEA3QGS6ZUDPHPSMXT5UG6NH7QNXLNTW2PAOKYCRJQ \ / AMOS7 \ YOURUM ::
#\[7]YFX5GF4XR7HPOBTF4G4475ZBPX4QZRPY7TQ4T3TWCRTNGPIXAIAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
