## [:< ##

# name  = start.cfg
# descr = 'task'-zenka startup configuration used by 'v7' zenka

start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  task.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<task.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{task.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,..,,.,,.,,,,,,,.,.,,.,,,,.,,,,,,,,,,,.,,.,,.,.,...,..,,...,,.,,,,,,.,,,..,,
#CD5ZHA5J6OFAAFAHYU7T2S5T6WNPBNDMZRTXH7CVNH6E3GFXYTZ4TIFSBPU73GDQ6CJHQURFDZGV4
#\\\|JSGVN62HGPDGWKPI4U7FOOGRJZQWO2JIN3FMSN2ZV2NJVPT4CKN \ / AMOS7 \ YOURUM ::
#\[7]MJVPC43DYZKKFXFQO633C6UXRAVRDD44YZRHYQRKC7Y6YISXDQBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
