## [:< ##

# name  = start.cfg
# descr = 'task'-zenka startup configuration used by 'v7-zenki' zenka

start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  task.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<task.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{task.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,..,...,,,.,..,,,,,,,,.,,.,,..,,,..,,,,,,..,.,.,...,..,,.,.,,.,,,.,,.,.,,,.,
#IQETHB4ASYTFGCWTJMR3FU37Y4O4DDIDADKEG2ZCG63JPOIZOM2MP4BE52C55F24JXN3E6SLRPXV6
#\\\|EEBR5D6ZOENG5FGACJDYOQHOCBTQJ33IDOEVEP3UTU5LO4WK4G6 \ / AMOS7 \ YOURUM ::
#\[7]K6KOUCTDZDXQIPS7ZI23KCFXRAWZJ6FIHCB3SWGFNBB5IFIM2ODI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
