## [:< ##

# name  = start.cfg
# descr = 'task'-zenka startup configuration used by 'v7' zenka

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  task.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<task.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{task.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,,.,.,,,,..,,,,,,..,,..,..,,,.,,,,.,,.,,.,.,.,.,...,...,...,,,.,,,.,..,,,.,,
#DBJYNY7XKNY6ALA2NELGSQUDYBWHOS5RCY2FWRUUBEZUA3AJPF7CDCFAEWDDM33XIJ4VRXLX2OLE6
#\\\|3FERJD57HW4JM7HROUEWL3EW2K6Z4U5WUXU44WICBFB2AADDGJX \ / AMOS7 \ YOURUM ::
#\[7]4JLCH6FWRVIT5WWIMOHX5CQO6OSVO52KBATZ3SRUPJA4KR6MMODA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
