## [:< ##

# name  = start.cfg
# descr = 'compton' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,..,,..,,,,.,,,.,.,,,.,,,,,.,...,..,,..,,...,..,,..,,,..,..,,,.,,.,,,
#KYXDP3GF3AOC5LOWTCF7ZABVEM36GMHEHRXXEKZV7VWTMFF4SWGAZLUSB67NR5EQ655YEV64XQNU4
#\\\|ZYNYHMW4OQTWMGH6XAS6ZMUNUJSUS4XOYKITNKGGLWEGNYEYTUI \ / AMOS7 \ YOURUM ::
#\[7]Q5D6XJWAMYZXWPO7IZ2NR6M7T32FKXZBD5RGXBNXCLIFZ427NMAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
