## [:< ##

# name  = start.cfg
# descr = 'menu-commands' zenka startup configuration

dependencies  =  cube protocol-7-menu
max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,.,,..,,,..,,..,,.,,,,.,..,,.,.,,,,,.,.,.,,,..,,...,...,...,,,,,,..,...,..,,
#JGIB7G6N6FCLTALHIQ7XYS4V3GDP3OSPCEXCEEFSDWACDBZVR7I6REFUD546MBFQK63W2CKAWXOS6
#\\\|VJVWH32SQ3XKBS4SZTIU34O7TLPZEF4NT5XTKM3LED3ADEPD7G2 \ / AMOS7 \ YOURUM ::
#\[7]CP7FSLEI552CHX3C4ITHGHPS5KR4GP7YJA4SLW4MZYQZYF37N6BA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
