## [:< ##

# name  = zenka-startup.v7
# descr = 'menu-commands' zenka startup configuration

dependencies  =  cube protocol-7-menu
max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,,,,.,,,,,,,,,,.,,,.,,,,,.,,,.,..,,,..,.,.,..,,...,...,,,,,.,.,.,,,.,,,.,.,
#HO2DE35ZLHZYZITDE6BHOF3SVF4AYTCRKSCMHAS5A2DISUWPGPZCBCNQA5T5JNOE33O2QMACLFKSE
#\\\|S3ESCHQY3Z2C7ZY4X7ZFU57IMGHSUTYNFGZPBB7XMW5VLTYSF42 \ / AMOS7 \ YOURUM ::
#\[7]5RJ3M3KI5SNVFYGAWSCCEV6A4MTH2ASKMDTGFXGVMG6ENFEOAACI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
