## [:< ##

# name  = start.cfg
# descr = 'menu-commands' zenka startup configuration

dependencies  =  cube protocol-7-menu
max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,.,,,.,,,..,.,.,,.,,,.,,,,,,...,,.,,,,.,.,.,..,,...,...,,,,,,.,,...,.,.,.,,,
#WVPRKIGG7BUU3SGWMXYCXPCFY2M75NE6KHNEMFDFLX6HJMDAGJ2CYUNAFXNSZL27SRFFUUV5PCQII
#\\\|64AADLV2LBCNHYSBQJZ3A52HOHQ2X7C3ZMVHHFJSDAJXSHESQVS \ / AMOS7 \ YOURUM ::
#\[7]UNVZKTITWRKGYGA45GQ2MGZE6YNXUA6IZZXQDSDGI75NILWQ5WAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
