## [:< ##

# name  = start.cfg
# descr = 'mod-test' zenka startup configuration used by 'v7-zenki' zenka

dependencies      = cube
heartbeat.timeout = 7

## idle timeout below [ zenka-init ] : on-demand, so v7-zenki accepts ##
## its idle-term and ends it cleanly instead of an error restart      ##
start.on-demand   = 1

## keep-children test [ 2026-09-30, temporary ] ##
restart.keep_children        = yes
restart.keep_children_grace  = 25

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,..,,..,,.,,.,.,,.,,,,.,,,.,,,,,,,,,,.,,,,,,.,.,...,...,,.,,,..,,..,..,,.,,,
#HPMGIOREEKHCIMZP6SSYEYF2SJ3P4CJULQXIDUHAXFPA3KPAWI4CLH3SPRM5ILMPXGVCWM26RHX6W
#\\\|IRK6KXK7XGHDGA6YLKUTTDRFU7H5HWJ4WSPLDLSP233YSYSSP6X \ / AMOS7 \ YOURUM ::
#\[7]OPYKYEU3NRVYIC4MISQBVBKCCCT5IPPZEFQPNIYOPZGNSFVQ4KBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
