## [:< ##

# name  = start.cfg
# descr = 'mod-test' zenka startup configuration used by 'v7-zenki' zenka

dependencies      = cube
heartbeat.timeout = 7

## idle timeout below [ zenka-init ] : on-demand, so v7-zenki accepts ##
## its idle-term and ends it cleanly instead of an error restart      ##
start.on-demand   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,..,,,,,,.,,.,.,,,.,.,.,..,,.,,,,,,,,,.,,.,,.,.,...,...,,.,,,,,,,,,,.,,,...,
#4TDUB4Z4KJE2J54AWLCKEXIWU273JWJM3GG4EDCAYNTFSP64GFSS7ISMKPYU6XOYPEOQTS3HATOJ4
#\\\|JW2NNMCO64X7QLSANY6WDCYYGFAIOOHJHIRF3S5UFNX4XNF4S7E \ / AMOS7 \ YOURUM ::
#\[7]KN6INRPK7UY3EMREHUMHS3ZWE44HEUQM2DB4NPMBTJYE4EUUYQAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
