## [:< ##

# name  = start.cfg
# descr = 'calc' zenka startup configuration used by 'v7-zenki' zenka

dependencies      = cube
heartbeat.timeout = 7

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:4200]

#,,,.,,,.,,.,,,,,,,,,,.,.,..,,..,,,.,,..,,...,..,,...,...,,..,...,,,,,.,,,,,.,
#RIBE3G5P6KDLGAEXFIMS74TVK53CBPMQ3YWX4I3S2GLVCEGZE5LNX3726OKT3WXA6QGOZHJZWQ2HC
#\\\|FR4VIE22JG3LENYIEZGT6YSTZJARSCFJOEZ7IWPJFRFIKAEELNP \ / AMOS7 \ YOURUM ::
#\[7]JGZ4WOSPTUPUCHLQFLHXQNGO7OH4DDJSVWGZDTXBKHFODIHHJ6CY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
