## [:< ##

# name  = start.cfg
# descr = 'vision-batch' zenka startup configuration used by 'v7' zenka

dependencies = cube models
start.on-demand    = 1
restart.disabled   = 1
max_concurrency    = 1

# Access control for parent and child commands
access.cmd.usr.cube = commands heart verify-instance reload name \
                      list show-buffer buffer-erase buffer-erase-level \
                      process status pause resume cancel \
                      child.*

access.cmd.usr.parent = commands reload show-buffer \
                        process status pause resume cancel \
                        *

: v7-init :
  start_mode = stdin-zenka
  vision-batch.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<vision-batch.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{vision-batch.key}>']
  [base.zenki.set_ondemand_timeout:780]

#,,..,..,,...,...,,,,,,,,,.,,,.,.,...,,,.,..,,..,,...,..,,...,..,,,,.,,,.,.,.,
#5ZOUGBQS22M2IGNFFRBLYS3YZOPGK4RMA474XZT22RPHBIAR2WL2JKMF6YOGTX6K25ACCQAJD3OHC
#\\\|FM2XKHISYR6DRMJ3SBUEQP2XH4R6NDDRMHRDXV74L4MMWJDRDL5 \ / AMOS7 \ YOURUM ::
#\[7]URIXA5BTGPRNIQX5SDJI2INWJB3P6WK5HZZNM53SRDYO2OVD7KCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
