[user]
	name = 'Taeki Ten of {[.NAiLArA:T3K`]}'
	email = 'sourcecode@nailara.network'

[color]
	ui = always

[blame]
        coloring = repeatedLines

[color "blame"]
        highlightRecent = #FF0AF3
        repeatedLines   = 17

[color "decorate"]
        head         = #FF0AF3
        branch       = #FF0AF3
        tag          = 54
        stash        = 54
        remoteBranch = 54

[color "branch"]
        current  = 54
        local    = 54
        remote   = 54
        upstream = 54
        plain    = 54

[color "diff"]
        meta          = 25
        frag          = 32
        commit        = 54
        context       = 25
        contextBold   = 27
        contextDimmed = 24

        new     = 34
        newBold = 35
        newMoved = 34
        newDimmed  = 28
        newMovedDimmed = 28
        newMovedAlternative = 34
        newMovedAlternativeDimmed = 28

        whitespace = 18 55 ul strike blink

        oldMovedAlternativeDimmed = 17
        oldMovedAlternative = 18
        oldMovedDimmed  = 17
        oldDimmed    = 17
        oldMoved  = 18
        oldBold = 20
        old  = 18

[color "interactive"]
        prompt      = 54
        header      = 17
        help        = 17
        error       = #FF0AF3

[color "push"]
        error       = 54

[color "transport"]
        error       = 54
        warning     = 54
        success     = #FF0AF3

[color "remote"]
        rejected     = 54

[color "status"]
        header       = 17
        branch       = 54
        nobranch     = 54
        localBranch  = 54
        remoteBranch = 54
        added     = 50 17
        updated   = 57 17
        changed   = 57 16
        untracked = 63 16 blink bold

[alias]
        co    = checkout
        cob   = checkout base
        cam   = commit -a --amend
        ci    = commit
        cim   = commit -m
        b     = branch
        s     = status
        h     = show
        st    = "!showci () { rev=$(git rev-parse \"${*:-HEAD}\"); git difftool $rev~1 $rev; }; showci"
        f     = fetch

        d     = diff
        c     = diff --cached
        r     = reset

        m     = difftool -t mediainfo
        mc    = difftool --cached -t mediainfo

        lc   = diff --name-status --relative HEAD
        lsl  = diff --name-only --relative HEAD

        l     = log
        lp    = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
        cp    = cherry-pick
        rob   = reset --hard origin/base
        dh    = diff HEAD
        rhh   = reset --hard HEAD~1
        rbb   = rebase --merge --autostash base -X theirs
        rbc   = rebase --continue --no-edit

        stu   = stash -u
        stl   = stash list
        sts   = stash show -p
        std   = stash drop
        stp   = stash pop
        cma   = commit --amend
        cmano = commit --amend --no-edit --date=now

        cod   = checkout dibosys-NG
        pax   = pull --rebase --autostash -X theirs
        pvb   = pull --rebase --autostash -X theirs vac base
        pvd   = pull vac  --rebase --autostash -X theirs dibosys-NG
        psvb  = push vac base
        psvd  = push vac dibosys-NG -f
        pshb  = push hub base

        ptm   = pull twc master
        ptd   = pull twc dibosys-NG
        pstm  = push twc master
        pstd  = push twc dibosys-NG -f

	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/base$/d; /remotes/p;\" | xargs -L1 git checkout -t"

[merge]
	tool = meld

[diff]
	tool = ccdiff

[difftool]
	prompt = false

[backup "ccdiff"]
	cmd = ccdiff --bg=black --new=rgb014 --old=rgb013 -u $LOCAL $REMOTE

[difftool "ccdiff"]
	cmd = ccdiff --bg=black -u $LOCAL $REMOTE

[difftool "mediainfo"]
        cmd = mediainfo $LOCAL $REMOTE

[fetch]
	prune = true

[push]
	default = simple

[core]
	editor = j
        pager  = diff-modified | less --tabs=4 -RFX --mouse --wheel-lines=4
