## [:< ##

# name  = start.cfg
# descr = 'osd-logo' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox compton
max_concurrency = 1
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,,,,,,,,,..,,..,.,,,,.,,,,,,,,,,...,.,.,,.,,..,,...,...,...,,.,,,,.,...,..,,
#UUMFK5S223273GRZCBF45RGUJDZ3OCMG34MN2EYTMVBVZ4KM2X7UVFYCR5PC2VOJYBM2LR2ANSSQ6
#\\\|PXVFHENTPSB2W56WOTMOBSDDSMSBGPGWAIMD6GJD4MWBAC3RED5 \ / AMOS7 \ YOURUM ::
#\[7]GS5AAHC2F2D24NQKGSVMFEI55CY5EBLRV7TRMHOIRV5QZXZEKEDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
