## [:< ##

# name  = start.cfg
# descr = 'osd-logo' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox compton
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,.,,,,.,.,.,,.,,...,.,.,,..,,.,,.,,,,..,.,,,..,,...,..,,..,,,,,,,..,,..,.,,,
#PHBW55ZGXLXA23TW5S37Q5O454FY6SOV7BA3OHF4WEI7JSOJWVHIYCMIWROP5IANATB7IX55MFZMI
#\\\|Q4PIBK7T4HYTTF2YTFCEN547JFRP2MKI2HISEPQ7QXP6E7ZM223 \ / AMOS7 \ YOURUM ::
#\[7]AIZLSIACYVDUETWUVTZDOKMIMCYJEVDUG32GP73D4WDYWUYPZOAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
