## [:< ##

# name  = start.cfg
# descr = 'osd-logo' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 openbox compton
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = Gtk3
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:33]

#,,,.,..,,,,.,...,.,,,..,,,,,,.,.,,.,,.,.,,..,..,,...,...,...,...,...,.,,,,,,,
#K6EJG5ZUECJYMBVEJEJ4ZKYZYXKPTW73ITOR2ODDWLJ7VPM3XCS3MDAVO5TA3MZICYOP25U3GP2CU
#\\\|QMPH4INT5MUAXPCB5QKOCZ5WYE3YGA4CRK5XNXXEZ4E4TYJVLYN \ / AMOS7 \ YOURUM ::
#\[7]GPILOENZ7WTRUBOVKHVAXQ25IH5EB3AU2SQWMH7PMLIY2PGXHOAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
