## [:< ##

# name  = start.cfg
# descr = 'screenshot' zenka startup configuration used by 'v7' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,.,,...,...,,..,.,.,,,.,,,,,.,,,,,,,.,.,.,,,..,,...,...,,.,,,.,,,,.,,.,,..,,
#UGBFTEID3RZ3P777AU7C3UIRWLBIKOWZWTNIGTJKEKD5FVHKLGOWWPHKMZQKCZGGYMYXAHMHX6FKY
#\\\|4QF52OUBRP3HEXMI35QAIUVXP5QDO242SEJVYJB3YHNBQ5E6FGU \ / AMOS7 \ YOURUM ::
#\[7]OSTWKXRA3VEB55VZVCZGZTDXXPA7BEPLURH45ZJIYBCJA5NBCKAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
