## [:< ##

# name  = start.cfg
# descr = 'screenshot' zenka startup configuration used by 'v7-zenki' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,,,,,..,.,,,,.,,,,.,,.,,.,.,...,,,.,.,,,,,,,..,,...,...,..,,,,,,.,,,...,.,,,
#4TCM3LYLL7DARUQFE64S7662HDKYHYG7PKGSY22BMUXTCLHMGQNRRIRGCZPMF2JSTKABOHCW4LQUM
#\\\|PWSVLVCRXKYFVBJE6QEU7K7SJVM4Q6HQO2RTS3POMS66TQ3AU2O \ / AMOS7 \ YOURUM ::
#\[7]FYPI3STI5D6CV5U4S2SRO5XKFTBUC77ZVEWEAA4IBCZGMHAOS6AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
