## [:< ##

# name  = start.cfg
# descr = 'screenshot' zenka startup configuration used by 'v7' zenka

dependencies = X-11
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,,.,,..,.,.,...,,..,,,,,.,.,,..,,,,,,,,,.,.,..,,...,...,.,.,,..,,.,,,..,,,,,
#2R7J7H6RJRBVCOSHWAPCTYGPZIDO54ENJLDVXLDPUEEFC456NX3WRHYX5K7PODQZUF42X25MW2PHK
#\\\|256M6VNUGT57XYEFQDRL7QEUIT6R7Q35H7PI4X46D3IBPSTT3H7 \ / AMOS7 \ YOURUM ::
#\[7]OG7EZA6Z7LPEXYOUI32FKXGTDMSJ6RRGNAOFISXADQLMAGTYPQCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
