## [:< ##

# name  = start.cfg
# descr = 'notify-osd' zenka startup configuration used by 'v7' zenka

dependencies = cube X-11 compton dbus
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,.,,,,,,,.,,,.,,,,.,,..,,,,,,,,,...,...,...,..,,...,...,,.,,,,,,...,,.,,,,.,
#XPB2WCQXAF2S6GXPDSWCSR6HRNOIYX4ZZ2L6XKDLZKTZQLPRSKHMYPHQAVZ74JKS6UDH4VJFPWGVO
#\\\|HCM7RCZEWQTRVDJZ5BDQL46HUQJRYRJZEIRYGG3424PH6C2F3LY \ / AMOS7 \ YOURUM ::
#\[7]6K6GF5JVB57NDD3JWIJOSQJTRTIZL54DA6IRKBNOD3J3SNET4GAQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
