## [:< ##

# name  = start.cfg
# descr = 'notify-osd' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 compton dbus
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,...,,.,,,..,,,.,,,,,,.,,..,,,..,...,,,,,..,,...,...,,.,,.,.,..,,.,.,,.,,
#KCTRKZFUFXJCX5Z2DUSWII35DAVKAUG43JXPKLLTWRSYE6PKPPSIMYRBHSDTRHZOHFWFL3NU6PQ2G
#\\\|6AHVRYX3M7QZLRECCVV6OKDCGMTM5XTLHEK6Y6MMCSDSJSGL2UC \ / AMOS7 \ YOURUM ::
#\[7]U37R2ZXZDTD7OL76GQBCP2ZRF5R6QFMURBADGTWVXON7HKGY4YBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
