dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,,,,,,,.,.,.,...,,,,,,..,..,,,,,,,..,..,,...,..,,,.,,.,.,,..,.,,,..,,
#Q6G4HZEVBQQTKTS6EISJDG73DBUJ6APULPXYJ4TCM5AWE7ZC56SDQLNVREXZ5PXJODJHTLMBFC3SG
#\\\|72SOE44W23LOVC4Y2IZIOYO2MQ5KO5I4BF3X7XFJ5GVWWQQ7BRH \ / AMOS7 \ YOURUM ::
#\[7]7OOYJLUHHFGYCPRDGTPNCPZKDCZJN3FSI23U5T7PA5XFJTYKBOBI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
