dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,...,,.,,...,,,,,...,,.,,..,,.,.,,,.,...,..,,...,...,.,.,.,.,..,,,,,,.,.,
#B6VF5IK26T7NHA47Z4TRITBFK76FOVTXMFNTBAAM35DCOMLJNHX6YFXDJSMQPHZ32DGZKNGHZ4QJO
#\\\|DFW7RLQG5BPNMHEQCUPGSYMJ7LB2H56U5HOGDW2VGG2XPEO5FYV \ / AMOS7 \ YOURUM ::
#\[7]GRFTJ3EG7RTMFKMH2S5YQZ3NIM7MPIY6WLJAL3ULIYXEFDJTSMCY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
