## [:< ##

# name  = start.cfg
# descr = 'osf-cache' zenka startup configuration used by 'v7-zenki' zenka

max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,..,,...,,.,,,.,,,..,...,.,,,,,.,,.,,,,,,.,.,...,..,,,,.,,..,.,.,,..,.,,,
#GKMQGHYMDUHATIQHW7CFAASOEKXKBBLKWEDZDRH7SHDUUJYT3B52QUSJOEHHGRALJIUBREA2KDIJU
#\\\|SL5MHLOWB6WD7JWULVMJYJDOKUH5ZBKPSLZZWAEI3DPVSPZMISJ \ / AMOS7 \ YOURUM ::
#\[7]54XY3EMO73J3OCCTUTAMHFB4JJ4GPUU3Z6MAWTPWHBVFTBIPVKBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
