## [:< ##

# name  = start.cfg
# descr = 'osf-cache' zenka startup configuration used by 'v7-zenki' zenka

max_concurrency    = 4    ## main instance + subname peers [ osf-cache[peer] ] ##
max_subname_concurrency = 1
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,...,,,,,...,,.,,,.,,.,.,...,.,,,,,,,.,.,...,..,,,..,,..,,..,,..,,..,
#U6GN2TLHRED2QGAUMIBNAIAET5VCBN2FQQMDZJVVTEORXH2CKEQIECVQ3O3TR7AFOJ2O5B422DJJA
#\\\|Z52PC4YNY6PHPFGF4SWUZAI4FATPKPW5BRHZJ27YD62A37JKGGB \ / AMOS7 \ YOURUM ::
#\[7]ZIROFR4RYWBLRFSQEL53ZTDPHZ4POFIYOHUBE6344G5T3MLVUQCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
