## [:< ##

# name  = start.cfg
# descr = 'nameserv' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

: v7-init :
  start_mode = stdin-zenka
  nameserv.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<nameserv.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{nameserv.key}>']

#,,,.,...,.,.,...,..,,,.,,.,,,...,...,...,.,,,..,,...,...,..,,.,,,.,,,.,.,..,,
#5C6CLJM5PA27L7DRRZLJ7UMPOMPAGU4FPJ6RT742ED3U7LOFWTRB4YPQVBOMBQYEC3DKL3Q2XFSUW
#\\\|UKUZKVOS7BPXBEFUR5PRNCVF4FQFN4A5HFAOCNDPYVFDL52S7BK \ / AMOS7 \ YOURUM ::
#\[7]QF5BICAKKKTLLRQLSDZQII3MHPPUIAXIWQAQJN6AV4ETHIVW3KCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
