## [:< ##

# name  = start.cfg
# descr = 'nameserv' zenka startup configuration used by 'v7' zenka

dependencies = cube

: v7-init :
  start_mode = stdin-zenka
  nameserv.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<nameserv.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{nameserv.key}>']

#,,..,,.,,.,.,..,,,,,,,.,,.,,,..,,...,.,.,..,,..,,...,...,.,,,.,,,,,.,.,.,,,,,
#DV5G7QDOV4OIAJYU5ZUPHDFTCALKEXH7RTV2RWZOC4H4DITOFOVHVHMAPL24G4OKDMSN5MEKMTHJC
#\\\|OIS7FLXP3RRMK4KGQ2JSXX2SGNJV4AKDHGGNAL733XYEB7M2POW \ / AMOS7 \ YOURUM ::
#\[7]YVMIVUCVH3PAN5VN2L25QDUU2CD7YFHUTIOO67WTQC627CGJCAAY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
