## [:< ##

# name  = storage.9p.mount
# descr = mount 9P remote filesystem to local path

## [ stub ] connect + attach to 9P authority and return mount point ##

my ($args) = @ARG;

my $authority = $args->{'authority'};
my $path      = $args->{'path'} // '/';

## TODO: implement 9P connect + attach + walk to path  return local mount ##
## point path on success                                                  ##

return undef;

# SPDX-License-Identifier: ISC

#,,.,,,,.,..,,..,,,.,,,,,,.,,,,..,,,,,,..,,.,,.,.,...,.,.,..,,,..,.,,,...,...,
#Z6GKYJH6QLFU2LD5X7BCLF34UOJXIMYIQIV3L64WMRXPX2NHXTJ5EYWIKIHDD4C3ZZSYVNBMQGTLU
#\\\|KFGG3YJ7S5WR7WINNH4EHRJHEOVMOPEFZ7UEAQECXELNGPLUXKD \ / AMOS7 \ YOURUM ::
#\[7]6ULCOAWDGD3BTH7PDA6QCTLRKAPH5Y2O44ZWVFPPZNOHH54BIQCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
