## [:< ##

# name  = storage.9p.mount
# descr = mount 9P remote filesystem to local path

## [ stub ] connect + attach to 9P authority and return mount point ##

my ($args) = @ARG;

my $authority = $args->{'authority'};
my $path      = $args->{'path'} // '/';

## TODO: implement 9P connect + attach + walk to path  return local mount ##
## point path on success                                                  ##

return undef;

#,,.,,,,.,.,.,,..,,,,,,..,,.,,,,,,.,.,,,.,,.,,.,.,...,...,.,.,,..,...,...,,,.,
#GSUGZ3WJINFCGNXBHWFSD4TU3QICW27SC7NRHQ7HRJP6ED472CL7DZLJWUHJK5CFMJM35IFTHXJNG
#\\\|SBWSW7JDM5KNZRGGBUKNHYMWVTUPG4TBQPY7XEJFYYZSAPVHVE2 \ / AMOS7 \ YOURUM ::
#\[7]T77D3A5OPMEP5PIDY5M4RYFAKTPIF3VBWMZRQZZYFZ4YNUKZLQAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
