## [:< ##

# name  = start.cfg
# descr = 'kimi' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 30
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  kimi.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<kimi.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{kimi.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,..,,..,.,.,...,,,.,,,,,,,.,,,.,...,,..,,,.,..,,...,...,..,,.,,,,.,,,,.,...,
#3A2YAV56RSSIOIFJD35SGP72TFALTBFJA2DQH5RRJEQNFD2POIBL5F7MKJ5USS2GWPGCELCDRUFRE
#\\\|WKXOB5LI3YWZKYNG3LSHOYGUQNDJXTFYYVLEYX2Y2YNJX3Y63OA \ / AMOS7 \ YOURUM ::
#\[7]3WCWZPWIB7WNBOK5LKOWZS2P55R3IGMLX5SKRBOZOYH6YVT34ACQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
