## [:< ##

# name  = start.cfg
# descr = 'kimi' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.timeout  = 30
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  kimi.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<kimi.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{kimi.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,.,,,.,,,,..,.,,,,.,,,.,,...,...,.,.,...,..,,...,...,...,,..,,,.,,.,,,.,,
#2W7MSO6YNDSQM4CVH5LRWFI2ELH74I6WLWMJH64SVU5N2PZMLIDLZXAYUJM2SLLA3RYHT4262NDI4
#\\\|DQLGVPLEXS6DSMQH3F6UVZLPAW6RRNQ3YTEFK7XZUGMTVNLF3WV \ / AMOS7 \ YOURUM ::
#\[7]CQ6N6LDR6DMMLK5SJSNQ2Y7XIUWJG2JWB27KJTYCDGQDLUQZX4CI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
