## [:< ##

# name  = start.cfg
# descr = 'kimi' zenka startup configuration used by 'v7' zenka

dependencies = cube

start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  kimi.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<kimi.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{kimi.key}>']
  [base.zenki.set_ondemand_timeout:1800]

#,,.,,...,.,,,,.,,,,,,,,.,,,.,,.,,.,.,..,,..,,..,,...,...,.,.,,.,,,.,,,,,,.,.,
#OBTJNO6GIJIVC6UMUKKXJ5K4SSRSHJN2JSOBJOBSUDMQQ3C5KJCTOV7AQQCWIIC3E7YZQA7YZK5SK
#\\\|BFRHYWFYQKZHVHK7WJWEYWFUS72Z7IDCEAU4EI3Z2HZTB6PMLU4 \ / AMOS7 \ YOURUM ::
#\[7]QC463G2CR7HLWVD6A53KRSUECDZSSGVXAIF53PYXFA7KFT66GUCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
