## [:< ##

# name  = start.cfg
# descr = 'debian' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,,,,,..,,,,,.,.,,..,,..,..,,.,.,...,,,,,,..,..,,...,...,..,,,,,,..,,...,,..,
#DMW5EHVRYYF5L6HUFGI3XLSZ7XDZWVGP5ORF6AKSATRKBHYF2HHXIJPHU5B63BVPDBJYT6ZWYPTJK
#\\\|4YC355AZ5PHHXZM4PSB7ZEYTAXOMKAS6GS4FPZYE2SXYNSM5KP2 \ / AMOS7 \ YOURUM ::
#\[7]TQJ6MX37JYV6UJPVROOQVP4NWPRHUKISAHPLV2U5BNGO4BDLG4BQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
