## [:< ##

# name  = start.cfg
# descr = 'debian' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,,,,..,,,..,,.,,.,.,,..,..,,,..,.,.,...,..,,..,,...,...,,,.,,.,,.,,,,,.,,..,
#5ZI3YZ5V6SJK3XNAIFEHO5KIBHQ345QOBQT5WF2JWAVJHFUSCSSJMJL5IJS6KXDAGFMTT4XSHBQ3S
#\\\|ICI6TKSW7BOT3J6XC2GYOA2Q7JQ4WAEVHRLSAPVAAUYWRZCPAUO \ / AMOS7 \ YOURUM ::
#\[7]4JMU5J7CF223PRXSR6VGX6FIT2YRMX2XI2S65ZOBGX6T2N6U6UDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
