## [:< ##

# name  = start.cfg
# descr = 'debian' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:420]

#,,..,..,,.,.,..,,.,,,,,,,,,.,,.,,.,.,,..,..,,..,,...,...,,,.,.,.,.,.,,.,,,..,
#RB5EOLHGUJWYGXSX233XJDULZISGR6BKT26VRN4UX5JMSZCW4CFZFJ4LRLT7GJDGF2MCUXLQQOMDM
#\\\|2JYT4P22MEJPFQSYNZQCH5OZWEEPXGWBFL7NPA5QD5GFLHL3CCR \ / AMOS7 \ YOURUM ::
#\[7]FGXEJJPDICMD2MTJM3TQNRAMZIUUOVJEKLK3O5JEVR2BCFG7DWCQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
