## [:< ##

# name  = start.cfg
# descr = 'smtpd' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,.,,.,,,,.,,,.,,.,.,...,.,,,,.,,,,.,,,.,,,.,.,.,...,..,,...,,,,,,,.,,.,,.,,,
#AS7PLBSRLU5L67B2XSV4WKSYDIMNPO7UR3AR7DXDLCBIJ5GUO3Z3VOBXIHX42UQXRHU6T5FN4KECY
#\\\|2FFOJYJS7IS7BAYWRSFP67VBR5TFTWCDCBK27X6MXWAIIT4Q3P5 \ / AMOS7 \ YOURUM ::
#\[7]OSSPBPS2D6FM65247LBGOAFPZ4LIUKJY5Z77SQNHJ5EGGAMLKUAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
