## [:< ##

# name  = start.cfg
# descr = 'smtpd' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,..,..,,...,.,,,,,.,,,.,.,.,,,,,.,.,,..,..,,.,.,...,...,,,,,..,,.,,,,,,,.,.,
#TSRE6KK44VD2KX42QG6WU5SJNU6CHUOXQMFVNNE4I25RTQP3XQSWBI7P2RUU4LJ2FX5P3KFUVO7X6
#\\\|DTMIVHOHFBRT52ZAPDMR56AOGEQT6C6EXGG72A33FEDATDDJKRX \ / AMOS7 \ YOURUM ::
#\[7]TDHBEFOXI2OLBLAVL54FJWODZKM5A25SBKUB7PMKOWWWHHP3NADY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
