## [:< ##

# name  = start.cfg
# descr = 'smtpd' zenka startup config

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:7200]

#,,,,,,..,,,.,,,.,..,,,,,,.,.,..,,,,.,.,.,,,.,.,.,...,...,..,,..,,,,.,,,.,..,,
#EB7HBIJ5NEDIA6EIW6SH6EQRNPJ2BBC5LZ3G337JDYIBNAHQELG2QZEX2ZKZSKWIEBG7JND2CQM6A
#\\\|KL54NJ3BGMLZRI4HD22E7XCWAMS7VLZX2PDHPBE3XHDBFO46CR3 \ / AMOS7 \ YOURUM ::
#\[7]NYGJC2EMJKULTZ54LH7UPYKRC33M4ZIKUHK62IXMQJKO5GIPAKBY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
