## [:< ##

# name  = start.cfg
# descr = 'pdf2html' zenka startup configuration used by 'v7' zenka

dependencies  = cube content
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = FindBin Glib::Object::Introspection
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,..,..,,...,..,,...,.,.,,,.,,.,,.,.,...,...,..,,...,...,,..,.,,,,,.,,.,,.,,,
#E7DDCPJBJJ6SLIYVPSN77ZJM6CKETT4B5GAJXCW6L5OJY3FE6MWVIZKJ4LBRX7OQEKFZVJB4WO7MK
#\\\|4MHMBF4ZF5AGM5JQQUDCL54MMZD2LCCD7JK2KANAO25QQOLULKF \ / AMOS7 \ YOURUM ::
#\[7]MXE3XGDTB45N4U46FSPGYB6UJ2VGM6JCLU5ZJQBWKCZKWTVIDGAI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
