## [:< ##

# name  = start.cfg
# descr = 'pdf2html' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube content
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  command_line_modules = FindBin Glib::Object::Introspection
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,,.,,,.,,.,,,,.,...,..,,,..,..,,.,.,,,,,,,,,..,,...,...,..,,,,,,..,,,..,.,.,
#WYK5LZLQWLDH2LWUZ4ILSECWBAHPEWNJKVVFHAPJ7XL5MF2M35R4TF5P4CO2OTUTU2JY4PMIJCBRK
#\\\|5WS4NAKDXMA4TLXFOJWQRT6RYPVDCOKZ7DQLVNCCPXCIHR6TUWU \ / AMOS7 \ YOURUM ::
#\[7]NGMMWANGTMZNMBXRCUIUIHJWSWIAJCUGP2K5PY4CAUYOPWHJSABQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
