## [:< ##

# name  = start.cfg
# descr = 'storchencam' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube X-11 openbox
max_concurrency   = 1
heartbeat.timeout = 270

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,.,,,,,.,,,.,...,.,,,,,.,,.,,.,.,.,,,,..,..,,...,...,..,,,..,..,,.,,,,,.,
#V374P2MUAULJKIT2GM7CEPELFZGM7A7ESOKJZG2XBJNNDTQV2FP4LNEGAHYUQDHHW6FGJ6OBELASY
#\\\|F4FWXAU5RLHWXENPUZGQSAWOOABYJCJANU66WN7OS7YI3LCB2I2 \ / AMOS7 \ YOURUM ::
#\[7]KHEJT4WSQBSEK3CZ3WN5Q2FNMB5ABTAUYB4DOCN3AKSFI26PRKBQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
