## [:< ##

# name  = start.cfg
# descr = 'cube' zenka startup configuration used by 'v7-zenki' zenka

dependencies   =  cube
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:50]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,..,,,..,,..,,.,,,..,..,,.,,,,..,,,,,,,.,..,,...,...,.,.,,,,,..,,...,,..,
#UR66KX3ZVDR3M3X5TNSZCUWLWQQLMGFBWDWDZKBUJJGX6G62RTYYLJ4RCZ6DLDPGKZ4PFESMWNTT2
#\\\|3FP7XNVEG5UUASRMSEVWHVQNR35OAJUIQC2W6GPJRAOEHHGTCWA \ / AMOS7 \ YOURUM ::
#\[7]6AD3SVM4N25NT4TBRRZ5YX27U7O5GVS4DJ5Y6Z24SWZG423UQUBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
