## [:< ##

# name  = zenka-startup.v7
# descr = 'cube' zenka startup configuration used by 'v7' zenka

dependencies   =  cube
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:50]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,..,...,.,.,,.,,,,,,..,,,,,,.,,,...,,..,..,,...,...,,..,,,.,,,.,,..,.,.,
#3OFGL6QQ22PZH35PHFLFRIQ5LL2R3BVGJJYY2HGCNCTRKHV335T3HLXNLOXCTB6ZY6VQGYDTYT2M2
#\\\|LXPAU5K6VNHNRXEP72AYMKYHGJAXG3FQ4AARKPF4NPUOCEUHTQR \ / AMOS7 \ YOURUM ::
#\[7]4CFDD4DM7L7ZQSGM5BRLBQ5IPXWIIGKSUR4J33RHATO4WLLURCCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
