## [:< ##

# name  = start.cfg
# descr = 'cube' zenka startup configuration used by 'v7' zenka

dependencies   =  cube
max_concurrency    = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:50]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,..,,..,..,,,.,,,,,,.,.,...,...,,,,,..,,...,..,,...,...,...,,,.,,..,.,.,,..,
#I26UAE5ICHZI64SZ3LMZSLCOLRJZA5K4JN3PT52E62GYJTDJJBOEXU4FUO7DFPCTCTXFRSIPACXPO
#\\\|LPXQ57KVCNTP74MUBLMDCEHZRYU64DWT5IF6CRU6ZMOPS4R6RU7 \ / AMOS7 \ YOURUM ::
#\[7]ZWBGPRMDFOKJ5V2K7AZCH4PZHPLRSXATIKDIEX3X6N54HUX6TCCA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
