## [:< ##

# name  = start.cfg
# descr = 'set-up' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
max_concurrency    = 1
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:147]

#,,..,.,,,.,.,.,,,.,,,,..,,..,,.,,.,,,..,,,,.,..,,...,..,,,..,,..,,,,,.,.,.,.,
#R3Y2ONBFSCSZVXFADT7E4NFLTQZFVWWWN4LNDUIX3FWTO7OIHE3GWHRUVE6KA36A2PGFES5URSG6Y
#\\\|BYGTHV5FI33Y2X6RDNMFVZ32NM6NOWFZ3UVV5T64Z7VFKJTGPKY \ / AMOS7 \ YOURUM ::
#\[7]3YBCMEZMMH3CYXUQSMAJO3P2NK2EJVPRWWJRJRZ5CAJXYWWUB4AI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
