## [:< ##

# name  = start.cfg
# descr = 'graphics-matrix' zenka startup configuration used by 'v7' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:47]

#,,..,,,,,,.,,,,,,,,.,,,,,.,.,,,,,,..,,,,,...,..,,...,...,,..,,,,,.,,,,,.,.,.,
#UIOH4X2PMOPMNVFDGCMGM3WHMFKIAR6IDCLBA43WVIR33LEA6RFMR24U3QRQOPMS4XY23SJWH7DBS
#\\\|OHEW7IQWYLSBM4IM2VWT3FWBGGS5NMXBYHYFOKAZC7Z5WJQ2C66 \ / AMOS7 \ YOURUM ::
#\[7]V7HFIBNKK34O5EH4COBLYINAHSRPHNPKTKDYBDTIPUPV7LLIVIBA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
