## [:< ##

# name  = start.cfg
# descr = 'graphics-matrix' zenka startup configuration used by 'v7-zenki' zenka

dependencies  = cube
start.on-demand    = 1
restart.disabled   = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']
  [base.zenki.set_ondemand_timeout:47]

#,,,.,.,,,,.,,,..,,,,,.,,,..,,,..,,,.,,,,,,.,,..,,...,...,,.,,,..,,,,,,..,,..,
#OUG7UNKN4A6PDQI4PKZPCQULEORO6MWPOCOFXOTTTVFJEJCP3Q2UPTIGHPYNJR5SNX7XA7NVBU5LA
#\\\|S2QTCUYNMRDOGD7CGDLE352S72MBKAGLWS4LGC6S2AJYJEVKW6Z \ / AMOS7 \ YOURUM ::
#\[7]GAVNBS6TS3NHZI27XENTSN67OYAEG22UWLZ4MTNSHIHWGLM75AAA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
