## [:< ##

# name  = start.cfg
# descr = 'branch' zenka startup configuration used by 'v7' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

  ## no idle timeout — branch is shared infrastructure, stays up once started ##

#,,,.,,.,,..,,..,,..,,,..,..,,,..,,.,,.,,,,.,,..,,...,...,.,.,,.,,,..,.,,,,..,
#NW2IY24ESGWFD3OZ5AXIGXOCWMDM4ARVJMEBGCJDQCIKZ7FOO3V64L4OXVVZPQRLKWKKOX5NFXQSI
#\\\|L5KAWG5RWR6COVU24KME2G2POW6NLAHZMSOJ2RPAELMMKMI235M \ / AMOS7 \ YOURUM ::
#\[7]Y2ED4PEE3CWHDOQYLDH7EGJHLKE7IPY6LPDBSDUTWK6IITM7N4BQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
