## [:< ##

# name  = start.cfg
# descr = 'branch' zenka startup configuration used by 'v7-zenki' zenka

dependencies       = cube
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

  ## no idle timeout — branch is shared infrastructure, stays up once started ##

#,,,,,,,.,..,,,.,,,..,...,..,,..,,..,,,,.,.,,,..,,...,...,,..,,..,,..,.,.,,,.,
#32FWDZJFPPTLLXWDIY5GAJXKLJG3UP6JX2XAXPVCCGLQNPZJS5EK6F3OPZFFK735DUSQTH3D2HHSQ
#\\\|7Z6MFFOIJBUD2OGBWLH3HYVZ7IZWWVQMC3CVYMSRLS6JNOKT6DF \ / AMOS7 \ YOURUM ::
#\[7]VCJAWYKTFNXSE6CNJEVJAZDXF7DPJY4K3CVYVTZVVZSEEFRKYOCI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
