# >:]

# name  = fs.cmd.mount
# param = [dev] <mount-point>
# descr = mount the specified device or filesystem

my ( $mount_point, $device ) = reverse split( m| +|, $$call{'args'}, 2 );
return { 'mode' => 'nak', 'data' => 'expected mount-point parameter' }
    if not defined $mount_point;
$mount_point =~ s|/+$|| if length($mount_point) > 1;

my $bin_mount = qw| /bin/mount |;    ## auto-detect ##

my $status = <[fs.is_mounted]>->($mount_point);

return {
    'mode' => 'nak',
    'data' => 'specified mount-point does not exist'
    }
    if not defined $device and $status == -1 or !-d $mount_point;

return {
    'mode' => 'nak',
    'data' => 'specified device does not exist'
    }
    if defined $device and !-e $device;

return { 'mode' => 'nak', 'data' => 'already mounted' } if $status == 1;

if ( not defined $device ) {
    <[base.log]>->( 1, "mounting '$mount_point'.," );
    if ( system( $bin_mount, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": mounting was not successful ['$mount_point']" );
        return {
            'mode' => 'nak',
            'data' => 'mounting was not successful'
        };
    }
} else {
    <[base.log]>->( 1, "mounting $device to $mount_point .," );
    if ( system( $bin_mount, $device, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": unable to mount $device to $mount_point" );
        return {
            'mode' => 'nak',
            'data' => "unable to mount $device to $mount_point"
        };
    }
}

return { 'mode' => 'ack', 'data' => 'successfully mounted' };

#.............................................................................
#N7Y7F7TGLBQJ75QDLOBHFIWSLDPC7YV6SETEDQEG737QHOGKOMYT6QCRAMVCWR6PNRXR6UPXKMSC6
#::: S6AKAAAQVL2F546BVGGFHPLAHG4YOP7AVWFEQD53NOW4BSPYEKC :::: NAILARA AMOS :::
# :: CYZJFXMOB3YHQKIFD7PQZ5T65SJLH46E7S55GABAF7PWPOYT4CCQ :: CODE SIGNATURE ::
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
