# >:]

# name  = fs.cmd.mount
# param = [dev] <mount-point>
# descr = mount the specified device or filesystem

my ( $mount_point, $device ) = reverse split( m| +|, $$call{'args'}, 2 );
return { 'mode' => 'false', 'data' => 'expected mount-point parameter' }
    if not defined $mount_point;
$mount_point =~ s|/+$|| if length($mount_point) > 1;

my $bin_mount = qw| /bin/mount |;    ## auto-detect ##

my $status = <[fs.is_mounted]>->($mount_point);

return {
    'mode' => 'false',
    'data' => 'specified mount-point does not exist'
    }
    if not defined $device and $status == -1 or !-d $mount_point;

return {
    'mode' => 'false',
    'data' => 'specified device does not exist'
    }
    if defined $device and !-e $device;

return { 'mode' => 'false', 'data' => 'already mounted' } if $status == 1;

if ( not defined $device ) {
    <[base.log]>->( 1, "mounting '$mount_point'.," );
    if ( system( $bin_mount, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": mounting was not successful ['$mount_point']" );
        return {
            'mode' => 'false',
            'data' => 'mounting was not successful'
        };
    }
} else {
    <[base.log]>->( 1, "mounting $device to $mount_point .," );
    if ( system( $bin_mount, $device, $mount_point ) != 0
        or !<[fs.is_mounted]>->($mount_point) ) {
        <[base.log]>->( 0, ": unable to mount $device to $mount_point" );
        return {
            'mode' => 'false',
            'data' => "unable to mount $device to $mount_point"
        };
    }
}

return { 'mode' => 'true', 'data' => 'successfully mounted' };

#.............................................................................
#ACXVC75GBJO7M7OE7H7FTSYZRIKPL6EU6LB6UDY5BHMO3XH4CNTB732KCWV4T62GO6PIP4SSMTSBS
#::: D4CQFD6T6563KEM2RRUXXHYHUCOLE6XZ5SNONU4JRPANBGJGRAI :::: NAILARA AMOS :::
# :: S27M5U22UUNEMWOPTTARXNDMNIYBXLMB26QX5UIKHN3FMEOCAYAQ :: CODE SIGNATURE ::
# ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
