## [:< ##

# name  = start.cfg
# descr = 'image-quality' zenka startup configuration used by 'v7-zenki' zenka

dependencies    = cube models lm-vision
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  image-quality.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<image-quality.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{image-quality.key}>']

#,,,,,,,.,.,,,.,,,...,,..,,,,,,.,,,.,,...,,.,,..,,...,...,..,,...,,,.,,,,,,,,,
#DQBKDJ6JRQMAAOXAAGSP7TW5XVHHVNFCEBX4VR7YPBE7AWN3BASPKKL3ZTQSHGWRTVBTLM2D4UV26
#\\\|SKVA57ZEUU6UQXW4JUBK57QBKNKFEBRSF4SFGNNVCWDRSGHA34O \ / AMOS7 \ YOURUM ::
#\[7]2ZL3YJX4OMHINK42ZP2AHIHXY4WLUVAUZOWHLN5EMPSKAYH4F6AQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
