## [:< ##

# name  = start.cfg
# descr = 'image-quality' zenka startup configuration used by 'v7' zenka

dependencies    = cube models lm-vision
max_concurrency = 1

: v7-init :
  start_mode = stdin-zenka
  image-quality.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<image-quality.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{image-quality.key}>']

#,,.,,,.,,,,.,.,,,.,.,...,,,.,,.,,..,,.,,,,,.,..,,...,..,,...,...,..,,.,.,...,
#PN2CILTZSCQEHPCSOKVUNZHAEALQ6K2JERP5SH5KPIPSA4767T5NBN6U7EM62UHN5FDKAJWPUE5GS
#\\\|PMBK6UEJV4T2KTS5FMYZL7HF6BAOJHZGH3ON2XBIBNI5DMO5IQC \ / AMOS7 \ YOURUM ::
#\[7]JXQXQOFDCK2SIXHBS7RVZL4IZPS3QYJGODQ4VAL2527I35JDWSDY 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
