## [:< ##

# name  = start.cfg
# descr = 'workspace-transfer' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,,,,.,,...,,,.,...,...,,.,,,,.,,.,,...,.,.,..,,...,...,.,,,,..,.,.,.,,,,..,
#NJHHKOLQYQ3OFCBDQF3CCYJ2PECA5USAPA34HDO4NEDRKRBL4GOQNIB2REYHOBFBBQ6SV2NNHP2XI
#\\\|CGO66RS6OUXWDZQKAZI6QEL5MTAXWKQEFQBKXSVQ3SLAB63GTUX \ / AMOS7 \ YOURUM ::
#\[7]7X2YP5OFB7SB554MIQQDKL2OFJLXFMYPKWYYTBJBSK4K3XSTCQDA 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
