## [:< ##

# name  = start.cfg
# descr = 'workspace-transfer' zenka startup configuration used by 'v7' zenka

dependencies = cube
start.on-demand = 1
restart.disabled = 1

: v7-init :
  start_mode = stdin-zenka
  cube.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<cube.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{cube.key}>']

#,,,.,.,.,.,,,...,.,.,,,.,...,..,,..,,,,,,.,.,..,,...,...,,..,,,.,..,,.,.,,,.,
#JLIM7QHANV5V7WECZEFTDTGBZ6VO4WQ6WRZGD6W42MVWHNDDJ47PG2BNYXC3C7HOLWRTIR6WCRJJE
#\\\|ETBCBX3ISA46G7ZW4G6H4BGRJAW4EK6K5SPQQYKZEM5S6FSBOUB \ / AMOS7 \ YOURUM ::
#\[7]CJ4JYPVJRWSDYZPDCITPJ2ASJRY3VTWMWSUV4XROWX46Q5ILUACQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
