## [:< ##

# name  = start.cfg
# descr = 'lm-vision' zenka startup configuration used by 'v7' zenka

dependencies = cube models coding
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

# Access control for parent and child commands
access.cmd.usr.cube = commands heart reload verify-instance list show-buffer \
                      buffer-erase status info child.*

access.cmd.usr.parent = commands reload show-buffer status info *

: v7-init :
  start_mode = stdin-zenka
  lm-vision.key = [base.prng.chars-anum:44]
  [v7.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<lm-vision.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{lm-vision.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,..,,.,,,,,,.,,,,.,,...,...,,..,,.,,,..,.,,,..,,...,...,...,,..,.,,,,,.,.,,,
#RPLQCQB5OWE2B5YCMKX5EQTEXZRRS3MZRNTNS2HLVGSA3ONDHDRLRTYJEJQ7AZC7JP35NOTWW5ALC
#\\\|O3UIE5CVH42HIYOJB6R2J77SIY2VSBRU56G6BGJ3NFO6MM5O2B6 \ / AMOS7 \ YOURUM ::
#\[7]EZ57MNDF7CN4T2FX6AEWDMGBBPHBZM3CEH7FTIZXSNVKQK6LD6DI 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
