## [:< ##

# name  = start.cfg
# descr = 'lm-vision' zenka startup configuration used by 'v7-zenki' zenka

dependencies = cube models coding
start.on-demand    = 1
restart.disabled   = 1
heartbeat.disabled = 1
max_concurrency    = 1

# Access control for parent and child commands
access.cmd.usr.cube = commands heart reload verify-instance list show-buffer \
                      buffer-erase status info child.*

access.cmd.usr.parent = commands reload show-buffer status info *

: v7-init :
  start_mode = stdin-zenka
  lm-vision.key = [base.prng.chars-anum:44]
  [v7-zenki.callback.setup_zenka_key:<instance_id>,'<zenka_name>',<lm-vision.key>]

: zenka-init :
  [base.auth.set_zenka_key:'<{lm-vision.key}>']
  [base.zenki.set_ondemand_timeout:3600]

#,,.,,...,...,.,.,..,,,.,,..,,...,,..,.,,,,..,..,,...,...,...,,.,,,,.,,..,,,,,
#2UBEHNXAQXOXEWKI5PXMBK24GXY5O3FFIFO3YBSVY6G3CL5LWKRHGJ4EBFZ2RBDKOABRVU7WG2HIQ
#\\\|26XTKUAKNNFYQUG77RMYJTJYIQXVBAP3GA7LGOZNAYLL6RJD6EW \ / AMOS7 \ YOURUM ::
#\[7]XUOSSBZGNFS5WHK6OQGQRDCPLJ5UMNCEEHK5UW7TYJY2DQT7VMDQ 7  DATA SIGNATURE ::
#:::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
